{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

        <div class="card">

            <div class="card-header">
                <div class="">
                    <h1>{% trans "Truststore Details" %}</h1>
                </div>
            </div>

            <div class="card-body py-3">
                <div class="tp-card-centered-content">

                    <h2>General</h2>
                    <hr class="hr-m">
                    <div class="tp-kvp-list">
                        
                        {% include 'pki/truststores/sub_details.html' %}

                    </div>

                    <h2>Certificates</h2>
                    <hr class="hr-m">
                    {% for certificate in truststore.certificates.all %}
                        <h2 class="mb-2 ms-2">Certificate {{ forloop.counter }}</h2>
                        <div class="tp-kvp-list">
                            <div>
                                <div>Subject</div>
                                <div>
                                    {% for entry in certificate.subject.all %}
                                        <a href="{% url 'pki:certificate-detail' pk=certificate.id %}">{{ entry }}</a>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div>
                                <div>Issuer</div>
                                <div>
                                    {% for entry in certificate.issuer.all %}
                                        {{ entry }}<br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div>
                                <div>Common Name</div>
                                {% if certificate.common_name %}
                                    <div>{{ certificate.common_name }}</div>
                                {% else %}
                                    <div>N/A</div>
                                {% endif %}
                            </div>
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ certificate.serial_number }}</div>
                            </div>
                            <div>
                                <div>Fingerprint (SHA256)</div>
                                <div>{{ certificate.sha256_fingerprint }}</div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="card-footer">
                <div class="tp-card-btn-footer">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:truststores' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <a href="{% url 'pki:truststore-download' pk=truststore.id %}" class="btn btn-primary">{% trans 'Download' %}</a>
                </div>
            </div>
        </div>

{% endblock content %}