{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="GET">
        {% csrf_token %}

        <div class="card tp-card-centered">

                <div class="card-header">
                <div>
                    <h1>{% trans "Download Certificates" %}</h1>
                </div>
            </div>

            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>1 Trust-Store Selected</h2>
                    <hr>
                    <br>

                    <h2>Download Trust-Store</h2>
                    <div class="pt-2 pb-4">
                        <a class="btn btn-primary min-width-15" href="{% url 'pki:truststore-file-download' pk=truststore.id file_format='pem' %}">Download as PEM</a>
                        <a class="btn btn-primary min-width-15" href="{% url 'pki:truststore-file-download' pk=truststore.id file_format='pkcs7_der' %}">Download as DER</a>
                        <a class="btn btn-primary min-width-15" href="{% url 'pki:truststore-file-download' pk=truststore.id file_format='pkcs7_pem' %}">Download as PKCS#7 (PEM)</a>
                    </div>


                </div>
            </div>

            <div class="card-footer">
                <div class="tp-card-btn-footer">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:truststores' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </div>
            </div>

        </div>
    </form>
{% endblock content %}