{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="GET">
        {% csrf_token %}

        <div class="card tp-card-centered">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Download Truststores" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">
                    <div class="tp-card-split">
                        <div>Number of selected Truststore</div>
                        <div id="cert-count">{{ cert_count }}</div>
                    </div>
                    <hr>

                    <div class="tp-card-split">
                        <div>Truststore {{ forloop.counter }}</div>
                        <div><a class="btn btn-primary min-width-15" href="{% url 'pki:truststore_details' pk=truststore.id %}">Details</a></div>
                    </div>
                    <br>
                    <div class="tp-card-split">
                        <div>Common Name</div>
                        <div>{{ truststore.common_name }}</div>
                    </div>
                    <div class="tp-card-split">
                        <div>Serial Number</div>
                        <div>{{ truststore.serial_number }}</div>
                    </div>
                    <hr>

                        {{ form|crispy }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="tp-card-btn-footer">
                        <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                        <a href="{% url 'pki:truststores' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                        <button type="submit" class="btn btn-primary">{% trans "Download" %}</button>
                    </div>
                </div>
        </div>
    </form>
{% endblock content %}