{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="card">
        <div class="card-header tp-card-header">
            <h1>{% trans 'Truststores' %}</h1>
        </div>

        <div class="card-body text-start">

            {% render_table table %}

        </div>

        <div class="card-footer d-flex justify-content-between">
            <div class="d-flex">
                <div>
                    <button type="button" class="btn btn-primary me-1 tp-table-select-btn" data-tp-url="download/multiple">{% trans "Download selected" %}</button>
                </div>
                <div>
                     <button type="button" class="btn btn-secondary tp-table-select-btn" data-tp-url="delete">{% trans "Delete selected" %}</button>
                </div>
            </div>
            <div>
                <a class="btn btn-primary" href="{% url 'pki:truststores-add' %}">{% trans "Add New Trust Store" %}</a>
            </div>
        </div>

    </div>
{% endblock content %}