{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="card card-main" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header tp-card-header">
        <h1>{% trans "Truststores" %}</h1>
    </div>
    <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
        {% render_table table %}
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center tp-sticky-footer">
        <div>
            <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download">{% trans "Download selected" %}</button>
            <button type="button" class="btn btn-secondary tp-table-select-btn" data-tp-url="delete">{% trans "Delete selected" %}</button>
        </div>
        <a class="btn btn-primary" href="{% url 'pki:truststores-add' %}">{% trans "Add New Trust Store" %}</a>
  </div>
</div>

{% endblock content %}
