{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="card card-main text-center" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header tp-card-header" style="min-height: 40px;">
        {% if issuing_ca_cert %}
            <h1>{% trans "Certificates issued by the CA: " %} {{ issuing_ca_cert.common_name }}</h1>
        {% else %}
            <h1>{% trans "Certificates" %}</h1>
        {% endif %}
    </div>
    <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
        {% render_table table %}
    </div>
    <div class="card-footer tp-table-footer-btn-group d-flex justify-content-between align-items-center" style="position: sticky; bottom: 0; background-color: #fff; min-height: 55px;">
        <button type="button" id="tp-table-select-btn" class="btn btn-primary" data-tp-url="download/multiple">
            {% trans "Download selected" %}
        </button>
    </div>
</div>

{% endblock content %}
