{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}

    <div class="card card-main text-center">
        <div class="card-header tp-card-header">
            <h1>{% trans "Certificates" %}</h1>
            <div></div>
            <a id="modal-button" type="button" class="btn btn-primary" href="">
                {% trans "Add new Certificates" %}
            </a>
        </div>
        <div class="card-body text-start">

            {% render_table table %}

        </div>

    </div>
{% endblock content %}