{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}

    <div class="card card-main text-center">
        <div class="card-header tp-card-header">
            <h1>{% trans "Certificates" %}</h1>
        </div>
        <div class="card-body text-start">



        </div>
        <div class="card-footer tp-table-footer-btn-group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#downloadModal">{% trans "Download selected" %}</button>
        </div>


    </div>
{% endblock content %}