{% load i18n %}
{% block general %}
    <h2>General</h2>
    <hr class="hr-m">
    <div class="tp-kvp-list">
        <div>
            <div>Certificate Version</div>
            <div>{{ cert.get_version_display }}</div>
        </div>
        <div>
            <div>{% trans 'Serial Number' %}</div>
            <div>{{ cert.serial_number }}</div>
        </div>
        <div>
            <div>Fingerprint (SHA256)</div>
            <div>{{ cert.sha256_fingerprint }}</div>
        </div>
        <div>
            <div>Certificate Status</div>
            <div>{{ cert.get_certificate_status }}</div>
        </div>
        {% if cert.get_certificate_status == 'Revoked' %}
        <div>
            <div>Revocation Reason</div>
            <div>{{ cert.revocation_reason }}</div>
        </div>
        {% endif %}
    </div>
{% endblock general %}