{% load i18n %}

{% block certificate_hierarchy %}
    <br><br><h2>Certificate Hierarchy</h2>
    <hr>

    <div class="tp-card-split">
        <div>Issuer</div>
        <div>
            {% for entry in cert.issuer.all %}
                {{ entry }}<br>
            {% endfor %}
        </div>
    </div>

    <div class="tp-card-split">
        <div>Cross signed certificate</div>
        <div>{{ cert.is_cross_signed }}</div>
    </div>

    <div class="tp-card-split">
        <div>Issuer References</div>
        <div>
            {% for entry in cert.issuer_references.all %}
                <a href="{% url 'pki:certificate-detail' pk=entry.id %}">
                    {% if entry.common_name %}
                        commonName={{ entry.common_name }}
                    {% else %}
                        {% trans 'Issuer CA Certificate' %}
                    {% endif %}
                </a><br>
            {% endfor %}
        </div>
    </div>


{#    {% if cert.certificate_hierarchy_type != 'E' %}#}
{#        <div class="tp-card-split">#}
{#            <div>Issued Certificates</div>#}
{#            <div>#}
{#                {% for cert in cert.issued_certs.all %}#}
{#                    <a href="{% url 'pki:certificate-detail' pk=cert.id %}">#}
{#                        {% if cert.common_name %}#}
{#                            CN: {{ cert.common_name }}#}
{#                        {% else %}#}
{#                            Serial: {{ cert.serial_number }}#}
{#                        {% endif %}#}
{#                    </a>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{% endblock certificate_hierarchy %}