{% load i18n %}

{% block signature %}
    <br><br><h2>{% trans 'Signature' %}</h2>
    <hr>

    <div class="tp-card-split">
        <div>Signature Algorithm OID</div>
        <div>{{ cert.signature_algorithm_oid }}</div>
    </div>

    <div class="tp-card-split">
        <div>Signature Algorithm</div>
        <div>{{ cert.signature_algorithm }}</div>
    </div>

    {% if cert.signature_algorithm_padding_scheme != 'None' %}
        <div class="tp-card-split">
            <div>Signature Algorithm Padding Scheme</div>
            <div>{{ cert.signature_algorithm_padding_scheme }}</div>
        </div>
    {% endif %}

    {% if cert.issuer and cert.issuer.spki_ec_curve_oid %}
        <div class="tp-card-split">
            <div>Signature Curve OID</div>
            <div>{{ cert.issuer.spki_ec_curve_oid }}</div>
        </div>
    {% endif %}

    {% if cert.issuer and cert.issuer.spki_ec_curve %}
        <div class="tp-card-split">
            <div>Signature Curve</div>
            <div>{{ cert.issuer.spki_ec_curve }}</div>
        </div>
    {% endif %}

    <div class="tp-card-split">
        <div>Signature Algorithm Key Size</div>
        <div>
            {% if cert.issuer %}
                {{ cert.issuer.spki_key_size }} Bits
            {% else %}
                {{ cert.spki_key_size }} Bits
            {% endif %}
        </div>
    </div>
{% endblock signature %}