{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load django_tables2 %}
{% block content %}
{% load static %}
    <script src="{% static 'js/domains.js' %}"></script>
    <div class="card tp-card-centered">
        <div class="card-header">
            <h1>{{ domain.unique_name }} {% trans "Configuration" %}</h1>
        </div>

        <form method="POST" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card tp-card-centered">
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <div class="card-body">
                            <h3>General</h3>
                            <hr class="hu-mb">
                            <div class="tp-card-split">
                                <div>{% trans 'Unique Name' %}</div>
                                <div> {{ domain.unique_name }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'URL Path Segment' %}</div>
                                <div> {{ domain.get_url_path_segment }} </div>
                            </div><br>
                            <h5>{% trans 'Devices in Domain' %}</h5>
                            <div class="tp-card-split">
                                <div>{% trans 'Pending devices' %}</div>
                                <div> {{ devices_count.P|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Running devices' %}</div>
                                <div> {{ devices_count.R|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Onboarded devices' %}</div>
                                <div> {{ devices_count.O|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Failed devices' %}</div>
                                <div> {{ devices_count.F|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Revoked devices' %}</div>
                                <div> {{ devices_count.D|default:0 }} </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Issuing CA</h3>
                            <hr class="hu-mb">
                            <div class="tp-card-split">
                                <div>{% trans 'Expires in' %}</div>
                                <div> {{ domain.issuing_ca.get_issuing_ca_certificate.not_valid_after }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Issuing CA Rollover' %}</div>
                                <div>NYI</div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Certificates Issued:' %}</div>
                                <div>{{ domain.issuing_ca.issued_certificates_count }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>OCSP Resonder</h3>
                            <hr class="hu-mb">
                            <div class="tp-card-split">
                                <div>OCSP Responder</div>
                                <div>NYI</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>PKI Protocol Configuration</h3>
                            <hr class="hu-mb">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Protocol</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                        <th>URL Path</th>
                                        <th>Details</th>
                                        <th>Config</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for protocol_name, protocol in protocols.items %}
                                        {% if protocol %}
                                            <tr class="v-middle">
                                                <td>{{ protocol_name }}</td>
                                                <td>
                                                    <input type="checkbox" name="protocols" value="{{ protocol_name }}" {% if protocol.status %}checked{% endif %}>
                                                </td>
                                                <td>{{ protocol.get_operation_list|length }}/{{ protocol.Operations|length }}</td>
                                                <td>{{ protocol.url_path }}</td>
                                                <td><a href="{% url 'pki:domains' %}" class="btn btn-primary tp-table-btn">{% trans 'Details' %}</a></td>
                                                <td>
                                                    <button type="button" class="btn btn-primary tp-table-btn config-button" data-url="{% url 'pki:protocol-config' protocol_name=protocol_name domain_id=domain.pk%}" data-bs-toggle="modal" data-bs-target="#configModal">
                                                        {% trans 'Config' %}
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Modal window -->
                            <div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="configModalLabel">Protocol Configuration</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>PKI Truststore Configuration</h3>
                            <hr class="hu-mb">
                            {% render_table trust_store_table   %}
                        </div>
                    </div>
                    <hr>
                    <div class="tp-form-btn-group">
                        <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                        <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}