{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load django_tables2 %}
{% block content %}
    <div class="card tp-card-centered">
        <div class="card-header">
            <h2>{{ domain.unique_name }} {% trans "Configuration" %}</h2>
        </div>

        <form method="POST" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card tp-card-centered">
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <div class="card-body">
                            <h3>General</h3>
                            <hr>
                            <div class="tp-card-split">
                                <div>{% trans 'Unique Name' %}</div>
                                <div> {{ domain.unique_name }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'URL Path Segment' %}</div>
                                <div> {{ domain.get_url_path_segment }} </div>
                            </div>
                            <h5>{% trans 'Devices in Domain' %}</h5>
                            <div class="tp-card-split">
                                <div>{% trans 'Pending devices' %}</div>
                                <div> {{ devices_count.P|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Running devices' %}</div>
                                <div> {{ devices_count.R|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Onboarded devices' %}</div>
                                <div> {{ devices_count.O|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Failed devices' %}</div>
                                <div> {{ devices_count.F|default:0 }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Revoked devices' %}</div>
                                <div> {{ devices_count.D|default:0 }} </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Issuing CA</h3>
                            <hr>
                            <div class="tp-card-split">
                                <div>{% trans 'Expires in' %}</div>
                                <div> {{ domain.issuing_ca.get_issuing_ca_certificate.not_valid_after }} </div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Issuing CA Rollover' %}</div>
                                <div>NYI</div>
                            </div>
                            <div class="tp-card-split">
                                <div>{% trans 'Certificates Issued:' %}</div>
                                <div>{{ domain.issuing_ca.issued_certificates_count }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>OCSP Resonder</h3>
                            <hr>
                            <div class="tp-card-split">
                                <div>OCSP Responder</div>
                                <div>NYI</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>PKI Protocol Configuration</h3>
                            <hr>
                            {% render_table protocol_table  %}
                        </div>
                        <div class="card-body">
                            <h3>PKI Truststore Configuration</h3>
                            <hr>
                            {% render_table trust_store_table   %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="tp-card-btn-footer">
                            <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                            <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}