{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="card card-main">
        <div class="card-header tp-card-header">
            <h1>{% trans 'Domains' %}</h1>

        </div>
{#            <div>#}
{#                <!-- Button trigger modal -->#}
{#                <a class="btn btn-primary" href="{% url 'pki:domains-add' %}">#}
{#                    {% trans "Add new Domain" %}#}
{#                </a>#}
{#            </div>#}

        <div class="card-body text-start">
            {% render_table table %}
        </div>

        <div class="card-footer d-flex justify-content-between">
            <div>
            <button type="button" id="tp-table-select-btn" class="btn btn-primary" data-tp-url="delete">{% trans "Delete selected" %}</button>
            </div>
            <div>
                <a class="btn btn-primary" href="{% url 'pki:domains-add' %}">
                    {% trans "Add new Domain" %}
                </a>
            </div>
        </div>

    </div>
{% endblock content %}
