{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header d-flex">
            <h1>{% trans 'Add DevId Registration Pattern' %}</h1>
        </div>
        <div class="card-body py-3">
            <form method="POST" id="add-devid-pattern">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <div class="tp-form-btn-group">
                    <a href="{% url 'pki:domains' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Add Pattern' %}
                    </button>
                </div>
            </form>

        </div>


    </div>
{% endblock content %}