{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Confirm DevID Pattern Delete' %}</h1>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <p>Are you sure you want to delete the registration pattern: <strong>{{ object.unique_name }}</strong>?</p>
                    </div>
                </div>
                <div class="card-footer d-flex">
                    <div class="tp-card-btn-footer m-1">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </form>
{% endblock content %}