{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Add New DevID Onboarding Pattern' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <a href="{% url 'pki:devid_registration_create' pk=domain.id %}" class="btn btn-primary min-width-30 mb-3">{% trans 'Use Existing Truststore' %}</a>
                    <br>
                    <a href="{% url 'pki:truststores-add-with-pk' pk=domain.id %}" class="btn btn-primary min-width-30 mb-5">{% trans 'Upload New Truststore' %}</a>
                </div>
            </div>
            <div class="card-footer d-flex tp-sticky-footer">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:domains' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
