{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card card-main text-center">
        <div class="card-header d-flex">
            <h1>Upload Issuing CA</h1>
        </div>
        <div class="card-body tp-main-centered pt-3 pb-4">

            <h2>Upload Issuing CA</h2>
            <hr>
            <h2 class="text-start pb-3">File Format</h2>

            <div class="tp-form-group-grid">

                <input class="form-check-input cursor" type="radio" name="file-type-radios" id="p12-file-radio" checked>
                <label class="form-check-label cursor" for="p12-file-radio" data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       title="Usually .p12 or .pfx file extensions. A single file containing the certificate, certificate chain and the private key.">
                    PKCS#12 Format
                </label>

                <input class="form-check-input cursor" type="radio" name="file-type-radios" id="pem-file-radio">
                <label class="form-check-label cursor" for="pem-file-radio" data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       title="Usually .crt, .cer, .pem, .der, .key, .der, .pem file extensions. PKCS#1 format for private keys are supported.">
                    PEM / DER Format
                </label>

            </div>

            <form method="POST" class="tp-main-form text-start" enctype="multipart/form-data" id="p12-file-form">
                {% csrf_token %}
                <fieldset class="form-group tp-form-group">

                    <hr>
                        {{ issuing_ca_p12_form|crispy }}
                        {{ p12_file_form|crispy }}
                </fieldset>
                <hr>
                <div class="form-group pt-2">
                    <button class="btn btn-primary w-100 mt-1" type="submit" name="p12-file-form">Upload Issuing CA</button>
                </div>
            </form>

            <form method="POST" class="tp-main-form" enctype="multipart/form-data" id="pem-file-form" hidden>
                {% csrf_token %}
                <fieldset class="form-group tp-form-group">

                    <hr>
                        {{ issuing_ca_pem_form|crispy }}
                        {{ pem_file_form|crispy }}
                </fieldset>
                <hr>
                <div class="form-group pt-2">
                    <button class="btn btn-primary w-100 mt-1" type="submit" name="pem-file-form">Upload Issuing CA</button>
                </div>
            </form>

        </div>
        <div class="card-footer text-body-secondary">

        </div>
    </div>
{% endblock content %}