alabaster==0.7.16
annotated-types==0.7.0
asgiref==3.8.1
asttokens==2.4.1
Babel==2.15.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
cryptography==42.0.7
devtools==0.12.2
Django==5.0.6
django-crispy-forms==2.1
django-extensions==3.2.3
django-ninja==1.1.0
django-tables2==2.7.0
docutils==0.21.2
executing==2.0.1
furo==2024.5.6
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyOpenSSL==24.1.0
python-devtools==2
requests==2.32.2
ruff==0.2.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sqlparse==0.5.0
-e git+ssh://gitolite-as-acsw/TrustPoint-Project/trustpoint.git@e5c9a43d4596f785a41e18c600ee98cce3011dd5#egg=trustpoint
typing_extensions==4.12.0
urllib3==2.2.1
Werkzeug==3.0.3
