{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="card card-main text-center">
    <div class="card-header d-flex">
        <h1>Network Configuration</h1>
    </div>
    <div class="card-body tp-main-centered pt-3 pb-4">

        <form method="POST" class="tp-main-form text-start" enctype="multipart/form-data" id="logging_configuration">
            {% csrf_token %}
            <fieldset class="form-group tp-form-group">
            <hr>
                    {{ logging_config_form|crispy }}
            </fieldset>
            <hr>
            <button class="btn btn-primary col ms-3 me-1" type="submit" name="logging_configuration">Save Configuration</button>
        </form>
    </div>
    <div class="card-footer text-body-secondary">

    </div>
</div>
{% endblock content %}