{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
        <div class="card-header">
            <h1>{% trans 'Logging' %}</h1>
        </div>
        <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th id="checkbox-column"><input type="checkbox"/></th>
                    <th>
                      <a href="?sort={% if current_sort == 'filename' %}-{% endif %}filename">
                        {% trans 'Log file' %}
                      </a>
                    </th>
                    <th>
                      <a href="?sort={% if current_sort == 'created_at' %}-{% endif %}created_at">
                        {% trans 'First log entry' %}
                      </a>
                    </th>
                    <th>
                      <a href="?sort={% if current_sort == 'updated_at' %}-{% endif %}updated_at">
                        {% trans 'Last log entry' %}
                      </a>
                    </th>
                    <th>{% trans 'View' %}</th>
                    <th>{% trans 'Download' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for logfile in log_files %}
                  <tr>
                    <td class="row_checkbox">
                      <input type="checkbox" name="row_checkbox" value="{{ logfile.filename }}" />
                    </td>
                    <td><a href="{% url 'settings:logging-files-details' filename=logfile.filename %}">{{ logfile.filename }}</a></td>
                    <td>{{ logfile.created_at }}</td>
                    <td>{{ logfile.updated_at }}</td>
                    <td><a href="{% url 'settings:logging-files-details' filename=logfile.filename %}"
                        class="btn btn-primary tp-table-btn">View</a>
                    </td>
                    <td><a href="{% url 'settings:logging-files-download' filename=logfile.filename %}"
                        class="btn btn-primary tp-table-btn">Download</a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="6">{% trans 'No log files available.' %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
              {% include 'trustpoint/pagination.html' %}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between tp-sticky-footer">
            <div class="tp-card-btn-footer m-1">
                <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download/tar.gz">
                    {% trans "Download selected (tar.gz)" %}
                </button>
                <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download/zip">
                    {% trans "Download selected (zip)" %}
                </button>
            </div>
        </div>
    </div>
    
{% endblock %}
