{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
    <div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
        <div class="card-header">
            <h1>{% trans "Logging" %}</h1>
        </div>
        <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
            {% render_table table %}
        </div>
        <div class="card-footer tp-table-footer-btn-group d-flex justify-content-between align-items-center tp-sticky-footer">
            <div>
                <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download/tar.gz">
                    {% trans "Download selected (tar.gz)" %}
                </button>
                <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download/zip">
                    {% trans "Download selected (zip)" %}
                </button>
            </div>
        </div>
    </div>
    
{% endblock %}
