{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Add new Issuing CA' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{% trans 'File Import' %}</h2>
                    <hr>

                    {{ form|crispy }}
                </div>
            </div>
            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-primary">{% trans 'Add new Issuing CA' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}