{% load static %}

<div class="card rounded-5 border-1 card-count-expired-container">
  <div class="card-body p-4">
    <!--header-->
    <div class="d-flex justify-content-between align-items-start mb-4">
      <h6 class="fs-5 mb-0">Expired Issuing CAs</h6>
    </div>
    <!--content-->
    <div class="d-flex align-items-end">
      <!--big number-->
      <p id="total_count_expired_ica" class="fw-bold display-3 lh-1 mb-0 me-2"></p>
      <!--badge-->
      <span
        class="d-inline-flex align-items-center border rounded-3 px-2 py-1 lh-1 position-relative card-count-delta">
        <span id="delta_count_expired_ica" class="small me-1 lh-1"></span>
        <i class="bi bi-caret-up-fill fs-6 lh-1"></i>
      </span>
    </div>
  </div>
</div>

<script>
  document.addEventListener('dashboardData', (event) =>{
    const {today, week} = event.detail;
    const active_today = today.issuing_ca_counts.expired;
    const delta = week.issuing_ca_counts.expired - active_today;

    document.getElementById('total_count_expired_ica').textContent = active_today;
    document.getElementById('delta_count_expired_ica').textContent = delta;

    updateDeltaIcon('delta_count_expired_ica', delta);

  });
</script>