<div class="card rounded-5 position-relative bar-chart-card-container">
  <div class="card-body">
    <h6 class="mb-3 fs-5">Certificates by Domain</h6>

    <div class="position-relative bar-chart-container">
      <canvas id="chart_certs_by_domain" class="bar-chart-canvas"></canvas>
    </div>

    <div id="chart_certs_by_domain_legend" class="mt-3 bar-chart-legend"></div>
  </div>
</div>

<script>
document.addEventListener('dashboardData', (event) => {
  const today = event.detail.today || {};
  const raw = today.cert_counts_by_domain || [];

  if (Object.keys(raw) === 0) return;

  const allItems = raw
    .map(row => ({
      label: row.domain_name,
      value: Number(row.cert_count) || 0
    }))
    .sort((a, b) => b.value - a.value);


  const labels = allItems.map(i => i.label) || [];
  const values = allItems.map(i => i.value) || [];

  if (allItems.length) {
    createHorizontalBarChart(
      labels,
      values,
      'chart_certs_by_domain',
      'chart_certs_by_domain_legend',
      'certsByDomain'
  )};
});
</script>