{% load static %}
{% load i18n %}

<script src="{% static 'js/dashboard/charts-tab.js' %}"></script>

<div class="row py-3 px-0">
  <h1>{% trans 'Charts' %}</h1>
</div>
<!-- Chart row -->
<div class="row p-3 shadow">
  <!-- table  Tab Navigation -->
  <ul class="nav nav-tabs" id="chartTabs">
    <li class="nav-alert">
      <a class="nav-link active" data-bs-toggle="tab" href="#deviceChartTab">Device</a>
    </li>
    <li class="nav-alert">
      <a class="nav-link" data-bs-toggle="tab" href="#certChartTab">Certificate</a>
    </li>
    <li class="nav-alert">
      <a class="nav-link" data-bs-toggle="tab" href="#caChartTab">CA</a>
    </li>
  </ul>

  <!-- chart Tab Content -->
  <div class="tab-content px-0">
    <div class="text-end py-2">
      <div class="btn-group" role="group" aria-label="Button group with active state">
        <!-- Button List -->
        <button
          class="filter-button active chart-period"
          onclick="fetchAndUpdateDashboardChartData('today')"
        >
          Today
        </button>
        <button
          class="filter-button chart-period"
          onclick="fetchAndUpdateDashboardChartData('last_week')"
        >
          Last Week
        </button>
        <button
          class="filter-button chart-period"
          onclick="fetchAndUpdateDashboardChartData('last_month')"
        >
          Last Month
        </button>
        <button
          class="filter-button chart-period"
          onclick="fetchAndUpdateDashboardChartData('life')"
        >
          All
        </button>
      </div>
    </div>
    <!-- device chart tab content -->
    <div class="tab-pane fade show active" id="deviceChartTab">
      <div class="row p-3">
        <div class="col-5 px-3 shadow">
          <h2 class="p-2">Devices by onboarding status</h2>
          <canvas id="devicesByOSLineChart" class="pb-2" width="400" height="200"></canvas>
        </div>
        <div class="col-3 px-3 shadow">
          <h2 class="p-2">Active devices by Domain</h2>
          <canvas id="devicesByDomainDonutChart" class="pb-2" width="200" height="200"></canvas>
        </div>
        <div class="col-4 shadow">
          <h2 class="p-2">Devices by onboarding protocol</h2>
          <canvas id="devicesByOPBarChart" class="pb-2" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
    <!-- certificate chart tab content -->
    <div class="tab-pane fade" id="certChartTab">
      <div class="row p-3">
        <div class="col-5 shadow">
          <h2 class="p-2">Certificates By Status</h2>
          <canvas id="certsByStatusLineChart" class="pb-2" width="400" height="200"></canvas>
        </div>
        <div class="col-3 shadow">
          <h2 class="p-2">Certificates By Domain</h2>
          <canvas id="certsByDomainPieChart" class="pb-2" width="200" height="200"></canvas>
        </div>
        <div class="col-4 shadow">
          <h2 class="p-2">Certificates By Template</h2>
          <canvas id="certsByTemplateBarChart" class="pb-2" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
    <!-- CA chart tab content -->
    <div class="tab-pane fade" id="caChartTab">
      <div class="row p-3">
        <div class="col-3 shadow">
          <h2 class="p-2">Certificates By Issuing CA</h2>
          <canvas id="certsByIssuingCADonutChart" class="pb-2" width="200" height="200"></canvas>
        </div>
        <div class="col-6 shadow">
          <h2 class="p-2">Issued Certificates</h2>
          <canvas id="certsByDateStackChart" class="pb-2" width="400" height="200"></canvas>
        </div>
        <div class="col-3 shadow">
          <h2 class="p-2">Issuing CAs By Type</h2>
          <canvas id="issuingCAsByTypePieChart" class="pb-2" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>