{% load static %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 py-3">
  <div class="col mb-4">
    {% include 'home/dashboard_dount_chart.html' with title="Certificate Health" chartTitle="Certificates" identifier="certsByCounts" dataset="cert_counts" filter_type="as_of" filter_label="As of" default_preset="today" %}
  </div>
  <div class="col mb-4">
    {% include 'home/dashboard_bar_chart.html' with title="Certificates issued by Issuing CA" identifier="certByIca" dataset="cert_counts_by_issuing_ca" filter_type="date_range" filter_label="Date range" %}
  </div>
  <div class="col mb-4">
    {% include 'home/dashboard_bar_chart.html' with title="Certificates by Status" identifier="certByStats" dataset="cert_counts_by_status" filter_type="date_range" filter_label="Date range" %}
  </div>
  <div class="col mb-4">
    {% include 'home/dashboard_bar_chart.html' with title="Certificates by Profile" identifier="certByProf" dataset="cert_counts_by_profile" filter_type="date_range" filter_label="Date range" %}
  </div>
</div>
