{% load static %}
{% load i18n %}

<div class="row px-0 pt-5 pb-3 ps-1">
  <div class="col">
    <h1>Devices</h1>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
  {% url 'devices:devices' as devices_url %}
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Pending Enrollments" card_type="pending" identifier="pending_enrollments" dataset="device_dashboard_counts" data_key="pending" link_url=devices_url|add:'?enrollment_state=pending' %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Valid Domain Credentials" card_type="active" identifier="valid_domain_credential_devices" dataset="device_dashboard_counts" data_key="valid" link_url=devices_url|add:'?domain_credential_state=valid' %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Expiring Domain Credentials" card_type="expiring" identifier="expiring_domain_credential_devices" dataset="device_dashboard_counts" link_url=devices_url|add:'?domain_credential_state=expiring' %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Expired Domain Credentials" card_type="expired" identifier="expired_domain_credential_devices" dataset="device_dashboard_counts" link_url=devices_url|add:'?domain_credential_state=expired' %}
  </div>
</div>
