{% load static %}
{% load i18n %}

<div class="row px-0 pt-5 pb-3 ps-1">
  <div class="col">
    <h1>Issuing CA</h1>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
  <div class="col">
    {% url 'pki:ica' as ica_url %}
    {% include 'home/dashboard_card.html' with title="Active CAs" card_type="active" identifier="active_ica" dataset="issuing_ca_counts" link_url="ica_url" %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Expiring CAs" card_type="expiring" identifier="expiring_ica" dataset="issuing_ca_counts" %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Expired CAs" card_type="expired" identifier="expired_ica" dataset="issuing_ca_counts" %}
  </div>
</div>