{% load static %}
{% load i18n %}

<div class="row px-0 pt-5 pb-3 ps-1">
  <div class="col">
    <h1>Devices</h1>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
  <div class="col">
    {% url 'devices:devices' as device_url %}
    {% include 'home/dashboard_card.html' with title="Active Devices" card_type="active" identifier="active_devices" dataset="device_counts" link_url="device_url" %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Expiring Devices" card_type="expiring" identifier="expiring_devices" dataset="device_counts" %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Expired Devices" card_type="expired" identifier="expired_devices" dataset="device_counts" %}
  </div>
  <div class="col">
    {% include 'home/dashboard_card.html' with title="Pending Devices" card_type="pending" identifier="pending_devices" dataset="device_counts" %}
  </div>
</div>