{% load static %}
{% load i18n %}
<script src="{% static 'js/dashboard/counts-panel.js' %}"></script>

<div class="row py-3 px-0">
  <h1>{% trans 'Summary' %}</h1>
</div>
<!-- Number panels row -->
<div class="row py-3">
  <!-- number of Certificates-->
  <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow cursor" onclick="window.location.href = '{% url 'pki:certificates' %}'">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-key"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Certificates</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold" id="total-cert-count">
        </p>
        <div class="row px-3">
          <div class="col-6 p-0 small" id="active-cert-count"></div>
          <div class="col-6 p-0 small text-end" id="expired-cert-count"></div>
        </div>
        <div class="row pt-0 pb-1 mb-2 px-3">
          <div class="progress col-12 p-0" role="progressbar">
            <!-- First Section of the Progress Bar-->
            <div class="progress-bar progress-bar-striped bg-success" id="active-cert-progress"></div>
            <!-- Second Section of the Progress -->
            <div class="progress-bar progress-bar-striped bg-warning" id="expired-cert-progress"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- number of Expiring Certificates -->
  <div class="col-3">
    <div class="row p-2">
      <!-- TODO: The link should not only sort by not valid after, but also filter out any already expired certs -->
      <!-- Perhaps it's better to split it to expiring device credentials and expiring CAs, because the user cannot take action in the certificates view -->
      <div class="card count bg-gray shadow cursor" onclick="window.location.href = '{% url 'pki:certificates' %}?sort=not_valid_after'">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-key"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Expiring Certificates</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold" id="total-expiring-cert-count"></p>
        <div class="row p-0 px-3">
          <div class="col-6 small p-0" id="expiring-1day-cert-count"></div>
          <div class="col-6 small p-0 text-end" id="expiring-7days-cert-count"></div>
        </div>
        <div class="row pt-0 pb-1 mb-2 px-3">
          <div class="progress col-12 p-0" role="progressbar">
            <!-- First Section of the Progress Bar-->
            <div class="progress-bar progress-bar-striped bg-danger" id="expiring-1day-cert-progress"></div>
            <!-- Second Section of the Progress -->
            <div class="progress-bar progress-bar-striped bg-warning" id="expiring-7days-cert-progress"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Onboarded Devices -->
  <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow cursor" onclick="window.location.href = '{% url 'devices:devices' %}'">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-key"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Devices</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold"  id="total-device-count"></p>
        <div class="row p-0 px-3">
          <div class="col-6 small p-0" id="onboared-device-count"></div>
          <div class="col-6 small p-0 text-end" id="pending-device-count"></div>
        </div>
        <div class="row pt-0 pb-1 mb-2 px-3">
          <div class="progress col-12 p-0" role="progressbar">
            <!-- First Section of the Progress Bar-->
            <div class="progress-bar progress-bar-striped bg-success" id="onboared-device-progress"></div>
            <!-- Second Section of the Progress -->
            <div class="progress-bar progress-bar-striped bg-warning" id="pending-device-progress"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- number of issuing CAs -->
   <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow cursor" onclick="window.location.href = '{% url 'pki:issuing_cas' %}'">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-cpu"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Issuing CAs</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold" id="total-issuing-ca-count"></p>
        <div class="row p-0 px-3">
          <div class="col-6 small p-0" id="active-issuing-ca-count"></div>
          <div class="col-6 small p-0 text-end" id="expired-issuing-ca-count"></div>
        </div>
        <div class="row pt-0 pb-1 mb-2 px-3">
          <div class="progress col-12 p-0" role="progressbar">
            <!-- First Section of the Progress Bar-->
            <div class="progress-bar progress-bar-striped bg-success" id="active-issuing-ca-progress"></div>
            <!-- Second Section of the Progress -->
            <div class="progress-bar progress-bar-striped bg-warning" id="expired-issuing-ca-progress"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>