{% load static %}
{% load i18n %}

<div class="row px-0 pt-5 pb-3 ps-1">
  <div class="col">
    <h1>Devices</h1>
  </div>
</div>

<div class="row g-3">
  {% url 'devices:devices' as devices_url %}
  <div class="col-12 col-sm-6 col-lg">
    {% include 'home/dashboard_card.html' with title="Pending Enrollments" card_type="pending" identifier="pending_enrollments" dataset="device_dashboard_counts" data_key="pending" link_url=devices_url|add:'?enrollment_state=pending' %}
  </div>
  <div class="col-12 col-sm-6 col-lg">
    {% include 'home/dashboard_card.html' with title="Expired Devices" card_type="expired" identifier="expired_devices" dataset="device_dashboard_counts" data_key="expired" link_url=devices_url|add:'?expired_device=1' %}
  </div>
  <div class="col-12 col-sm-6 col-lg">
    {% include 'home/dashboard_card.html' with title="Valid Domain Credentials" card_type="active" identifier="valid_domain_credential_devices" dataset="device_dashboard_counts" data_key="valid" link_url=devices_url|add:'?domain_credential_state=valid' %}
  </div>
  <div class="col-12 col-sm-6 col-lg">
    {% include 'home/dashboard_card.html' with title="Valid Application Certificates" card_type="active" identifier="valid_application_certificates" dataset="device_application_certificate_counts" data_key="active" link_url=devices_url|add:'?application_certificate_state=active' %}
  </div>
</div>
