{% load static %}
{% load i18n %}
<div class="row px-0 pt-2 pb-3 ps-1">
  <div class="col">
    <h1>Certificates</h1>
  </div>
</div>

{% url 'pki:certificates' as certs_url %}

<!-- panels row -->
<div class="row g-3">

  <!-- number of certificates-->
  <div class="col-12 col-sm-6 col-lg-3">
    {% include "home/dashboard_card.html" with title="Active Certificates" card_type="active" identifier="active_certs" dataset="cert_counts" link_url=certs_url %}
  </div>

  <!-- Expiring certificates summary -->
  <div class="col-12 col-sm-6 col-lg-3">
    {% include "home/dashboard_card.html" with title="Expiring Certificates" card_type="expiring_summary" identifier="expiring_certs" dataset="cert_counts" link_url=certs_url|add:'?expiry_state=expiring' %}
  </div>
</div>
