{% load static %}
{% load i18n %}

<div class="row px-0 pt-5 pb-3 ps-1">
  <div class="col">
    <h1>Issuing CAs</h1>
  </div>
</div>

{% url 'pki:cas' as cas_url %}

<div class="row g-3">
  <div class="col-12 col-sm-6 col-lg-3">
    {% include 'home/dashboard_card.html' with title="Active CAs" card_type="active" identifier="active_ica" dataset="issuing_ca_counts" link_url=cas_url %}
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    {% include 'home/dashboard_card.html' with title="Expiring CAs" card_type="expiring_summary" identifier="expiring_ica" dataset="expiring_issuing_ca_counts" summary_variant="annual" link_url=cas_url|add:'?expiry_state=expiring' %}
  </div>
</div>
