{% load i18n %}
{% load static %}

{% block content %}
    <div class="row py-3 px-0">
        <h1>{% trans 'Notifications' %}</h1>
    </div>

    <div class="filter-container d-flex align-items-center">

        <span>{% trans 'Filter' %}:</span>

        <!-- HTML Buttons for Filtering -->
        <div class="filter-buttons">
            <button type="button" class="filter-button filter-button-cri" onclick="toggleFilterType('CRI')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Critical' %}
            </button>
            <button type="button" class="filter-button filter-button-war" onclick="toggleFilterType('WAR')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Warning' %}
            </button>
            <button type="button" class="filter-button filter-button-inf" onclick="toggleFilterType('INF')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Info' %}
            </button>
            <button type="button" class="filter-button filter-button-set" onclick="toggleFilterType('SET')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Setup' %}
            </button>
        </div>

        <div class="vertical-separator"></div>


        <div class="filter-buttons">
            <button type="button" class="filter-button filter-button-s" onclick="toggleFilterSource('S')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'System' %}
            </button>
            <button type="button" class="filter-button filter-button-d" onclick="toggleFilterSource('D')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Domain' %}
            </button>
            <button type="button" class="filter-button filter-button-e" onclick="toggleFilterSource('E')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Device' %}
            </button>
            <button type="button" class="filter-button filter-button-i" onclick="toggleFilterSource('I')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Issuing CA' %}
            </button>
            <button type="button" class="filter-button filter-button-c" onclick="toggleFilterSource('C')">
                <svg class="icon" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'img/icons.svg' %}#icon-plus"></use>
                </svg>
                {% trans 'Certificate' %}
            </button>
        </div>

        <div class="vertical-separator"></div>

        <div class="filter-buttons" style="display: inline-block;">
            <button type="button" class="filter-button filter-button-today" onclick="setDateRange('today')">
                {% trans 'Today' %}
            </button>
            <button type="button" class="filter-button filter-button-last7days" onclick="setDateRange('last7days')">
                {% trans 'Last 7 Days' %}
            </button>
            <button type="button" class="filter-button filter-button-last30days" onclick="setDateRange('last30days')">
                {% trans 'Last 30 Days' %}
            </button>
            <button type="button" class="filter-button filter-button-all" onclick="setDateRange('all')">{% trans 'All' %}</button>
        </div>
    </div>

    <form id="filter-form" method="get">
        <input type="hidden" name="notification_type" id="notification_type_input">
        <input type="hidden" name="notification_source" id="notification_source_input">
        <input type="hidden" name="date_range" id="date_range_input">
    </form>

    <div>
        <table class="table">
            <thead>
              <tr>
                <!-- <th id="checkbox-column"><input type="checkbox"/></th> -->
                <th>
                  <a href="#" onclick="updateQueryParam(event, 'sort', 'notification_type')">
                    {% trans 'Type' %}
                  </a>
                </th>
                <th>
                  <a href="#" onclick="updateQueryParam(event, 'sort', 'notification_source')">
                    {% trans 'Source' %}
                  </a>
                </th>
                <th>{% trans 'Description' %}</th>
                <th>
                  <a href="#" onclick="updateQueryParam(event, 'sort', 'created_at')">
                    {% trans 'Created at' %}
                  </a>
                </th>
                <th>{% trans 'Details' %}</th>
              </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                <tr>
                    <!-- <td class="row_checkbox"> -->
                    <!--   <input type="checkbox" name="row_checkbox" value="{{ notification.id }}" /> -->
                    <!-- </td> -->
                    <td>{{ notification.type_badge }}</td>
                    <td>{{ notification.get_notification_source_display }}</td>
                    <td>{{ notification.short_translated }}</td>
                    <td>{{ notification.created }}</td>
                    <td><a href="{% url 'home:notification_details' notification.id %}" class="btn btn-primary tp-table-btn">
                        {% trans 'Details' %}
                    </a></td>
                </tr>
                {% empty %}
                <tr><td colspan="5" class="middle">{% trans 'No notifications available.' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'trustpoint/pagination.html' %}
    </div>

    <script>
        let selectedNotificationTypes = ['CRI', 'WAR', 'INF', 'SET']; // All types active by default    
        let selectedNotificationSources = ['S', 'D', 'E', 'I', 'C']; // All sources active by default
        let selectedDateRange = 'all';

        // Function to toggle notification type filters
        function toggleFilterType(type) {
            const button = document.querySelector(`.filter-button-${type.toLowerCase()}`);
            const icon = button.querySelector('use');

            if (button) {
                const index = selectedNotificationTypes.indexOf(type);
                if (index > -1) {
                    // Remove type from the selected list
                    selectedNotificationTypes.splice(index, 1);
                    button.classList.remove('active');
                    icon.setAttribute('xlink:href', "{% static 'img/icons.svg' %}#icon-plus");
                } else {
                    // Add type to the selected list
                    selectedNotificationTypes.push(type);
                    button.classList.add('active');
                    icon.setAttribute('xlink:href', "{% static 'img/icons.svg' %}#icon-minus");
                }

                // Update the hidden input with all selected types
                document.getElementById('notification_type_input').value = selectedNotificationTypes.join(',');

                // Submit the form only if both filters are correctly set
                submitFilters();
            }
        }

        // Function to toggle notification source filters
        function toggleFilterSource(source) {
            const button = document.querySelector(`.filter-button-${source.toLowerCase()}`);
            const icon = button ? button.querySelector('use') : null;

            if (button && icon) {
                const index = selectedNotificationSources.indexOf(source);
                if (index > -1) {
                    // Remove source from the selected list
                    selectedNotificationSources.splice(index, 1);
                    button.classList.remove('active');
                    icon.setAttribute('xlink:href', "{% static 'img/icons.svg' %}#icon-plus");
                } else {
                    // Add source to the selected list
                    selectedNotificationSources.push(source);
                    button.classList.add('active');
                    icon.setAttribute('xlink:href', "{% static 'img/icons.svg' %}#icon-minus");
                }

                // Update the hidden input with all selected sources
                document.getElementById('notification_source_input').value = selectedNotificationSources.join(',');

                // Submit the form only if both filters are correctly set
                submitFilters();
            }
        }

        function setDateRange(range) {
            // Deselect any previously active date range buttons
            if (selectedDateRange) {
                const previousButton = document.querySelector(`.filter-button-${selectedDateRange}`);
                if (previousButton) {
                    previousButton.classList.remove('active');
                }
            }

            // Set the new date range
            selectedDateRange = range;
            const button = document.querySelector(`.filter-button-${range}`);
            if (button) {
                button.classList.add('active');
            }

            // Update the hidden input for date range
            document.getElementById('date_range_input').value = range;

            // Submit the form
            submitFilters();
        }

        // Function to submit the form with both filters
        function submitFilters() {
            const urlParams = new URLSearchParams(window.location.search);

            // Update the URL parameters with the selected filters
            if (selectedNotificationTypes.length > 0) {
                urlParams.set('notification_type', selectedNotificationTypes.join(','));
            } else {
                urlParams.delete('notification_type');
            }

            if (selectedNotificationSources.length > 0) {
                urlParams.set('notification_source', selectedNotificationSources.join(','));
            } else {
                urlParams.delete('notification_source');
            }

            if (selectedDateRange) {
                urlParams.set('date_range', selectedDateRange);
            } else {
                urlParams.delete('date_range');
            }

            // reset pagination to avoid 404 if the filter changes the number of pages
            urlParams.delete('page');

            // Construct the new URL
            const newUrl = `${window.location.pathname}?${urlParams.toString()}`;

            // Redirect to the new URL
            window.location.href = newUrl;
        }

        // Function to load and set button states on page load
        function loadButtonStates() {
            const urlParams = new URLSearchParams(window.location.search);
            const notificationTypes = urlParams.get('notification_type');
            const notificationSources = urlParams.get('notification_source');
            const dateRange = urlParams.get('date_range');

            // Load notification type states
            if (notificationTypes) {
                selectedNotificationTypes = notificationTypes.split(',');
            }
            selectedNotificationTypes.forEach(type => {
                const button = document.querySelector(`.filter-button-${type.toLowerCase()}`);
                const icon = button.querySelector('use');
                if (button) {
                    button.classList.add('active');
                    icon.setAttribute('xlink:href', "{% static 'img/icons.svg' %}#icon-minus");
                }
            });

            // Load notification source states
            if (notificationSources) {
                selectedNotificationSources = notificationSources.split(',');
            }
            selectedNotificationSources.forEach(source => {
                const button = document.querySelector(`.filter-button-${source.toLowerCase()}`);
                const icon = button.querySelector('use');
                if (button) {
                    button.classList.add('active');
                    icon.setAttribute('xlink:href', "{% static 'img/icons.svg' %}#icon-minus");
                }
            });

            // Load date range state
            if (dateRange) {
                selectedDateRange = dateRange;
            }
            const button = document.querySelector(`.filter-button-${selectedDateRange}`);
            if (button) {
                button.classList.add('active');
            }
        }

        document.addEventListener('DOMContentLoaded', loadButtonStates);
    </script>

{% endblock %}
