{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
<div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
  <div class="card-header">
      <h1>{% trans 'TLS Certificates' %}</h1>
  </div>
  <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
    <div>
      <table class="table">
        <thead>
          <tr>
              <th id="checkbox-column"><input type="checkbox"/></th>
              <th>
                  <a href="?sort={% if current_sort == 'common_name' %}-{% endif %}common_name">
                      {% trans 'Common Name' %}
                  </a>
              </th>
              <th>
                  <a href="?sort={% if current_sort == 'not_valid_after' %}-{% endif %}not_valid_after">
                      {% trans 'Not valid after (UTC)' %}
                  </a>
              </th>
              <th>
                  <a href="?sort={% if current_sort == 'spki_algorithm' %}-{% endif %}spki_algorithm">
                      {% trans 'Public Key Algorithm' %}
                  </a>
              </th>
              <th>
                  <a href="?sort={% if current_sort == 'spki_key_size' %}-{% endif %}spki_key_size">
                      {% trans 'Public Key Size' %}
                  </a>
              </th>
              <th>
                  <a href="?sort={% if current_sort == 'spki_ec_curve' %}-{% endif %}spki_ec_curve">
                      {% trans 'Public Key Curve (ECC)' %}
                  </a>
              </th>
              <th>
                  <a
                      href="?sort={% if current_sort == 'certificate_status' %}-{% endif %}certificate_status">
                      {% trans 'Status' %}
                  </a>
              </th>
              <th>
                  <a href="?sort={% if current_sort == 'created_at' %}-{% endif %}created_at">
                      {% trans 'Created at' %}
                  </a>
              </th>
              <th>
                  <a href="?sort={% if current_sort == 'is_self_signed' %}-{% endif %}is_self_signed">
                      {% trans 'Self-Signed' %}
                  </a>
              </th>
              <th>{% trans 'Details' %}</th>
              <th>{% trans 'Download' %}</th>
              <th>{% trans 'In Use' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for tls_certificate in tls_certificates %}
          <tr>
              <td class="row_checkbox">
                  <input type="checkbox" name="row_checkbox" value="{{ tls_certificate.id }}" />
              </td>
              <td>{{ tls_certificate.common_name }}</td>
              <td>{{ tls_certificate.not_valid_after }}</td>
              <td>{{ tls_certificate.spki_algorithm }}</td>
              <td>{{ tls_certificate.spki_key_size }}</td>
              <td>{% if tls_certificate.spki_ec_curve%} {{ tls_certificate.spki_ec_curve }} {% else %}—{% endif %}</td>
              <td>{{ tls_certificate.certificate_status }}</td>
              <td>{{ tls_certificate.created_at }}</td>
              <td>{% if tls_certificate.is_self_signed == 1 %} ✔ {% else %} ✘ {% endif %}</td>
              <td><a href="{% url 'pki:certificate-detail' pk=tls_certificate.id %}" class="btn btn-primary tp-table-btn w-100">{% trans 'Details' %}</a></td>
              <td><a href="{% url 'pki:certificate-download' pk=tls_certificate.id %}" class="btn btn-primary tp-table-btn w-100">{% trans 'Download' %}</a></td>
               <td>
                {% if certificate and tls_certificate.pk == certificate.pk %}
                 ✔
                {% else %}
                <form method="POST" action="{% url 'management:activate-tls' pk=tls_certificate.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary tp-table-btn w-100">{% trans 'Activate' %}</button>
                </form>
                {% endif %}
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="11" class="middle">{% trans 'No certificates are available. Add an Issuing CA first.' %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include 'trustpoint/pagination.html' %}
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
      <div class="tp-card-btn-footer m-1">
        <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download/tar.gz">
            {% trans "Download selected (tar.gz)" %}
        </button>
        <button type="button" class="btn btn-primary tp-table-select-btn" data-tp-url="download/zip">
            {% trans "Download selected (zip)" %}
        </button>
         <a class="btn btn-primary ms-2" href="{% url 'management:tls-add-method_select' %}">
              {% trans 'Add new TLS Certificate' %}
          </a>
      </div>
  </div>
</div>
{% endblock %}