{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}

    {% if messages %}
        <div class="messages tp-messages text-center">
            {% for message in messages %}
                <div class="tp-message alert
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                            alert-danger
                        {% else %}
                            alert-{{ message.tags }}
                        {% endif %}
                    {% endif %} d-flex" role="alert">

                    <svg class="bi flex-shrink-0 tp-msg-icon-margin" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                        <use xlink:href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"/></svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card tp-card-users text-center">
        <div class="card-header">
            <h1>{% trans "Trustpoint - Login" %}</h1>
        </div>
        <div class="card-body pt-3 pb-4">

            <form method="POST" class="text-start">
                {% csrf_token %}
                <fieldset class="form-group tp-form-group">
                    {{ form|crispy }}
                </fieldset>
                <hr>
                <div class="tp-form-btn-group tp-form-btn-group">
                    <button class="btn btn-primary w-100 mt-1" type="submit">{% trans "Login" %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}