{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <section class="tp-setup-form-shell">
        {% if messages %}
            <div class="messages tp-messages text-center tp-setup-form-messages">
                {% for message in messages %}
                    <div class="tp-message alert
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                alert-danger
                            {% else %}
                                alert-{{ message.tags }}
                            {% endif %}
                        {% endif %} d-flex" role="alert">

                        <svg class="bi flex-shrink-0 tp-msg-icon-margin" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                            <use href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"></use></svg>
                        <div>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card tp-setup-form-panel">
            <div class="card-header d-flex">
                <div>
                    <h1>{% trans "Logout" %}</h1>
                </div>
            </div>
            <div class="card-body py-3">
                <div class="tp-card-centered-content">
                    <p class="mb-0 text-start">{% trans "You have been logged out." %}</p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'users:login' %}" class="btn btn-primary">{% trans "Login again" %}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
