{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h1 class="h4 mb-0">{% trans "Password change required" %}</h1>
                </div>
                <div class="card-body">
                    <p class="text-body-secondary">{% trans "You must change your password before continuing." %}</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-end mt-4">
                            <button class="btn btn-primary" type="submit">{% trans "Change password" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}