{% extends 'trustpoint/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card card-main text-center">
            <div class="card-header d-flex">
                <h1>Details - Endpoint Profile</h1>
            </div>
            <div class="card-body tp-main-centered pt-3 pb-4">

                <h2 class="pt-5 text-start">Endpoint Profile</h2>
                <hr>
                <ul class="list-group list-group-flush text-start tp-form-grid-2-2">
                    <li class="list-group-item"><span><strong>Unique Endpoint Name:</strong></span><span>{{ object.unique_endpoint }}</span></li>
                    <li class="list-group-item"><span><strong>Issuing CA Unique Name:</strong></span><span>
                        {% if no_issuing_ca %}
                            {{ no_issuing_ca }}
                        {% else %}
                            {{ object.issuing_ca.unique_name }}
                        {% endif %}</span></li>
                </ul>

                {% for cert in certs %}

                    <h2 class="pt-5 text-start">{{ cert.heading }}</h2>
                    <hr>
                    <ul class="list-group list-group-flush text-start tp-form-grid-2-2">
                        {% for key, val in cert.items %}
                            {% if key != 'heading' %}
                                <li class="list-group-item"><span><strong>{{ key }}:</strong></span><span>{{ val }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}

                <div class="tp-form-btn-group tp-form-btn-group mt-5">
                    <a href="{% url 'pki:endpoint_profiles' %}" class="btn btn-primary">Back</a>
                </div>

            </div>
        </div>
    </form>

{% endblock content %}