{% extends 'trustpoint/base.html' %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="mb-1">{% trans 'Add Certificate Profile' %}</h1>
        <p class="mb-0 text-muted">{% trans 'Import a certificate profile from a file.' %}</p>
    </div>
    <div class="card-body text-start">
        <div class="tp-card-centered-content">
            <form id="import-certificate-profile-form" method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <section>
                    <div class="mb-3">
                        <h2 class="h4 mb-1">{% trans 'File Import' %}</h2>
                    </div>
                    <hr class="mb-4">
                    {{ form|crispy }}
                </section>
            </form>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a href="{% url 'pki:owner_credentials' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        <button type="submit" form="import-certificate-profile-form" class="btn btn-primary">{% trans 'Add Certificate Profile' %}</button>
    </div>
</div>



{% endblock content %}