{% load i18n %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">
                {% trans 'Allowed' %}
            </th>
            <th scope="col">
                {% trans 'Unique Name' %}
            </th>
            <th scope="col">
                {% trans 'Alias' %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for id, profile in profile_data.items %}
        <tr>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="cert_p_allowed_{{ id }}" name="cert_p_allowed_{{ id }}" aria-label="{% blocktranslate with name=profile.unique_name %}Allow certificate profile {{ name }}{% endblocktranslate %}" {% if profile.is_allowed %}checked{% endif %}>
                </div>
            </td>
            <td>{{ profile.unique_name }}</td>
            <td><input type="text" class="form-control" name="cert_p_alias_{{ id }}" value="{{ profile.alias }}" placeholder="{{ profile.unique_name }}"></td>
        </tr>
        {% empty %}
        <tr><td colspan="3" class="text-center text-muted py-5">{% trans 'No certificate profiles are configured.' %}</td></tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% include 'trustpoint/pagination.html' %}
{% endblock content %}