<div class="row py-3 px-0">
  <h1>Summary</h1>
</div>
<!-- Number panels row -->
<div class="row py-3 shadow">
  <!-- number of root CAs -->
  <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-cpu"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Number of Root CAs</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold">{{number_of_root_cas}}</p>
        <div class="row">
          <div class="col-5 small">Active: 2</div>
          <div class="col-5 offset-2 small p-0">Inactive: 0</div>
        </div>
        <div class="row pt-0 pb-1">
          <div class="progress col-5 p-0">
            <div
              class="progress-bar bg-progress progress-bar-striped w-100"
              role="progressbar "
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="progress col-5 p-0 offset-2">
            <div
              class="progress-bar bg-warning progress-bar-striped w-0"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- number of issuing CAs -->
  <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-key"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Number of Issuing CAs</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold">
          {{number_of_issuing_cas}}
        </p>
        <div class="row p-0">
          <div class="col-5 small">Active: 2</div>
          <div class="col-5 offset-2 small p-0">Inactive: 1</div>
        </div>
        <div class="row pt-0 pb-1">
          <div
            class="progress col-5 p-0"
            role="progressbar"
            aria-valuenow="66"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar progress-bar-striped" style="width: 66%"></div>
          </div>
          <div
            class="progress col-5 p-0 offset-2"
            role="progressbar"
            aria-valuenow="33"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar progress-bar-striped bg-warning" style="width: 34%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- number of endpoints -->
  <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-key"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Number of Endpoints</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold">{{number_of_endpoints}}</p>
        <div class="row p-0">
          <div class="col-5 small">Active: 3</div>
          <div class="col-5 offset-2 small p-0">Inactive: 1</div>
        </div>
        <div class="row pt-0 pb-1">
          <div
            class="progress col-5 p-0"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar progress-bar-striped" style="width: 75%"></div>
          </div>
          <div
            class="progress col-5 p-0 offset-2"
            role="progressbar"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar progress-bar-striped bg-warning" style="width: 25%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- number of devices -->
  <div class="col-3">
    <div class="row p-2">
      <div class="card count bg-gray shadow">
        <!-- <h2 class="text-center pb-4"><i class="bi bi-key"></i></h2> -->
        <h2 class="text-center pb-4 pt-2">Number of Devices</h2>
        <p style="font-size: 40px" class="text-center font-weight-bold">{{number_of_devices}}</p>
        <div class="row p-0">
          <div class="col-5 small">Onboard: 12</div>
          <div class="col-5 offset-2 small p-0">Notonboard: 3</div>
        </div>
        <div class="row pt-0 pb-1">
          <div
            class="progress col-5 p-0"
            role="progressbar"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar progress-bar-striped" style="width: 80%"></div>
          </div>
          <div
            class="progress col-5 p-0 offset-2"
            role="progressbar"
            aria-valuenow="20"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar progress-bar-striped bg-warning" style="width: 20%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
