{% extends 'trustpoint/base.html' %}
{% block content %}
{% include 'home/counts-panel.html' %}
{% include 'home/notifications-tab.html' %}
{% include 'home/charts-tab.html' %}

<script>
  var lineChartDevice, donutChartDevice, barChartDevice;
  var lineChartCert, donutChartCert, barChartCert;
  var lineChart, barChartCA, donutChartCA;
  async function fetchDasbhboardData() {
    try {
      const response = await fetch("/api/home/dashboard_data");
      console.log("res", response);
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      return await response.json();
    } catch (error) {
      console.error("Error fetching device count:", error);
      return null; // Handle the error appropriately
    }
  }

  // Function to update the device counts
  function updateDeviceCounts(deviceCounts) {
    console.log("deviceCounts", deviceCounts);

    document.getElementById("total-device-count").textContent = `${deviceCounts.total}`;
    document.getElementById("onboared-device-count").textContent = `Onboarded: ${deviceCounts.O}`;
    document.getElementById("pending-device-count").textContent = `Waiting: ${deviceCounts.P}`;
    // Update progress bars
    document.getElementById("onboared-device-progress").style.width = `${
      (deviceCounts.O * 100) / deviceCounts.total
    }%`;
    document.getElementById("pending-device-progress").style.width = `${
      (deviceCounts.P * 100) / deviceCounts.total
    }%`;
  }

  // Function to update the cert counts
  function updateCertCounts(certCounts) {
    console.log("certCounts", certCounts);
    // update certificate count panel
    document.getElementById("total-cert-count").textContent = `${certCounts.total}`;
    document.getElementById("active-cert-count").textContent = `Active: ${certCounts.active}`;
    document.getElementById("expired-cert-count").textContent = `Expired: ${certCounts.expired}`;
    // Update progress bars
    document.getElementById("active-cert-progress").style.width = `${
      (certCounts.active * 100) / certCounts.total
    }%`;
    document.getElementById("expired-cert-progress").style.width = `${
      (certCounts.expired * 100) / certCounts.total
    }%`;

    // update expiring certificate count panel
    document.getElementById(
      "total-expiring-cert-count"
    ).textContent = `${certCounts.expiring_in_7_days}`;
    document.getElementById(
      "expiring-1day-cert-count"
    ).textContent = `Next 24 hours: ${certCounts.expiring_in_1_day}`;
    document.getElementById(
      "expiring-7days-cert-count"
    ).textContent = `Next 7 days: ${certCounts.expiring_in_7_days}`;
    // Update progress bars
    document.getElementById("expiring-1day-cert-progress").style.width = `${
      (certCounts.expiring_in_1_day * 100) / certCounts.total
    }%`;
    document.getElementById("expiring-7days-cert-progress").style.width = `${
      (certCounts.expiring_in_7_days * 100) / certCounts.total
    }%`;
  }

  // Function to update the issuing ca counts
  function updateIssuingCACounts(issuingCACounts) {
    console.log("issuingCACounts", issuingCACounts);

    document.getElementById("total-issuing-ca-count").textContent = `${issuingCACounts.total}`;
    document.getElementById(
      "active-issuing-ca-count"
    ).textContent = `Active: ${issuingCACounts.active}`;
    document.getElementById(
      "expired-issuing-ca-count"
    ).textContent = `Expired: ${issuingCACounts.expired}`;
    // Update progress bars
    document.getElementById("active-issuing-ca-progress").style.width = `${
      (issuingCACounts.active * 100) / issuingCACounts.total
    }%`;
    document.getElementById("expired-issuing-ca-progress").style.width = `${
      (issuingCACounts.expired * 100) / issuingCACounts.total
    }%`;
  }

  function updateDeviceDounutChart(deviceOPCounts) {
    var donutChartDeviceEle = document.getElementById("donutChartDevice").getContext("2d");
    donutChartDevice != undefined ? donutChartDevice.destroy() : "";
    var chartLabels = [];
    var chartData = [];
    Object.entries(deviceOPCounts).forEach(([key, value]) => {
      console.log(key, value);
      chartLabels.push(key);
      chartData.push(value);
    });
    console.log(chartData, chartLabels);
    donutChartDevice = new Chart(donutChartDeviceEle, {
      type: "doughnut",
      data: {
        labels: chartLabels,
        datasets: [
          {
            data: chartData,
            borderWidth: 1,
            backgroundColor: ["#0d6efd", "#ffc107", "#d10c15"],
            hoverOffset: 4,
          },
        ],
      },
    });
  }

  function updateDeviceOPChart(deviceOPCounts) {
    var barChartDeviceEle = document.getElementById("barChartDevice").getContext("2d");
    barChartDeviceEle != undefined ? barChartDevice.destroy() : "";
    var chartLabels = [];
    var chartData = [];
    Object.entries(deviceOPCounts).forEach(([key, value]) => {
      console.log(key, value);
      chartLabels.push(key);
      chartData.push(value);
    });
    console.log(chartData, chartLabels);
    barChartDevice = new Chart(barChartDeviceEle, {
      type: "bar",
      data: {
        labels: chartLabels,
        datasets: [
          {
            label: "Number of Devices",
            data: chartData,
            borderColor: "#0d6efd",
            backgroundColor: "#0d6efd",
            tension: 0.4,
            fill: "true",
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: "true",
          },
        },
      },
    });
  }

  // Function to dashboard data
  async function fetchAndUpdateDashboardData() {
    const dashboardData = await fetchDasbhboardData();
    console.log("dashboardData", dashboardData);
    if (dashboardData) {
      if ("device_counts" in dashboardData) {
        updateDeviceCounts(dashboardData.device_counts);
      }
      if ("cert_counts" in dashboardData) {
        updateCertCounts(dashboardData.cert_counts);
      }
      if ("iussuing_ca_counts" in dashboardData) {
        updateIssuingCACounts(dashboardData.iussuing_ca_counts);
      }
      if ("device_op_counts" in dashboardData) {
        updateDeviceOPChart(dashboardData.device_op_counts);
      }
    }
  }

  // Call the function to fetch and display dashboard data
  fetchAndUpdateDashboardData();
  // every 20 seconds
  //setInterval(fetchAndUpdateDashboardData, 1000*20);

  document.addEventListener("DOMContentLoaded", function () {
    //device charts data from context
    var stackChartConfig = JSON.parse("{{ line_chart_device_config|escapejs }}");
    var donutChartDeviceConfig = JSON.parse("{{ donut_chart_device_config|escapejs }}");
    var barChartDeviceConfig = JSON.parse("{{ bar_chart_device_config|escapejs }}");

    //cert charts data from context
    var lineChartCertConfig = JSON.parse("{{ line_chart_cert_config|escapejs }}");
    var donutChartCertConfig = JSON.parse("{{ donut_chart_cert_config|escapejs }}");
    var barChartCertConfig = JSON.parse("{{ bar_chart_cert_config|escapejs }}");

    //CA charts data from context
    var barChartCAConfig = JSON.parse("{{ bar_chart_ca_config|escapejs }}");
    var lineChartConfig = JSON.parse("{{ line_chart_config|escapejs }}");
    var donutChartCAConfig = JSON.parse("{{ donut_chart_ca_config|escapejs }}");

    var chartTabEl = document.getElementById("chartTabs");
    var chartTab = new bootstrap.Tab(chartTabEl);
    // Initial update for the active chart tab
    var activeChartTabId = document
      .querySelector("#chartTabs .nav-link.active")
      .getAttribute("href")
      .substring(1);
    updateChartContent(activeChartTabId);

    // Add event listener to the charts tab for the 'shown.bs.tab' event
    chartTabEl.addEventListener("shown.bs.tab", function (event) {
      var targetId = event.target.getAttribute("href").substring(1);
      updateChartContent(targetId);
    });

    // function to update charts content based on chart tab id
    function updateChartContent(chartTabId) {
      //console.log("chartTabId", chartTabId);
      if (chartTabId == "deviceChartTab") {
        var lineChartDeviceEle = document.getElementById("lineChartDevice").getContext("2d");
        if (!lineChartDevice) lineChartDevice = new Chart(lineChartDeviceEle, stackChartConfig);

        var donutChartDeviceEle = document.getElementById("donutChartDevice").getContext("2d");
        if (!donutChartDevice)
          donutChartDevice = new Chart(donutChartDeviceEle, donutChartDeviceConfig);

        var barChartDeviceEle = document.getElementById("barChartDevice").getContext("2d");
        if (!barChartDevice) barChartDevice = new Chart(barChartDeviceEle, barChartDeviceConfig);
      } else if (chartTabId == "certChartTab") {
        var lineChartCertEle = document.getElementById("lineChartCert").getContext("2d");
        if (!lineChartCert) lineChartCert = new Chart(lineChartCertEle, lineChartCertConfig);

        var donutChartCertEle = document.getElementById("donutChartCert").getContext("2d");
        if (!donutChartCert) donutChartCert = new Chart(donutChartCertEle, donutChartCertConfig);

        var barChartCertEle = document.getElementById("barChartCert").getContext("2d");
        if (!barChartCert) barChartCert = new Chart(barChartCertEle, barChartCertConfig);
      } else if (chartTabId == "caChartTab") {
        // var lineChartEle = document.getElementById("lineChart").getContext("2d");
        // if(!lineChart)
        //   lineChart = new Chart(lineChartEle, lineChartConfig);

        var barChartCAEle = document.getElementById("barChartCA").getContext("2d");
        if (!barChartCA) barChartCA = new Chart(barChartCAEle, barChartCAConfig);

        var donutChartCAEle = document.getElementById("donutChartCA").getContext("2d");
        if (!donutChartCA) donutChartCA = new Chart(donutChartCAEle, donutChartCAConfig);
      }
    }
  });
</script>

{% endblock content %}
