{% extends 'trustpoint/base.html' %} {% block content %}
<div class="card card-main text-center">
  <div class="card-header">Dashboard</div>
  <div class="card-body">Hello world!</div>
  <div class="card-footer text-body-secondary"></div>
</div>
<!-- Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row p-3">
  <div class="col-5">
    <canvas id="lineChart" width="400" height="200"></canvas>
  </div>
  <div class="col-md-3">
    <div class="card bg-primary text-white" style="height: 100px">
      <!-- <div class="card-body">
        <p class="card-title">Current Number of Devices</p>
        <h5 class="card-text">Total: 50</h5>
      </div> -->
      <i class="bi bi-device-phone"></i>
      <p><i class="bi bi-device-phone"></i>Current Number of Devices</p>
      <h5 class="text-center">{{number_of_devices}}</h5>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var ctx = document.getElementById("lineChart").getContext("2d");
    var lineChartConfig = JSON.parse("{{ line_chart_config|escapejs }}");
    var lineChart = new Chart(ctx, lineChartConfig);
  });
</script>

{% endblock content %}
