{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trustpoint</title>
        <!-- theme.js must be loaded before content and statics to prevent a brief flash of the wrong color theme -->
        <script src="{% static 'js/theme.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts/bootstrap-icons.woff2' %}">
        <link rel="stylesheet" href="{% static 'css/trustpoint.css' %}">
        <link rel="stylesheet" href="{% static 'css/sysconf.css' %}">
        <link rel="icon" href="{% static 'img/favicon-32.png' %}">
        {% block head %}{% endblock head %}
    </head>

    <body id="bs-override">
        <div class="tp-content-wrapper">
            <header class="tp-page-header navbar border-bottom border-body">
                <a class="navbar-brand tp-primary" href="#">
                    <!--<img src="{% static 'img/tplogo-128.png' %}" width="64" height="45" alt="Trustpoint"></a> -->
                    <img src="{% static 'img/tplogo-horizontal-512.png' %}" alt="Trustpoint" id="tp-logo" class="light-only">
                    <img src="{% static 'img/tplogo-horizontal-whitepoint.png' %}" alt="Trustpoint" id="tp-logo" class="dark-only">
                    <!-- <img src="{% static 'img/tplogo-horizontal-0A74FF.png' %}" alt="Trustpoint" id="tp-logo" class="dark-only"> -->
                </a>
                <div class="d-flex">
                    <form class="d-flex" role="search" method="POST" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-mute btn-link tp-btn-link" type="submit">Logout</button>
                    </form>
                    <div class="theme-toggle">
                        <svg class="bi theme-icon dark-only" width="20" height="20" fill="#ffffff" role="img" aria-label="Change theme">
                            <use href="{% static 'img/icons.svg' %}#icon-sun-fill"/></svg>
                        <svg class="bi theme-icon light-only" width="20" height="20" fill="#000000" role="img" aria-label="Change theme">
                            <use href="{% static 'img/icons.svg' %}#icon-night"/></svg>
                    </div>
                </div>
            </header>


{#    <div class="container-fluid p-0 m-0 d-flex">#}
        <nav class="tp-sidenav">
            <div class="tp-menu-group">
                <a href="{% url 'home:dashboard' %}" class="tp-menu-head {% if page_name == 'dashboard' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-home"/></svg>
                    Dashboard
                </a>
            </div>

            <div class="tp-menu-group">
                <a href="{% url 'devices:devices' %}" class="tp-menu-head {% if page_category == 'devices' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-boxes"/></svg>
                    Devices
                </a>
            </div>

            <div class="tp-menu-group">
                <a href="{% url 'pki:endpoint_profiles' %}" class="tp-menu-head {% if page_category == 'pki' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-key"/></svg>
                    PKI
                    <div class="btn-collapse" data-category="pki"
                        aria-expanded="{% if page_category == 'pki' %}true{% else %}false{% endif %}">
                    </div>
                </a>
                <div class="tp-menu-collapse {% if page_category == 'pki' %}show{% endif %}">
                    <a href="{% url 'pki:endpoint_profiles' %}" class="tp-menu-item {% if page_name == 'endpoint_profiles' %}tp-menu-active{% endif %}">Endpoint Profiles</a>
                    <a href="{% url 'pki:issuing_cas' %}" class="tp-menu-item {% if page_name == 'issuing_cas' %}tp-menu-active{% endif %}">Issuing CAs</a>
                    <a href="{% url 'pki:root_cas' %}" class="tp-menu-item {% if page_name == 'root_cas' %}tp-menu-active{% endif %}">Root CAs</a>
                    <a href="{% url 'pki:truststores' %}" class="tp-menu-item {% if page_name == 'truststores' %}tp-menu-active{% endif %}">Truststores</a>
                </div>
            </div>

            <div class="tp-menu-group">
                <a href="{% url 'sysconf:logging' %}" class="tp-menu-head {% if page_category == 'sysconf' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-settings"/></svg>
                    Settings
                    <div class="btn-collapse" data-category="sysconf"
                        aria-expanded="{% if page_category == 'sysconf' %}true{% else %}false{% endif %}">
                    </div>
                </a>
                <div class="tp-menu-collapse {% if page_category == 'sysconf' %}show{% endif %}">
                    <a href="{% url 'sysconf:logging' %}" class="tp-menu-item {% if page_name == 'logging' %}tp-menu-active{% endif %}">Logging</a>
                    <a href="{% url 'sysconf:network' %}" class="tp-menu-item {% if page_name == 'network' %}tp-menu-active{% endif %}">Network</a>
                    <a href="{% url 'sysconf:ntp' %}" class="tp-menu-item {% if page_name == 'ntp' %}tp-menu-active{% endif %}">NTP</a>
                    <a href="{% url 'sysconf:ssh' %}" class="tp-menu-item {% if page_name == 'ssh' %}tp-menu-active{% endif %}">SSH</a>
                    <a href="{% url 'sysconf:security' %}" class="tp-menu-item {% if page_name == 'security' %}tp-menu-active{% endif %}">Security</a>
                </div>
            </div>
            <div class="tp-menu-footer">
                <!--<div class="tp-menu-group">
                    <a href="{% url 'users:logout' %}" class="tp-menu-head">
                        <svg class="bi" fill="currentColor" role="img">
                            <use href="{% static 'img/icons.svg' %}#icon-door"/></svg>
                        Logout
                    </a>
                </div>-->
                v0.1.0
            </div>
        </nav>

        <main class="tp-main">
            {% if messages %}
                <div class="messages tp-messages text-center">
                    {% for message in messages %}
                        <div class="tp-message alert
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    alert-danger
                                {% else %}
                                    alert-{{ message.tags }}
                                {% endif %}
                            {% endif %} d-flex align-items-center" role="alert">

                            <svg class="bi flex-shrink-0 me-2" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                                <use xlink:href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"/></svg>
                            <div>
                              {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock content %}
        </main>

    </div>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/trustpoint.js' %}"></script>
        <script src="{% static 'js/sysconf.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
    </body>

</html>
