{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trustpoint</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts/bootstrap-icons.woff2' %}">
        <link rel="stylesheet" href="{% static 'css/trustpoint.css' %}">
        <link rel="stylesheet" href="{% static 'css/sysconf.css' %}">
        <link rel="icon" href="{% static 'img/favicon-32.png' %}">
        {% block head %}{% endblock head %}
    </head>

    <body>

        <div class="tp-content-wrapper">
            <nav class="nav-header navbar border-bottom border-body tp-nav">
                <!-- <a class="navbar-brand tp-primary" href="#"><img src="{% static 'img/tplogo-128.png' %}" width="64" height="45" alt="Trustpoint"></a> -->
                <a class="navbar-brand tp-primary" href="#"><img src="{% static 'img/tplogo-test-horizontal-180.png' %}" alt="Trustpoint"></a>
                <div class="d-flex">
                    <form class="d-flex" role="search" method="POST" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-mute btn-link tp-btn-link" type="submit">Logout</button>
                    </form>
                    <div class="theme-toggle">
                        <svg class="bi theme-icon theme-icon-dark" width="20" height="20" fill="#ffffff" role="img" aria-label="Change theme">
                            <use href="{% static 'img/icons.svg' %}#icon-night"/></svg>
                        <svg class="bi theme-icon theme-icon-light" width="20" height="20" fill="#000000" role="img" aria-label="Change theme">
                            <use href="{% static 'img/icons.svg' %}#icon-sun"/></svg>
                    </div>
                </div>
            </nav>


{#    <div class="container-fluid p-0 m-0 d-flex">#}
        <aside class="tp-aside bg-tp-sidenav">
            <div class="tp-menu-group">
                <div class="tp-heading {% if page_category == 'home' %}tp-menu-active{% endif %}">Home</div>
                <a href="{% url 'home:dashboard' %}" class="tp-entry {% if page_name == 'dashboard' %}tp-menu-active{% endif %}">Dashboard</a>
            </div>
            <div class="tp-menu-group">
                <div class="tp-heading {% if page_category == 'devices' %}tp-menu-active{% endif %}">Devices</div>
                <a href="{% url 'devices:devices' %}" class="tp-entry {% if page_name == 'devices' %}tp-menu-active{% endif %}">Devices</a>
            </div>
            <div class="tp-menu-group">
                <div class="tp-heading {% if page_category == 'pki' %}tp-menu-active{% endif %}">PKI</div>
                <a href="{% url 'pki:endpoint_profiles' %}" class="tp-entry {% if page_name == 'endpoint_profiles' %}tp-menu-active{% endif %}">Endpoint Profiles</a>
                <a href="{% url 'pki:issuing_cas' %}" class="tp-entry {% if page_name == 'issuing_cas' %}tp-menu-active{% endif %}">Issuing CAs</a>
            </div>
            <div class="tp-menu-group">
                <div class="tp-heading {% if page_category == 'sysconf' %}tp-menu-active{% endif %}">SysConf</div>
                <a href="{% url 'sysconf:logging' %}" class="tp-entry {% if page_name == 'logging' %}tp-menu-active{% endif %}">Logging</a>
                <a href="{% url 'sysconf:network' %}" class="tp-entry {% if page_name == 'network' %}tp-menu-active{% endif %}">Network</a>
                <a href="{% url 'sysconf:ntp' %}" class="tp-entry {% if page_name == 'ntp' %}tp-menu-active{% endif %}">NTP</a>
                <a href="{% url 'sysconf:ssh' %}" class="tp-entry {% if page_name == 'ssh' %}tp-menu-active{% endif %}">SSH</a>
            </div>
        </aside>

        <main class="tp-main">
            {% if messages %}
                <div class="messages tp-messages text-center">
                    {% for message in messages %}
                        <div class="tp-message alert
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    alert-danger
                                {% else %}
                                    alert-{{ message.tags }}
                                {% endif %}
                            {% endif %} d-flex align-items-center" role="alert">

                            <svg class="bi flex-shrink-0 me-2" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                                <use xlink:href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"/></svg>
                            <div>
                              {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock content %}
        </main>

    </div>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/trustpoint.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        <script src="{% static 'js/sysconf.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
    </body>

</html>
