{% extends 'trustpoint/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header d-flex">
            <h1>{% trans 'Add Device' %}</h1>
        </div>
        <form method="POST" id="add-device-form">
            <div class="card-body py-3">
                {% crispy form %}
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Create Device' %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}