{% extends 'trustpoint/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header d-flex">
            <h1>{% trans 'Add Device' %}</h1>
        </div>
        <div class="card-body py-3">
            <form method="POST" id="add-device-form">
                {%  crispy form %}
                <hr>
                <div class="tp-form-btn-group">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Create Device' %}
                    </button>
                </div>
            </form>

        </div>


    </div>
{% endblock content %}