{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="">
                <h1>{% trans "Device configuration" %}</h1>
            </div>
        </div>
        <div class="card-body">

        </div>

        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="tp-card-btn-footer m-1">
                <button type="button" value="Back" class="btn btn-secondary btn-half" onClick="history.back()">{% trans 'Back' %}</button>
                <a href="{% url 'devices:devices' %}" class="btn btn-secondary btn-half">{% trans 'Cancel' %}</a>
                <a href="{% url 'devices:details' pk=device.pk%}" class="btn btn-primary disabled">{% trans 'Save' %}</a>
            </div>
        </div>
    </div>
{% endblock content %}