{% extends 'trustpoint/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="card">

    <div class="card-header">
        <h1 class="mb-1">
            {% if page_name == DEVICES_PAGE_DEVICES_SUBCATEGORY %}
                {% trans 'Create New Device' %}
            {% elif page_name == DEVICES_PAGE_OPC_UA_SUBCATEGORY %}
                {% trans 'Create New OPC UA GDS Server' %}
            {% elif page_name == DEVICES_PAGE_OPC_UA_GDS_PUSH_SUBCATEGORY %}
                {% trans 'Create New OPC UA GDS Push Application' %}
            {% elif page_name == DEVICES_PAGE_AGENTS_SUBCATEGORY %}
                {% trans 'Create New 1-to-1 Agent' %}
            {% endif %}
        </h1>

        <p class="mb-0 text-muted">
            {% if page_name == DEVICES_PAGE_DEVICES_SUBCATEGORY %}
                {% trans 'Register a new device and define its initial configuration in Trustpoint.' %}
            {% elif page_name == DEVICES_PAGE_OPC_UA_SUBCATEGORY %}
                {% trans 'Register a new OPC UA GDS server for certificate and trust management.' %}
            {% elif page_name == DEVICES_PAGE_OPC_UA_GDS_PUSH_SUBCATEGORY %}
                {% trans 'Register a new OPC UA application that will receive certificates through the GDS Push model.' %}
            {% elif page_name == DEVICES_PAGE_AGENTS_SUBCATEGORY %}
                {% trans 'Create a dedicated 1-to-1 agent and assign it to its target system.' %}
            {% endif %}
        </p>
    </div>

    <div class="card-body text-start">
        <div class="tp-card-centered-content">
            <form
                id="add-device-form"
                method="post"
                autocomplete="off"
            >
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center">
        <a
            href="{% url cancel_create_url %}"
            class="btn btn-secondary"
        >
            {% trans 'Cancel' %}
        </a>

        <button
            type="submit"
            form="add-device-form"
            class="btn btn-primary"
        >
            {% if page_name == DEVICES_PAGE_DEVICES_SUBCATEGORY %}
                {% trans 'Create Device' %}
            {% elif page_name == DEVICES_PAGE_OPC_UA_SUBCATEGORY %}
                {% trans 'Create OPC UA GDS Server' %}
            {% elif page_name == DEVICES_PAGE_OPC_UA_GDS_PUSH_SUBCATEGORY %}
                {% trans 'Create OPC UA GDS Push Application' %}
            {% elif page_name == DEVICES_PAGE_AGENTS_SUBCATEGORY %}
                {% trans 'Create 1-to-1 Agent' %}
            {% endif %}
        </button>
    </div>

</div>
{% endblock content %}