{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="">
                <h1>{% trans 'Device details' %}</h1>
            </div>
        </div>
        <div class="card-body">
            {% include 'devices/details/sub_details.html' with short=False %}
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="tp-card-btn-footer m-1">
                <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
            </div>
        </div>
    </div>
{% endblock content %}