{% load i18n %}
{% load sort_tags %}
{% load internationalization_tags %}
{% block devices_table %}
<table class="table" id="devices-table">
    <thead>
    <tr>
        <th id="checkbox-column"><input type="checkbox"/></th>
        <th class="text-nowrap" data-col="name">
            <a href="{% url_sort 'common_name' %}">
                {% trans 'Name' %} {{ request|sort_icon:'common_name' }}
            </a>
        </th>
        <th class="text-nowrap" data-col="domain">
            <a href="{% url_sort 'domain' %}">
                {% trans 'Domain' %} {{ request|sort_icon:'domain' }}
            </a>
        </th>
        {% if page_name != 'opc_ua_gds' %}
        <th class="text-nowrap" data-col="serial_number">
            <a href="{% url_sort 'serial_number' %}">
                {% trans 'Serial Number' %} {{ request|sort_icon:'serial_number' }}
            </a>
        </th>
        {% endif %}
        <th class="text-nowrap" data-col="created_at">
            <a href="{% url_sort 'created_at' %}">
                {% trans 'Created at' %} {{ request|sort_icon:'created_at' }}
            </a>
        </th>
        <th class="text-nowrap" data-col="onboarding">{% trans 'Onboarding' %}</th>
        <th class="text-nowrap" data-col="onboarding_protocol">{% trans 'Onboarding Protocol' %}</th>
        <th class="text-nowrap" data-col="pki_protocols">{% trans 'PKI Protocols' %}</th>
        <th class="text-nowrap" data-col="clm">{% trans 'Certificate Management' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for device in page_obj %}
    <tr>
        <td class="row_checkbox">
            <input type="checkbox" name="row_checkbox" value="{{ device.id }}"/>
        </td>
        <td data-col="name">{{ device.common_name }}</td>
        <td data-col="domain">
            {% if device.domain %}
            <a href="{% url 'pki:domains-detail' device.domain.pk %}">{{ device.domain }}</a>
            {% else %}
            No domain
            {% endif %}
        </td>
        {% if page_name != 'opc_ua_gds' %}
        <td data-col="serial_number">{{ device.serial_number }}</td>
        {% endif %}
        <td data-col="created_at">{{ device.created_at|local_datetime }}</td>
        <td data-col="onboarding">
            {% with p=device.onboarding_progress %}
            <span class="tp-status-badge tp-status-{{ p.status_key }}"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="{{ p.tooltip }}">
                <span class="tp-status-dot"></span>
                {{ p.status_label }}
            </span>
            {% endwith %}
        </td>
        <td data-col="onboarding_protocol">{{ device.onboarding_progress.onboarding_protocol }}</td>
        <td data-col="pki_protocols">{{ device.onboarding_progress.pki_protocols }}</td>
        <td data-col="clm">{{ device.clm_button| safe }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="12" class="middle">{% trans 'No devices have been added yet.' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock devices_table %}