{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header">
        <h1>{% trans 'OPC UA GDS' %}</h1>
    </div>

    <div class="card-body text-start" style="overflow: auto; flex-grow: 1; max-height: 90%;">
      {% include 'devices/details/devices_table.html' %}
      {% include 'trustpoint/pagination.html' %}
    </div>
      <div class="card-footer d-flex justify-content-between tp-sticky-footer">
          <div class="m-1">
          </div>
          <div class="m-1">
            <a class="btn btn-primary" href="{% url 'devices:opc_ua_gds-add' %}">
              {% trans "Add new OPC UA GDS" %}
            </a>
          </div>
        </div>
    </div>


{% endblock content %}
