{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header d-flex">
                <h1>
                    {% blocktranslate count counter=credentials|length %}
                    Confirm credential revocation
                    {% plural %}
                    Confirm revocation of {{ counter }} credentials
                    {% endblocktranslate %}
                </h1>
            </div>
            <div class="card-body pt-3 pb-3">
                {% for credential in credentials %}
                    <div class="tp-kvp-list">
                        <div>
                            <div>{% trans 'Common name' %}</div>
                            <div>{{ credential.common_name }}</div>
                        </div>
                        <div>
                            <div>{% trans 'Credential purpose' %}</div>
                            <div>{{ credential.get_issued_credential_purpose_display }}</div>
                        </div>
                        <div>
                            <div>{% trans 'Issued at' %}</div>
                            <div>{{ credential.created_at }}</div>
                        </div>
                        <div>
                            <div>{% trans 'Associated device' %}</div>
                            <div>{{ credential.device.unique_name }}</div>
                        </div>
                    </div>
                {% endfor %}
                <hr>

                <div class="form-group">
                    <label for="id_revocation_reason">{% trans 'Revocation Reason' %}</label>
                    <select id="id_revocation_reason" name="revocation_reason" class="form-control form-select">
                        {% for value, name in form.revocation_reason.field.choices %}
                            <option value="{{ value }}" {% if form.revocation_reason.value == value %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" value="Cancel" class="btn btn-secondary" onClick="history.back()">{% trans 'Cancel' %}</button>
                    <button type="submit" class="btn btn-danger">
                        {% blocktranslate count counter=credentials|length %}
                        Revoke credential
                        {% plural %}
                        Revoke {{ counter }} credentials
                        {% endblocktranslate %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
