{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Associate Trust Store with Device' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{% trans 'Choose Trust Store Association Method' %}</h2>
                    <p>{% trans 'You can either upload a new trust store or select an existing one to associate with this device.' %}</p>
                    <hr>
                    <a href="{% url 'pki:truststores-add-opc-ua-gds-push' device_pk=device.pk %}" class="btn btn-primary min-width-30 mb-3">{% trans 'Upload New Trust Store' %}</a>
                    <br>
                    <a href="{% url 'devices:opc_ua_gds_push_truststore_association' pk=device.pk %}" class="btn btn-primary min-width-30 mb-5">{% trans 'Select Existing Trust Store' %}</a>
                </div>
            </div>
            <div class="card-footer d-flex tp-sticky-footer">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'devices:opc_ua_gds_push_certificate_lifecycle_management' pk=device.pk %}" class="btn btn-secondary">{% trans 'Skip' %}</a>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}
