{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
    <script>icons = "{% static 'img/icons.svg' %}"</script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/onboarding.js' %}"></script>
    <script src="{% static 'js/copy_clipboard.js' %}"></script>
{% endblock head %}
{% block content %}

    <div class="card">
        <div class="card-header d-flex">
            <h1>{% blocktranslate %}Credential download authentication for {{ device_name }}{% endblocktranslate %}</h1>
        </div>
        <div class="card-body pt-3 pb-4">

            <div class="alert alert-info" role="alert">
                <strong>Workflow:</strong> Copy and open the <strong>Download URL</strong> in the browser of the target device.
                Then paste the <strong>OTP</strong> when prompted and follow the instructions.
            </div>

            <h2>Download URL</h2>
            <br>
            <div class="copy-container" style="position: relative;">
                <code class="command-text language-bash">
                    {{ download_url }}
                </code>

                <button type="button" class="copy-button" data-tooltip="Copy to clipboard" aria-label="Copy to clipboard">
                    <svg class="icon icon-copy" width="40" height="40" fill="currentColor">
                        <use xlink:href="{% static 'img/icons.svg' %}#icon-copy"></use>
                    </svg>
                </button>
            </div>
            <hr>

            <h2>OTP</h2>
            <br>
            <div class="copy-container" style="position: relative;">
                <code class="command-text language-bash" id="otp-display">
                    {{ otp }}
                </code>

                <button type="button" class="copy-button" data-tooltip="Copy to clipboard" aria-label="Copy to clipboard">
                    <svg class="icon icon-copy" width="40" height="40" fill="currentColor">
                        <use xlink:href="{% static 'img/icons.svg' %}#icon-copy"></use>
                    </svg>
                </button>
            </div>

        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="tp-card-btn-footer m-1">
                <a href="{% url 'devices:credential-download' pk=credential_id %}" class="btn btn-secondary">{% trans "Back" %}</a>
                <a href="{% url 'devices:browser_cancel' pk=credential_id %}" class="btn btn-danger">{% trans "Cancel" %}</a>
            </div>
        </div>
    </div>
{% endblock content %}
