{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
    <script>icons = "{% static 'img/icons.svg' %}"</script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/onboarding.js' %}"></script>
{% endblock head %}
{% block content %}
    <div class="card text-center">
        <div class="card-header d-flex">
            <h1>{% blocktranslate %}Credential download authentication for {{ device_name }}{% endblocktranslate %}</h1>
        </div>
        <div class="card-body pt-3 pb-4">
            <h2>OTP</h2>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <span id="otp-value" class="font-monospace">{{ otp }}</span>
                <button class="btn btn-primary min-width-15 mt-2" onclick="copyToClipboard(this,'#otp-value', true)">{% trans "Copy" %}</button>
            </div>
            <br>
            <h2>Download URL</h2>
            <div>
                <a href="{{ download_url }}" target="_blank" rel="noopener noreferrer">
                    {{ download_url }}
                </a>
            </div>
            
        </div>
        <div class="card-footer text-body-secondary">
            <a href="{% url 'devices:certificate_lifecycle_management' pk=device_id %}" class="btn btn-secondary">{% trans "Back" %}</a>
            <a href="{% url 'devices:browser_cancel' pk=credential_id %}" class="btn btn-danger">{% trans "Cancel" %}</a>
        </div>
    </div>
{% endblock content %}
