{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trustpoint</title>
        <script src="{% static 'js/theme.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/trustpoint.css' %}">
        <link rel="icon" href="{% static 'img/favicon-32.png' %}">
        {% block head %}{% endblock head %}
    </head>

    <body id="bs-override">
        <div class="tp-content-wrapper">
            <header class="tp-page-header navbar border-bottom border-body">
                <div class="menu-icon">
                    <svg id="menu-icon-menu" class="bi bi-size100" fill="currentColor" role="img" aria-label="Show Menu">
                        <use href="{% static 'img/icons.svg' %}#icon-menu"></use></svg>
                    <svg id="menu-icon-back" class="bi bi-size100 d-none" fill="currentColor" role="img" aria-label="Hide Menu">
                        <use href="{% static 'img/icons.svg' %}#icon-x"></use></svg>
                </div>
                <a class="navbar-brand tp-primary" href="{% url 'home:dashboard' %}">
                    <img src="{% static 'img/tp-logo-horizontal-512.png' %}" alt="Trustpoint" id="tp-logo" class="light-only">
                    <img src="{% static 'img/tp-logo-horizontal-white-point.png' %}" alt="Trustpoint" id="tp-logo" class="dark-only">
                </a>
                <div><!-- Intentionally empty for flex layout --></div>
            </header>


{#    <div class="container-fluid p-0 m-0 d-flex">#}
        <nav class="tp-sidenav">
            <div class="tp-menu-group">
                <a href="{% url 'home:dashboard' %}" class="tp-menu-head {% if page_name == 'dashboard' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-home"></use></svg>
                    {% translate "Dashboard" %}
                </a>
            </div>

            <div class="tp-menu-group">
                <a href="{% url 'devices:devices' %}" class="tp-menu-head {% if page_category == 'devices' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-boxes"></use></svg>
                    {% translate "Devices" %}
                </a>
            </div>

            <div class="tp-menu-group">
                <a href="{% url 'pki:domains' %}" class="tp-menu-head {% if page_category == 'pki' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-key"></use></svg>
                    {% translate "PKI" %}
                    <div class="btn-collapse" data-category="pki"
                        aria-expanded="{% if page_category == 'pki' %}true{% else %}false{% endif %}">
                    </div>
                </a>
                <div class="tp-menu-collapse {% if page_category == 'pki' %}show{% endif %}">
                    <a href="{% url 'pki:domains' %}" class="tp-menu-item {% if page_name == 'domains' %}tp-menu-active{% endif %}">{% trans 'Domains' %}</a>
                    <a href="{% url 'pki:issuing_cas' %}" class="tp-menu-item {% if page_name == 'issuing_cas' %}tp-menu-active{% endif %}">{% trans 'Issuing CAs' %}</a>
                    <a href="{% url 'pki:certificates' %}" class="tp-menu-item {% if page_name == 'certificates' %}tp-menu-active{% endif %}">{% trans 'Certificates' %}</a>
                    <a href="{% url 'pki:truststores' %}" class="tp-menu-item {% if page_name == 'truststores' %}tp-menu-active{% endif %}">{% trans 'Truststores' %}</a>
                </div>
            </div>

            <div class="tp-menu-group">
                <a href="{% url 'settings:language' %}" class="tp-menu-head {% if page_category == 'settings' %}tp-menu-active{% endif %}">
                    <svg class="bi" fill="currentColor" role="img">
                        <use href="{% static 'img/icons.svg' %}#icon-settings"></use></svg>
                        {% translate "Settings" %}
                    <div class="btn-collapse" data-category="settings"
                        aria-expanded="{% if page_category == 'settings' %}true{% else %}false{% endif %}">
                    </div>
                </a>
                <div class="tp-menu-collapse {% if page_category == 'settings' %}show{% endif %}">
                    <a href="{% url 'settings:language' %}" class="tp-menu-item {% if page_name == 'language' %}tp-menu-active{% endif %}">{% trans "Language" %}</a>
                    <a href="{% url 'settings:logging-files' %}" class="tp-menu-item {% if page_name == 'logging' %}tp-menu-active{% endif %}">{% trans "Logging" %}</a>
{#                    <a href="{% url 'settings:network' %}" class="tp-menu-item {% if page_name == 'network' %}tp-menu-active{% endif %}">{% trans "Network" %}</a>#}
{#                    <a href="{% url 'settings:ntp' %}" class="tp-menu-item {% if page_name == 'ntp' %}tp-menu-active{% endif %}">{% trans "NTP" %}</a>#}
                    <a href="{% url 'settings:security' %}" class="tp-menu-item {% if page_name == 'security' %}tp-menu-active{% endif %}">{% trans "Security" %}</a>
                </div>
            </div>
            <div class="tp-menu-footer">
                <div class="tp-menu-group">
                    <button class="tp-menu-head theme-toggle" type="button">
                        <svg class="bi theme-icon dark-only" width="20" height="20" fill="#ffffff" role="img" aria-label="Change theme">
                            <use href="{% static 'img/icons.svg' %}#icon-sun"></use></svg>
                        <span class="dark-only">{% trans "Light theme" %}</span>
                        <svg class="bi theme-icon light-only" width="20" height="20" fill="#000000" role="img" aria-label="Change theme">
                            <use href="{% static 'img/icons.svg' %}#icon-moon-stars"></use></svg>
                            <span class="light-only">{% trans "Dark theme" %}</span>
                    </button>
                    <form method="POST" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button class="tp-menu-head" type="submit">
                            <svg class="bi" fill="currentColor" role="img">
                            <use href="{% static 'img/icons.svg' %}#icon-door"></use></svg>
                            {% translate "Logout" %}
                        </button>
                    </form>

                </div>
                <div id="tp-version">
                    v0.2.0
                </div>
            </div>
        </nav>

        <main class="tp-main">
            {% if messages %}
                <div class="messages tp-messages text-center">
                    {% for message in messages %}
                        <div class="tp-message alert
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    alert-danger
                                {% else %}
                                    alert-{{ message.tags }}
                                {% endif %}
                            {% endif %} d-flex" role="alert">

                            <svg class="bi flex-shrink-0 tp-msg-icon-margin" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                                <use xlink:href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"></use></svg>
                            <div>
                              {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock content %}
        </main>

    </div>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/trustpoint.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
    </body>

</html>
