<!-- Pagination Controls -->
{% if is_paginated %}
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="#" onclick="updateQueryParam(event, 'page{{ page_param }}', '1')">« First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" onclick="updateQueryParam(event, 'page{{ page_param }}', '{{ page_obj.previous_page_number }}')">
        Previous</a>
    </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link"
        >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span
      >
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="#" onclick="updateQueryParam(event, 'page{{ page_param }}', '{{ page_obj.next_page_number }}')">
        Next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" onclick="updateQueryParam(event, 'page{{ page_param }}', '{{ page_obj.paginator.num_pages }}')">
        Last »</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
