{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h1>{% trans 'Add new DevOwnerID' %}</h1>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{{ form_title }}</h2>
                    <hr>

                    {{ form|crispy }}
                </div>
            </div>
            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <a href="{{ back_url }}" class="btn btn-secondary">{% trans 'Back' %}</a>
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
