{% load i18n %}
{% block additional %}
    <h2>{% trans 'Associated Credential' %}</h2>
    <hr class="hr-m">
    {% with cert.credential_set.first.issued_credential as issued_credential %}
    <div class="tp-kvp-list">
        <div>
            <div>{% trans 'Issued to Device' %}</div>
            <div>{{ issued_credential.device.common_name }}</div>
        </div>
        <div>
            <div>{% trans 'Issued via protocol' %}</div>
            <div>{{ issued_credential.device.get_onboarding_protocol_display }}</div>
        </div>
        <div>
            <div>{% trans 'Credential type' %}</div>
            <div>{{ issued_credential.get_issued_credential_type_display }}</div>
        </div>
        <div>
            <div>{% trans 'Credential purpose' %}</div>
            <div>{{ issued_credential.get_issued_credential_purpose_display }}</div>
        </div>
    </div>
    {% endwith %}
{% endblock additional %}