{% load i18n %}
{% block general %}
    <h2>{% trans 'General' %}</h2>
    <hr class="hr-m">
    <div class="tp-kvp-list">
        <div>
            <div>{% trans 'Certificate Version' %}</div>
            <div>{{ cert.get_version_display }}</div>
        </div>
        <div>
            <div>{% trans 'Serial Number' %}</div>
            <div>{{ cert.serial_number }}</div>
        </div>
        <div>
            <div>{% trans 'Fingerprint (SHA256)' %}</div>
            <div>{{ cert.sha256_fingerprint }}</div>
        </div>

        <div>
            <div>{% trans 'Public Key Algorithm' %}</div>
            <div>{{ cert.spki_algorithm }}</div>
        </div>
        <div>
            <div>{% trans 'Signature Algorithm' %}</div>
            <div>{{ cert.signature_algorithm }}</div>
        </div>


            <div>
            <div>{% trans 'Self-Signed' %}</div>
            <div>{{ cert.is_self_signed }}</div>
            <div>{% trans 'Public Key Algorithm' %}</div>
            <div>{{ cert.spki_algorithm }}</div>
        </div>


    <div>
        <div>
            <div>{% trans 'Signature Algorithm' %}</div>
            <div>{{ cert.signature_algorithm }}</div>
        </div>


            <div>
            <div>{% trans 'Self-Signed' %}</div>
            <div>{{ cert.is_self_signed }}</div>
        </div>
    </div>
<h2>{% trans 'Lifecycle' %}</h2>
    <hr class="hr-m">
    <div class="tp-kvp-list">
         <div>
            <div>{% trans 'Certificate Status' %}</div>
            <div>{{ cert.certificate_status.label }}</div>
        </div>
         <div>
            <div>{% trans 'Not valid after' %}</div>
            <div>{{ cert.not_valid_after }}</div>
        </div>
    </div>
<h2>{% trans 'Lifecycle' %}</h2>
    <hr class="hr-m">
    <div class="tp-kvp-list">
         <div>
            <div>{% trans 'Certificate Status' %}</div>
            <div>{{ cert.certificate_status.label }}</div>
        </div>
         <div>

        <div>
            <div>{% trans 'Not valid after' %}</div>
            <div>{{ cert.not_valid_after }}</div>
        </div>
    </div>

{% endblock general %}