{% load i18n %}
{% block subject_and_names %}
    <h2>Certificate Subject and Names</h2>
    <hr class="hr-m">

    <div class="tp-kvp-list">
        <div>
            <div>Subject</div>
            <div>
                {% for entry in cert.subject.all %}
                    {{ entry }}<br>
                {% endfor %}
            </div>
        </div>

        <div>
            <div>Common Name</div>
            <div>{{ cert.common_name }}</div>
        </div>
    </div>

{% endblock subject_and_names %}