{% load i18n %}
{% block subject_and_names %}
    <h2>{% trans 'Certificate Subject and Names' %}</h2>
    <hr class="hr-m">

    <div class="tp-kvp-list">
        <div>
            <div>{% trans 'Subject' %}</div>
            <div>
             {% for entry in cert.subject.all %}
    {% if entry.value %}
        {{ entry.oid|add:" ["|add:entry.value|add:"]" }}<br>
    {% else %}
        {{ entry.oid }}<br>
    {% endif %}
{% endfor %}


            </div>
        </div>

        <div>
            <div>{% trans 'Common Name' %}</div>
            <div>{{ cert.common_name }}</div>
        </div>
    </div>

{% endblock subject_and_names %}