{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card card-main text-center">
        <div class="card-header d-flex">
            <h1>User-Driven Onboarding</h1>
        </div>
        <div class="card-body tp-main-centered pt-3 pb-4">

            <h2>Onboard a new device</h2>

            <form method="POST" class="tp-main-form text-start" enctype="multipart/form-data" id="onboarding-start-form">
                {% csrf_token %}
                <fieldset class="form-group tp-form-group">

                    <hr>
                        {{ onboarding_start_form|crispy }}
                </fieldset>
                <hr>
                <div class="form-group pt-2 row">
                    <button class="btn btn-primary col ms-3 me-1" type="submit" name="onboarding-start-form">Start onboarding via Trustpoint client</button>
                    <button type="button" class="btn btn-primary col me-3 ms-1" disabled>
                        Onboard via command line
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-body-secondary">

        </div>
    </div>
{% endblock content %}