{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card tp-card-centered">
        <div class="card-header">
            <h2>{{ issuing_ca.unique_name }} {% trans "Configuration" %}</h2>
        </div>

        <form method="POST" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card tp-card-centered">
                <div class="card-body">
                    <div class="tp-card-centered-content">           
                        <div class="card-body">
                            <h3>{% trans "Domains" %}</h3>
                            <hr class="hr-m">
                            {% if issuing_ca.domain_set.all %} {# TODO #}
                                {% for domain in issuing_ca.domain_set.all %}
                                    <li class="tp-card-split">
                                        {{ domain.unique_name }}
                                        <div>
{#                                            <a href="{% url 'pki:domains-detail' domain.id %}" class="primary">#}
{#                                                {% trans "Details" %}#}
{#                                            </a>#}
                                            |
{#                                            <a href="{% url 'pki:domains-config' domain.id %}" class="primary">#}
{#                                                {% trans "Config" %}#}
{#                                            </a>#}
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="tp-kvp-list">   
                                    <div class="text-muted">
                                        {% trans "No associated domains" %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                    <div class="tp-card-centered-content">
                        <div class="card-body">
                            <h3>{% trans 'General' %}</h3>
                            <hr class="hr-m">
                            <div class="tp-kvp-list">
                                <div>
                                    <div>{% trans 'Type' %}</div>
                                    <div>{{ issuing_ca.get_issuing_ca_type_display }}</div>
                                </div>
                                <div>
                                    <div>{% trans 'Updated' %}</div>
                                    <div>{{ issuing_ca.updated_at }}</div>
                                </div>
                                <div>
                                    <div>{% trans 'Created' %}</div>
                                    <div>{{ issuing_ca.created_at }}</div>
                                </div>
                                <div>
                                    <div>{% trans 'Certificates issued:' %}</div>
                                    <div>-------------------- TODO --------------------</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tp-card-centered-content">
                        <div class="card-body">
                            <h3>{% trans 'CRL' %}</h3>
                            <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Revocation list' %}</div>
                                <div>
                                    <a href="{% url 'pki:issuing_cas-crl-gen' pk=issuing_ca.pk %}" class="btn btn-sm btn-primary me-2">
                                        {% trans "Generate CRL" %}
                                    </a>
                                    {% if issuing_ca.last_crl_issued_at %}
                                        <a href="{% url 'crl-download' pk=issuing_ca.pk %}" class="btn btn-sm btn-primary">
                                            {% trans "Download CRL" %}
                                        </a>
                                    {% else %}
                                        <a class="btn btn-sm btn-primary disabled">
                                            {% trans "Download CRL" %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div>{% trans 'Last CRL issued' %}</div>
                                {% if issuing_ca.last_crl_issued_at %}
                                    <div>{{ issuing_ca.last_crl_issued_at }}</div>
                                {% else %}
                                    <div>{% trans "No CRL has been issued yet." %}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="tp-card-btn-footer ms-2">
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}