{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card tp-card-centered">
        <div class="card-header">
            <h2>{{ issuing_ca.unique_name }} {% trans 'Configuration' %}</h2>
        </div>

        <div class="card tp-card-centered">
            <div class="card-body">
                    <h3>{% trans 'Domains' %}</h3>
                    <hr class="hr-m">
                    {% if issuing_ca.domains.all %}
                        <div class="tp-kvp-list">
                        {% for domain in issuing_ca.domains.all %}
                            <div>
                                <div>
                                    <a href="{% url 'pki:domains-config' pk=domain.id %}">{{ domain.unique_name }}</a>
                                </div>
                                <div></div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="tp-kvp-list">
                            <div class="text-muted">
                                {% trans 'No associated domains' %}
                            </div>
                        </div>
                    {% endif %}

                    <h3>{% trans 'General' %}</h3>
                    <hr class="hr-m">
                    <div class="tp-kvp-list">
                        <div>
                            <div>{% trans 'Type' %}</div>
                            <div>{{ issuing_ca.get_ca_type_display }}</div>
                        </div>
                        <div>
                            <div>{% trans 'Updated' %}</div>
                            <div>{{ issuing_ca.updated_at }}</div>
                        </div>
                        <div>
                            <div>{% trans 'Created' %}</div>
                            <div>{{ issuing_ca.created_at }}</div>
                        </div>

                        <div>
                            <div>{% trans 'Unique Name' %}</div>
                            <div>{{ issuing_ca.unique_name }}</div>
                        </div>
                        <div>
                            <div>{% trans 'Issuing CA Certificate' %}</div>
                            <div>
                                {% if issuing_ca.ca_certificate_model %}
                                    <a href="{% url 'pki:certificate-detail' pk=issuing_ca.ca_certificate_model.id %}">
                                        {% if issuing_ca.ca_certificate_model.common_name %}
                                            CN: {{ issuing_ca.ca_certificate_model.common_name }}
                                        {% else %}
                                            <h3>{% trans 'Issuing CA Certificate' %}</h3>
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <span class="text-muted">{% trans '(Certificate pending)' %}</span>
                                {% endif %}
                            </div>
                            {% for certificate_chain_order in certificate_chain %}
                                {% if forloop.last %}
                                    <div>{% trans 'Root CA Certificate' %}</div>
                                    <div>
                                        <a href="{% url 'pki:certificate-detail' pk=certificate_chain_order.certificate.id %}">
                                            {% if certificate_chain_order.certificate.common_name %}
                                                CN: {{ certificate_chain_order.certificate.common_name }}
                                            {% else %}
                                                {% trans 'Root CA Certificate' %}
                                            {% endif %}
                                        </a>
                                    </div>
                                {% else %}
                                    <div>{% trans 'Intermediate CA' %} {{ forloop.counter }} {% trans 'Certificate' %}</div>
                                    <div>
                                        <a href="{% url 'pki:certificate-detail' pk=certificate_chain_order.certificate.id %}">
                                            {% if certificate_chain_order.certificate.common_name %}
                                                CN: {{ certificate_chain_order.certificate.common_name }}
                                            {% else %}
                                                {% trans 'Root CA Certificate' %}
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <div>{% trans 'Certificates issued:' %}</div>
                            <div>
                                {% if issued_certificates|length > 0 %}
                                    {{ issued_certificates|length }}
                                    <br>
                                    <a href="{% url 'pki:issuing_ca-issued_certificates' pk=issuing_ca.id %}"
                                        class="btn btn-sm btn-primary mt-2">{% trans 'Show all issued certificates' %}</a>
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <h3>
                        {% if issuing_ca.ca_certificate_model %}
                            {% if issuing_ca.ca_certificate_model.subject_public_bytes == issuing_ca.ca_certificate_model.issuer_public_bytes %}
                                {% trans 'Issuing CA Certificate (This is a self-signed Root CA Certificate)' %}
                            {% else %}
                                {% trans 'Issuing CA Certificate' %}
                            {% endif %}
                        {% else %}
                            {% trans 'Issuing CA (Certificate Pending)' %}
                        {% endif %}
                    </h3>
                    <hr class="hr-m">
                    {% if issuing_ca.ca_certificate_model %}
                    <div class="tp-kvp-list">
                        <div>
                            <div>{% trans 'Issuing CA Certificate' %}</div>
                            <div>
                                <a href="{% url 'pki:certificate-detail' pk=issuing_ca.ca_certificate_model.id %}">
                                    {% if issuing_ca.ca_certificate_model.common_name %}
                                        CN: {{ issuing_ca.ca_certificate_model.common_name }}
                                    {% else %}
                                        {% trans 'Issuing CA Certificate' %}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        {% with issuing_ca_certificate=issuing_ca.ca_certificate_model %}
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ issuing_ca_certificate.serial_number }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Fingerprint (SHA256)' %}</div>
                                <div>{{ issuing_ca_certificate.sha256_fingerprint }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Not valid before' %}</div>
                                <div>{{ issuing_ca_certificate.not_valid_before }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Not valid after' %}</div>
                                <div>{{ issuing_ca_certificate.not_valid_after }}</div>
                            </div>

                            <div>
                                <div>{% trans 'Public Key Algorithm OID' %}</div>
                                <div>{{ issuing_ca_certificate.spki_algorithm_oid }}</div>
                            </div>

                            <div>
                                <div>{% trans 'Public Key Algorithm' %}</div>
                                <div>{{ issuing_ca_certificate.spki_algorithm }}</div>
                            </div>

                            {% if issuing_ca_certificate.spki_ec_curve_oid != 'None' %}
                                <div>
                                    <div>{% trans 'Public Key Curve OID' %}</div>
                                    <div>{{ issuing_ca_certificate.spki_ec_curve_oid }}</div>
                                </div>
                            {% endif %}

                            {% if issuing_ca_certificate.spki_ec_curve %}
                                <div>
                                    <div>{% trans 'Public Key Curve' %}</div>
                                    <div>{{ issuing_ca_certificate.spki_ec_curve }}</div>
                                </div>
                            {% endif %}

                            <div>
                                <div>{% trans 'Signature Algorithm Key Size' %}</div>
                                <div>
                                    {{ issuing_ca_certificate.spki_key_size }} Bits
                                </div>
                            </div>

                        {% endwith %}
                    </div>
                    {% else %}
                    <div class="alert alert-info">
                        {% trans 'Certificate is pending. Once the certificate is issued, full details will be available here.' %}
                    </div>
                    {% endif %}

                    <div>
                        {% if not issuing_ca.ca_certificate_model or issuing_ca.ca_certificate_model.common_name|slice:":5" == "Temp-" %}
                        <h3>{% trans 'Certificate Request' %}</h3>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Status' %}</div>
                                <div class="text-warning">{% trans 'Certificate not yet requested' %}</div>
                            </div>
                            <div>
                                <div>{% trans 'Actions' %}</div>
                                <div>
                                    {% if issuing_ca.ca_type == issuing_ca.CaTypeChoice.REMOTE_ISSUING_EST %}
                                        <form method="post" action="{% url 'pki:issuing_cas-request-cert-est' pk=issuing_ca.pk %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                {% trans 'Request CA Certificate via EST' %}
                                            </button>
                                        </form>
                                    {% elif issuing_ca.ca_type == issuing_ca.CaTypeChoice.REMOTE_ISSUING_CMP %}
                                        <form method="post" action="{% url 'pki:issuing_cas-request-cert-cmp' pk=issuing_ca.pk %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                {% trans 'Request CA Certificate via CMP' %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if issuing_ca.ca_certificate_model %}
                        <h3>{% trans 'CRL' %}</h3>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'CRL Management' %}</div>
                                <div>
                                    <div class="mb-2">
                                        {% if issuing_ca.ca_type == issuing_ca.CaTypeChoice.REMOTE_EST_RA or issuing_ca.ca_type == issuing_ca.CaTypeChoice.REMOTE_CMP_RA %}
                                            <a href="{% url 'pki:crl-import' %}" class="btn btn-primary btn-sm me-2">
                                                {% trans 'Import CRL' %}
                                            </a>
                                        {% else %}
                                            <a href="{% url 'pki:issuing_cas-crl-gen' pk=issuing_ca.pk %}"
                                                class="btn btn-sm btn-primary me-2">
                                                {% trans 'Generate CRL' %}
                                            </a>
                                        {% endif %}
                                        {% if issuing_ca.last_crl_issued_at %}
                                            <a href="{% url 'pki:crl-detail' pk=active_crl.pk %}" class="btn btn-sm btn-primary me-2">
                                                {% trans 'CRL Details' %}
                                            </a>
                                            <a href="{% url 'pki:crl-download' pk=active_crl.pk %}"
                                                class="btn btn-sm btn-primary me-2"
                                                title="{% trans 'Download CRL' %}">
                                                {% trans 'Download CRL' %}
                                            </a>
                                        {% else %}
                                            <button class="btn btn-sm btn-secondary me-2" disabled title="{% trans 'No CRL available' %}">
                                                {% trans 'CRL Details' %}
                                            </button>
                                            <button class="btn btn-sm btn-secondary me-2" disabled title="{% trans 'No CRL available' %}">
                                                {% trans 'Download CRL' %}
                                            </button>
                                        {% endif %}
                                    </div>
                                    {% if issuing_ca.ca_type != issuing_ca.CaTypeChoice.REMOTE_EST_RA and issuing_ca.ca_type != issuing_ca.CaTypeChoice.REMOTE_CMP_RA %}
                                    <div>
                                        <a href="{% url 'pki:help_issuing_cas_crl_download' pk=issuing_ca.pk %}"
                                            class="btn btn-sm btn-primary"
                                            title="{% trans 'Show help for downloading CRL via curl' %}">
                                            {% trans 'Download CRL with curl' %}
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div>{% trans 'Last CRL issued' %}</div>
                                {% if issuing_ca.last_crl_issued_at %}
                                    <div>{{ issuing_ca.last_crl_issued_at }} (#{{ issuing_ca.crl_number }})</div>
                                {% else %}
                                    <div>{% trans 'No CRL has been issued yet.' %}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                    
                <div class="card-footer d-flex">
                    <div class="tp-card-btn-footer m-1">
                        <a href="{% url 'pki:issuing_cas' %}"
                            class="btn btn-secondary">{% trans 'Back' %}</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock content %}