{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Confirm Issuing CA Deletion' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    {% for issuing_ca in issuing_cas %}
                        <h2>({{ forloop.counter }}) {% trans 'Issuing CA' %}: {{ issuing_ca.credential.certificate.common_name }}</h2>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Issuing CA Certificate' %}</div>
                                <div>
                                    <a href="{% url 'pki:certificate-detail' pk=issuing_ca.credential.certificate.id %}">
                                        {% if issuing_ca.credential.certificate.common_name %}
                                            CN: {{ issuing_ca.credential.certificate.common_name }}
                                        {% else %}
                                            {% trans 'Issuing CA Certificate' %}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ issuing_ca.credential.certificate.serial_number }}</div>
                            </div>
                            <div>
                                <div>Fingerprint (SHA256)</div>
                                <div>{{ issuing_ca.credential.certificate.sha256_fingerprint }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-danger">{% trans 'Delete selected Issuing CAs' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}