{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Issuing CA Details" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <h2>{% trans 'General' %}</h2>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Unique Name' %}</div>
                                <div>{{ issuing_ca.unique_name }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Issuing CA Certificate' %}</div>
                                <div>
                                    <a href="{% url 'pki:certificate-detail' pk=issuing_ca.credential.certificate.id %}">
                                        {% if issuing_ca.credential.certificate.common_name %}
                                            CN: {{ issuing_ca.credential.certificate.common_name }}
                                        {% else %}
                                            {% trans 'Issuing CA Certificate' %}
                                        {% endif %}
                                    </a>
                                </div>
                                {% for certificate_chain_order in issuing_ca.credential.ordered_certificate_chain_queryset %}
                                    {% if forloop.last %}
                                        <div>{% trans 'Root CA Certificate' %}</div>
                                        <div>
                                            <a href="{% url 'pki:certificate-detail' pk=certificate_chain_order.certificate.id %}">
                                                {% if certificate_chain_order.certificate.common_name %}
                                                    CN: {{ certificate_chain_order.certificate.common_name }}
                                                {% else %}
                                                    {% trans 'Root CA Certificate' %}
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% else %}
                                        <div>{% trans 'Intermediate CA' %} {{ forloop.counter }} {% trans 'Certificate'  %}</div>
                                        <div>
                                            <a href="{% url 'pki:certificate-detail' pk=certificate_chain_order.certificate.id %}">
                                                {% if certificate_chain_order.certificate.common_name %}
                                                    CN: {{ certificate_chain_order.certificate.common_name }}
                                                {% else %}
                                                      {% trans 'Root CA Certificate' %}
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        {% if issuing_ca.issuing_ca_certificate.issued_certificate_references.all %}
                            <div>
                                <div>Number of Issued Certificates</div>
                                <div>
                                    {{ issuing_ca.issuing_ca_certificate.issued_certificate_references.count }}
                                    <br>
                                    <a href="{% url 'pki:issued_certificates' pk=issuing_ca.issuing_ca_certificate.id %}" class="btn btn-primary my-1">Show All Issued Certificates</a>
                                </div>
                            </div>
                        {% endif %}
                        </div>

                        <h2>
                            {% if issuing_ca.credential.certificate.subject_public_bytes == issuing_ca.credential.certificate.issuer_public_bytes %}
                                Issuing CA Certificate (This is a self-signed Root CA Certificate)
                            {% else %}
                                Issuing CA Certificate
                            {% endif %}
                        </h2>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Issuing CA Certificate' %}</div>
                                <div>
                                    <a href="{% url 'pki:certificate-detail' pk=issuing_ca.credential.certificate.id %}">
                                        {% if issuing_ca.credential.certificate.common_name %}
                                            CN: {{ issuing_ca.credential.certificate.common_name }}
                                        {% else %}
                                            {% trans 'Issuing CA Certificate' %}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% with issuing_ca_certificate=issuing_ca.credential.certificate  %}
                                <div>
                                    <div>{% trans 'Serial Number' %}</div>
                                    <div>{{ issuing_ca_certificate.serial_number }}</div>
                                </div>
                                <div>
                                    <div>Fingerprint (SHA256)</div>
                                    <div>{{ issuing_ca_certificate.sha256_fingerprint }}</div>
                                </div>
                                <div>
                                    <div>{% trans 'Not valid before' %}</div>
                                    <div>{{ issuing_ca_certificate.not_valid_before }}</div>
                                </div>
                                <div>
                                    <div>{% trans 'Not valid after' %}</div>
                                    <div>{{ issuing_ca_certificate.not_valid_after }}</div>
                                </div>
    
                                <div>
                                    <div>Public Key Algorithm OID</div>
                                    <div>{{ issuing_ca_certificate.spki_algorithm_oid }}</div>
                                </div>
    
                                <div>
                                    <div>Public Key Algorithm</div>
                                    <div>{{ issuing_ca_certificate.spki_algorithm }}</div>
                                </div>
    
                                {% if issuing_ca_certificate.spki_ec_curve_oid != 'None' %}
                                    <div>
                                        <div>Public Key Curve OID</div>
                                        <div>{{ issuing_ca_certificate.spki_ec_curve_oid }}</div>
                                    </div>
                                {% endif %}
    
                                {% if issuing_ca_certificate.spki_ec_curve %}
                                    <div>
                                        <div>Public Key Curve</div>
                                        <div>{{ issuing_ca_certificate.spki_ec_curve }}</div>
                                    </div>
                                {% endif %}
    
                                <div>
                                    <div>Signature Algorithm Key Size</div>
                                    <div>
                                        {{ issuing_ca_certificate.spki_key_size }} Bits
                                    </div>
                                </div>
                            {% endwith %}
                        </div>

                    {% if issuing_ca.issuing_ca_certificate.subject_public_bytes != issuing_ca.issuing_ca_certificate.issuer_public_bytes %}
                        <h2>{% trans 'Root CA Certificate' %}</h2>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Root CA Certificate' %}</div>
                                <div>
                                    <a href="{% url 'pki:certificate-detail' pk=issuing_ca.issuing_ca_certificate.id %}">
                                        {% if issuing_ca.root_ca_certificate.common_name %}
                                            CN: {{ issuing_ca.root_ca_certificate.common_name }}
                                        {% else %}
                                            {% trans 'Root CA Certificate' %}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ issuing_ca.root_ca_certificate.serial_number }}</div>
                            </div>
                            <div>
                                <div>Fingerprint (SHA256)</div>
                                <div>{{ issuing_ca.root_ca_certificate.sha256_fingerprint }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Not valid before' %}</div>
                                <div>{{ issuing_ca.root_ca_certificate.not_valid_before }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Not valid after' %}</div>
                                <div>{{ issuing_ca.root_ca_certificate.not_valid_after }}</div>
                            </div>

                            <div>
                                <div>Public Key Algorithm OID</div>
                                <div>{{ issuing_ca.root_ca_certificate.spki_algorithm_oid }}</div>
                            </div>

                            <div>
                                <div>Public Key Algorithm</div>
                                <div>{{ issuing_ca.root_ca_certificate.spki_algorithm }}</div>
                            </div>

                            {% if cert.issuer and cert.spki_ec_curve_oid != 'None' %}
                                <div>
                                    <div>Public Key Curve OID</div>
                                    <div>{{ issuing_ca.root_ca_certificate.spki_ec_curve_oid }}</div>
                                </div>
                            {% endif %}

                            {% if cert.issuer and cert.spki_ec_curve %}
                                <div>
                                    <div>Public Key Curve</div>
                                    <div>{{ issuing_ca.root_ca_certificate.spki_ec_curve }}</div>
                                </div>
                            {% endif %}

                            <div>
                                <div>Signature Algorithm Key Size</div>
                                <div>
                                    {{ issuing_ca.root_ca_certificate.spki_key_size }} Bits
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
                <div class="card-footer d-flex">
                    <div class="tp-card-btn-footer m-1">
                        <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                        <a href="{% url 'pki:issuing_cas-config' pk=issuing_ca.pk%}" class="btn btn-primary">{% trans 'Config' %}</a>
                    </div>
                </div>
        </div>

{% endblock content %}