{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}

<div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1>{% trans "Issuing CAs" %}</h1>
        <a href="{% url 'pki:cas' %}" class="btn btn-outline-primary btn-sm">
            {% trans "CA hierarchy view" %}
        </a>
    </div>
    <div class="card-body text-start" style="overflow-y: auto; flex: 1;">
        <table class="table">
            <thead>
                <tr>
                    <th id="checkbox-column"><input type="checkbox"/></th>
                    <th>
                            {% trans 'Domain' %}
                    </th>
                    <th>
                        <a href="?sort={% if current_sort == 'common_name' %}-{% endif %}common_name">
                            {% trans 'Common Name' %}
                        </a>
                    </th>
                    <th>
                        <a href="?sort={% if current_sort == 'certificate__not_valid_after' %}-{% endif %}certificate__not_valid_after">
                            {% trans 'Not valid after' %}
                        </a>
                    </th>
                    <th>
                            {% trans 'Signature Suite' %}
                    </th>
                    <th>
                        <a href="?sort={% if current_sort == 'created_at' %}-{% endif %}created_at">
                            {% trans 'Created at' %}
                        </a>
                    </th>
                    <th>{% trans 'Config' %}</th>
                </tr>
            </thead>
            <tbody>
                {# When adding or removing columns, please update the "colspan" attribute in the {% empty %} section accordingly #}
                {% for ca in page_obj %}
                    <tr{% if not ca.is_active %} class="text-muted"{% endif %}>
                        <td class="row_checkbox">
                            <input type="checkbox" name="row_checkbox" value="{{ ca.id }}"/>
                        </td>
                        <td>{% for domain in ca.domains.all %}<a href="{% url 'pki:domains-config' pk=domain.id %}">{{ domain.unique_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ ca.common_name }}</td>
                        <td>
                            {% if ca.is_issuing_ca %}
                                {{ ca.credential.certificate.not_valid_after }}
                            {% else %}
                                {{ ca.certificate.not_valid_after }}
                            {% endif %}
                        </td>                        <td>{{ ca.signature_suite }}</td>
                        <td>{{ ca.created_at }}</td>
                        <td><a href="config/{{ ca.id }}/" class="btn btn-primary tp-table-btn w-100">{% trans 'Configure' %}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="middle">{% trans 'No Issuing CA has been added yet.' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'trustpoint/pagination.html' %}
    </div>

    <div class="card-footer d-flex justify-content-between tp-sticky-footer">
        <div class="tp-card-btn-footer m-1">
            <button type="button" class="btn btn-danger tp-table-select-btn me-2" data-tp-url="delete">{% trans 'Delete selected' %}</button>
        </div>
        <div class="m-1">
            <a class="btn btn-primary ms-2" href="{% url 'pki:issuing_cas-add-method_select' %}">
                {% trans 'Add new Issuing CA' %}
            </a>
        </div>
    </div>
</div>

{% endblock content %}
