{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}

<div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header">
        <h1>{% trans "Issuing CAs" %}</h1>
    </div>
    <div class="card-body text-start" style="overflow-y: auto; flex: 1;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th id="checkbox-column"><input type="checkbox"/></th>
            <th>
              <a href="?sort={% if is_desc%}unique_name{% else%}-unique_name{% endif %}">
                Issuing CA Name
              </a>
            </th>
            <th>
              <a href="?sort={% if is_desc%}credential__certificate___common_name{% else%}-issuing_ca__unique_name{% endif %}">
                Common Name
              </a>
            </th>
            <th>
              <a href="?sort={% if is_desc%}credential__certificate___not_valid_after{% else%}-issuing_ca__unique_name{% endif %}">
                Not Valid After
              </a>
            </th>
            <th>
              <a href="?sort={% if is_desc%}credential__certificate___signature_algorithm{% else%}-credential__certificate___signature_algorithm{% endif %}">
                Signature-Suite
              </a>
            </th>
            <th>
              <a href="?sort={% if is_desc%}updated_at{% else%}-updated_at{% endif %}">
                Updated
              </a>
            </th>
            <th>
              <a href="?sort={% if is_desc%}created_at{% else%}-created_at{% endif %}">
                Created
              </a>
            </th>
            <th>Details</th>
            <th>Config</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for ca in page_obj %}
          <tr>
            <td class="row_checkbox">
              <input type="checkbox" name="row_checkbox" value="{{ ca.id }}" />
            </td>
            <td>{{ ca.unique_name }}</td>
            <td>{{ ca.credential.certificate.common_name }}</td>
            <td>{{ ca.credential.certificate.not_valid_after }}</td>
            <td>{{ ca.credential.certificate.signature_algorithm }}</td>
            <td>{{ ca.updated_at }}</td>
            <td>{{ ca.created_at }}</td>
            <td><a href="detail/{{ca.id}}/" class="btn btn-primary tp-table-btn">Details</a></td>
            <td><a href="config/{{ca.id}}/" class="btn btn-primary tp-table-btn">Config</a></td>
            <td><a href="delete/{{ca.id}}/" class="btn btn-secondary tp-table-btn">Delete</a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">No data available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
      <!-- Pagination Controls -->
      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1&sort={{ current_sort }}">« First</a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}"
              >Previous</a
            >
          </li>
          {% endif %}
  
          <li class="page-item disabled">
            <span class="page-link"
              >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span
            >
          </li>
  
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}"
              >Next</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.paginator.num_pages }}&sort={{ current_sort }}"
              >Last »</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center tp-sticky-footer">
        <button type="button" class="btn btn-secondary tp-table-select-btn" data-tp-url="delete">
            {% trans "Delete selected" %}
        </button>
        <a class="btn btn-primary" href="{% url 'pki:issuing_cas-add-method_select' %}">
            {% trans "Add new Issuing CA" %}
        </a>
    </div>
</div>

{% endblock content %}
