{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="card">
        <div class="card-header tp-card-header">
            <h1>{% trans 'Issuing CAs' %}</h1>

        </div>
        <div class="card-body text-start">

            {% render_table table %}

        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                <button type="button" id="tp-table-select-btn" class="btn btn-primary" data-tp-url="delete">{% trans "Delete selected" %}</button>
            </div>
            <div>
                <a class="btn btn-primary" href="{% url 'pki:issuing_cas-add-method_select' %}">
                    {% trans "Add new Issuing CA" %}
                </a>
            </div>
        </div>

    </div>
{% endblock content %}