{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="card card-main" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header">
        <h1>{% trans "Issuing CAs" %}</h1>
    </div>
    <div class="card-body text-start" style="overflow-y: auto; flex: 1;">
        {% render_table table %}
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center tp-sticky-footer">
        <button type="button" class="btn btn-secondary tp-table-select-btn" data-tp-url="delete">
            {% trans "Delete selected" %}
        </button>
        <a class="btn btn-primary" href="{% url 'pki:issuing_cas-add-method_select' %}">
            {% trans "Add new Issuing CA" %}
        </a>
    </div>
</div>

{% endblock content %}
