{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Trustpoint-Client Onboarding - Password Based MAC' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <h2>Onboarding Command</h2>
                <hr>
                <h1>Verbose Command</h1>
                <code>{{ cmd_verbose }}</code>
                <h1>Shorthand Command</h1>
                <code>{{ cmd_shorthand }}</code>
            </div>
            <div class="card-footer">
                <div class="tp-card-btn-footer">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans "Back" %}</a>
                    <a href="{% url 'devices:trustpoint_client_cancel_onboarding_process' pk=device.id %}" class="btn btn-danger">{% trans "Cancel Onboarding Process" %}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
