{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <script src="{% static 'js/copy_clipboard.js' %}"></script>

    <script>
        window.deviceId = "{{ device.id }}";
        window.onboardRedirectURL = "{% url 'devices:device_onboard_redirect' pk=device.id %}";
    </script>

    <script src="{% static 'js/device_onboarding_status.js' %}"></script>

    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Trustpoint-Client Onboarding - Password Based MAC' %}</h1>
                </div>
            </div>
            <div class="card-body">

                <div id="onboard-status" class="alert" role="alert">
                    Checking onboard status...
                </div>

                {% include 'devices/credentials/onboarding/trustpoint_client/client_setup.html' %}

                <hr>

                <div class="copy-container" style="position: relative;">
                    <code class="command-text language-bash">
                        {{ cmd_shorthand }}
                    </code>

                    <button type="button" class="copy-button">
                        <svg class="icon icon-copy" width="40" height="40" fill="currentColor">
                            <use href="{% static 'img/icons.svg' %}#icon-copy"></use>
                        </svg>
                    </button>
                </div>

            </div>
            <div class="card-footer">
                <div class="tp-card-btn-footer">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans "Back" %}</a>
                    <a href="{% url 'devices:trustpoint_client_cancel_onboarding_process' pk=device.id %}"
                       class="btn btn-danger">{% trans "Cancel Onboarding Process" %}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
