{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Trustpoint-Client Onboarding' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <h2>Select Authentication Method</h2>
                <hr>
                <div class="tp-card-centered-content">
                    <a href="{% url 'devices:trustpoint_client_password_based_mac' pk=device.id%}" class="btn btn-primary min-width-30 mb-3">{% trans 'Password Based MAC' %}</a>
                    <br>
                    <a href="{% url 'pki:issuing_cas-add-file_import-separate_files' %}" class="btn btn-primary min-width-30 mb-1">{% trans 'Initial Device Identity (IDevID)' %}</a>
                </div>
            </div>
            <div class="card-footer">
                <div class="tp-card-btn-footer">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans "Back" %}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
