{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
    <form method="POST" action="{% url 'log:log-download-multiple' %}">
        {% csrf_token %}
        <div class="card card-main" style="max-height: 100%; display: flex; flex-direction: column;">
            <div class="card-header tp-card-header" style="min-height: 40px;">
                <h1>{% trans "Logs" %}</h1>
            </div>
            <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
                {% render_table table %}
            </div>
            <div class="card-footer tp-table-footer-btn-group d-flex justify-content-between align-items-center tp-sticky-footer">
                <button type="submit" class="btn btn-primary">
                    {% trans "Download selected" %}
                </button>
            </div>
        </div>
    </form>

    <!-- Einbindung des externen JavaScript -->
    <script src="{% static 'js/log.js' %}"></script>
{% endblock %}
