{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Certificate Details" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">

                        {% include 'pki/certificates/components/subject_and_names.html' %}

                        {% include 'pki/certificates/components/extensions/subject_alternative_name_extension_content.html' %}

                        {% include 'pki/certificates/components/general.html' %}

                        {% if cert.issued_device_certificate %}

                            {% include 'pki/certificates/components/additional.html' %}

                        {% endif %}

                        {% include 'pki/certificates/components/hierarchy.html' %}

                        {% include 'pki/certificates/components/validity.html' %}

                        {% include 'pki/certificates/components/subject_public_key_info.html' %}

                        {% include 'pki/certificates/components/signature.html' %}

                        {% include 'pki/certificates/components/extensions/subject_alternative_name_extension.html' %}

                        {% include 'pki/certificates/components/extensions/issuer_alternative_name_extension.html' %}

                        {% include 'pki/certificates/components/extensions/basic_constraints_extension.html' %}

                        {% include 'pki/certificates/components/extensions/key_usage_extension.html' %}

                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="tp-card-btn-footer m-1">
                            <button type="button" value="Back" class="btn btn-secondary btn-half" onClick="history.back()">{% trans 'Back' %}</button>
                            <a href="{% url 'pki:certificates' %}" class="btn btn-secondary btn-half">{% trans 'Cancel' %}</a>
                            <a href="{% url 'pki:certificate-download' pk=cert.id %}" class="btn btn-primary">{% trans 'Download' %}</a>
                    </div>
                </div>
        </div>

{% endblock content %}