{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% block content %}

<div class="card" style="display: flex; flex-direction: column; height: calc(100vh - 120px);">
    <div class="card-header">
        <h1>{% trans "Certificate Details" %}</h1>
    </div>
    <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; padding-top: 0;">
        <ul class="nav nav-tabs mt-3" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1-panel" type="button" role="tab">{% trans "Profile" %}</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3-panel" type="button" role="tab">{% trans "Key & Signature" %}</button>
            </li>
               <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4-panel" type="button" role="tab">{% trans "Extensions" %}</button>
            </li>

             <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5-panel" type="button" role="tab">{% trans "Hierarchy & Additional" %}</button>
            </li>
        </ul>
        <div class="tab-content pt-4">
            <div class="tab-pane fade show active" id="tab1-panel" role="tabpanel">
                <div class="tp-card-centered-content">
                    {% include 'pki/certificates/components/subject_and_names.html' %}

                    {% include 'pki/certificates/components/general.html' %}
                     {% include 'pki/certificates/components/validity.html' %}
                </div>
            </div>


            <div class="tab-pane fade" id="tab3-panel" role="tabpanel">
                <div class="tp-card-centered-content">
                    {% include 'pki/certificates/components/subject_public_key_info.html' %}
                      {% include 'pki/certificates/components/signature.html' %}
                </div>
            </div>
  <div class="tab-pane fade" id="tab4-panel" role="tabpanel">
                <div class="tp-card-centered-content">

                    {% include 'pki/certificates/components/extensions/basic_constraints_extension.html' %}
                    {% include 'pki/certificates/components/extensions/key_usage_extension.html' %}
                               {% include 'pki/certificates/components/extensions/issuer_alternative_name_extension.html' %}
                        {% include 'pki/certificates/components/extensions/subject_alternative_name_extension.html' %}

                </div>
            </div>


            <div class="tab-pane fade" id="tab5-panel" role="tabpanel">
                <div class="tp-card-centered-content">
                    {% include 'pki/certificates/components/hierarchy.html' %}
                    {% if cert.credential_set.first.issued_credential %}
                        {% include 'pki/certificates/components/additional.html' %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div class="tp-card-btn-footer m-1">
            <button type="button" value="Back" class="btn btn-secondary btn-half" onClick="history.back()">{% trans 'Back' %}</button>
            <a href="{% url 'pki:certificates' %}" class="btn btn-secondary btn-half">{% trans 'Cancel' %}</a>
            <a href="{% url 'pki:certificate-download' pk=cert.id %}" class="btn btn-primary">{% trans 'Download' %}</a>
        </div>
    </div>
</div>


<style>.nav-tabs {
    border-bottom: 1px solid #34373c;
    background: none;
}

.nav-tabs .nav-link {

    border: none !important;
    border-bottom: 3px solid transparent !important;
    background: none !important;
    color: #b7b8be;
    font-weight: 500;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-bottom: -1px;
    transition: color 0.16s, border-bottom 0.16s;
}

.nav-tabs .nav-link.active {
    color: #5196ff;
    border-bottom: 3px solid #5196ff !important;
    background: none !important;
    font-weight: 600;
    box-shadow: none !important;
}
.nav-tabs .nav-link:hover:not(.active),
.nav-tabs .nav-link:focus:not(.active) {
    color: #dde8ff;
    border-bottom: 3px solid #363b40;
    background: none !important;
    box-shadow: none !important;
}

</style>

{% endblock content %}
