{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="GET">
        {% csrf_token %}

        <div class="card">

            <div class="card-header">
                <div>
                    <h1>{% trans "Download Certificates" %}</h1>
                </div>
            </div>

            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{{ certificates.count }} {% trans 'Certificates selected' %}</h2>
                    <hr>

                    {% for certificate in certificates %}
                        <h2 class="ms-2">{% trans 'Certificate' %} {{ forloop.counter }}</h2>
                        <hr>
                        <div class="tp-kvp-list mb-0">
                            {% if certificate.common_name %}
                                <div>
                                    <div>{% trans 'Common Name' %}</div>
                                    <div>{{ certificate.common_name }}</div>
                                </div>
                            {% endif %}
                            <div>
                                <div>{% trans 'Subject' %}</div>
                                <div>
                                    {% for entry in certificate.subject.all %}
                                        {{ entry }}
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ certificate.serial_number }}</div>
                            </div>
                        </div>
                         <a class="btn btn-primary min-width-15 mt-2" href="{% url 'pki:certificate-detail' pk=certificate.id %}">Certificate Details</a><br>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}

                    <hr>
                    <h2>{% trans "Download Selected Certificates" %}</h2>
                    <hr>
                    <div>
                        <a class="btn btn-primary min-width-20 me-2 mb-3" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='pem' archive_format='zip' %}">Download as PEM (ZIP)</a>
                        <a class="btn btn-primary min-width-20 me-2 mb-3" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='pem' archive_format='tar_gz' %}">Download as PEM (TAR.GZ)</a><br>

                        <a class="btn btn-primary min-width-20 me-2 mb-3" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='der' archive_format='zip' %}">Download as DER (ZIP)</a>
                        <a class="btn btn-primary min-width-20 me-2 mb-3" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='der' archive_format='tar_gz' %}">Download as DER (TAR.GZ)</a><br>

                        <a class="btn btn-primary min-width-20 me-2 mb-3" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='pkcs7_pem' archive_format='zip' %}">Download as PKCS#7-PEM (ZIP)</a>
                        <a class="btn btn-primary min-width-20 me-2 mb-3" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='pkcs7_pem' archive_format='tar_gz' %}">Download as PKCS#7-PEM (TAR.GZ)</a><br>

                        <a class="btn btn-primary min-width-20 me-2" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='pkcs7_der' archive_format='zip' %}">Download as PKCS#7-DER (ZIP)</a>
                        <a class="btn btn-primary min-width-20 me-2" href="{% url 'pki:certificates-file-download' pks=pks_path file_format='pkcs7_der' archive_format='tar_gz' %}">Download as PKCS#7-DER (TAR.GZ)</a><br>
                    </div>

                </div>
            </div>

            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:certificates' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <!-- <button type="submit" class="btn btn-primary">{% trans 'Download' %}</button> -->
                </div>
            </div>
        </div>

    </form>
{% endblock content %}