{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="GET">
        {% csrf_token %}

        <div class="card">

            <div class="card-header">
                <div>
                    <h1>{% trans "Download Certificate" %}</h1>
                </div>
            </div>

            <div class="card-body">
                <div class="tp-card-centered-content">

                    <h2>{% trans "Certificate" %}</h2>
                    <hr class="hr-m">
                
                    <div class="tp-kvp-list mb-0">
                        <div>
                            {% if certificate.common_name %}
                                <div>{% trans 'Common Name' %}</div>
                                <div>
                                    {{ certificate.common_name }}
                                </div>
                            {% endif %}
                            <div>{% trans 'Subject' %}</div>
                            <div>
                                {% for entry in certificate.subject.all %}
                                    {{ entry }}
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <div>{% trans 'Serial Number' %}</div>
                            <div>{{ certificate.serial_number }}</div>
                        </div>
                    </div>
                    <a class="btn btn-primary min-width-15 my-2" href="{% url 'pki:certificate-detail' pk=certificate.id %}">Certificate Details</a><br>
                    <hr>
                
                    <h2>{% trans 'Download Certificate' %}</h2>
                    <hr>
                    <div>
                        <a class="btn btn-primary min-width-15 mb-3" href="{% url 'pki:certificate-file-download' pk=certificate.id file_format='pem' %}">Download as PEM</a><br>
                        <a class="btn btn-primary min-width-15 mb-3" href="{% url 'pki:certificate-file-download' pk=certificate.id file_format='der' %}">Download as DER</a><br>
                        <a class="btn btn-primary min-width-15 mb-3" href="{% url 'pki:certificate-file-download' pk=certificate.id file_format='pkcs7_pem' %}">Download as PKCS#7 (PEM)</a><br>
                        <a class="btn btn-primary min-width-15" href="{% url 'pki:certificate-file-download' pk=certificate.id file_format='pkcs7_der' %}">Download as PKCS#7 (DER)</a><br>
                    </div>
                
                </div>
            </div>

            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:certificates' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <!-- <button type="submit" class="btn btn-primary">{% trans 'Download' %}</button> -->
                </div>
            </div>
        </div>
    </form>
{% endblock content %}