{% load i18n %}
{% load sort_tags %}
{% load internationalization_tags %}

{% block certificates_table %}

<table class="table">
    <thead>
        <tr>
            <th id="checkbox-column"><input type="checkbox"/></th>
            <th>
                <a href="{% url_sort 'common_name' %}">
                    {% trans 'Common Name' %} {{ request|sort_icon:'common_name' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'not_valid_after' %}">
                    {% trans 'Not valid after (UTC)' %} {{ request|sort_icon:'not_valid_after' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'spki_algorithm' %}">
                    {% trans 'Public Key Algorithm' %} {{ request|sort_icon:'spki_algorithm' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'spki_key_size' %}">
                    {% trans 'Public Key Size' %} {{ request|sort_icon:'spki_key_size' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'spki_ec_curve' %}">
                    {% trans 'Public Key Curve (ECC)' %} {{ request|sort_icon:'spki_ec_curve' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'certificate_status_sort' %}">
                    {% trans 'Status' %} {{ request|sort_icon:'certificate_status_sort' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'created_at' %}">
                    {% trans 'Created at' %} {{ request|sort_icon:'created_at' }}
                </a>
            </th>
            <th>
                <a href="{% url_sort 'is_self_signed' %}">
                    {% trans 'Self-Signed' %} {{ request|sort_icon:'is_self_signed' }}
                </a>
            </th>
            <th>{% trans 'Details' %}</th>
            <th>{% trans 'Download' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        <tr>
            <td class="row_checkbox">
                <input type="checkbox" name="row_checkbox" value="{{ certificate.id }}" />
            </td>
            <td>{{ certificate.common_name }}</td>
            <td>{{ certificate.not_valid_after|local_datetime }}</td>
            <td>{{ certificate.spki_algorithm }}</td>
            <td>{{ certificate.spki_key_size }}</td>
            <td>{% if certificate.spki_ec_curve%} {{ certificate.spki_ec_curve }} {% else %}—{% endif %}</td>
            <td>{{ certificate.table_status }}</td>
            <td>{{ certificate.created_at|local_datetime }}</td>
            <td>{% if certificate.is_self_signed == 1 %} ✔ {% else %} ✘ {% endif %}</td>
            <td><a href="{% url 'pki:certificate-detail' pk=certificate.id %}" class="btn btn-primary tp-table-btn w-100">{% trans 'Details' %}</a></td>
            <td><a href="{% url 'pki:certificate-download' pk=certificate.id %}" class="btn btn-primary tp-table-btn w-100">{% trans 'Download' %}</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11" class="middle">{% trans 'No certificates are available. Add an Issuing CA first.' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'trustpoint/pagination.html' %}

{% endblock %}
