pyasn1==0.6.1
pyasn1-modules==0.4.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-ninja==1.3.0
croniter==6.0.0
django==5.1.3
cryptography==43.0.3
django-taggit==6.1.0
django-filter==24.3
zeroconf==0.136.0
django-tables2==2.7.0


sphinx==8.1.3
sphinxcontrib-plantuml==0.30
devtools==0.12.2
django-extensions==3.2.3
pyopenssl==24.2.1
werkzeug==3.1.3
furo==2024.8.6
ruff==0.7.3
pillow==11.0.0
docutils-stubs==0.0.22