{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card tp-card-setup-wizard">
            <div class="card-header">
                <h1>{% trans "Trustpoint - Setup Wizard" %}</h1>
            </div>
            <div class="card-body pt-3 pb-4">
                <h2>{% trans 'Import TLS-Server Credential' %}</h2>
                <hr class="mb-4">
                <div class="tp-card-centered-content">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'setup_wizard:import_tls_server_credential' %}" class="btn btn-secondary">{% trans 'Back' %}</a>
                    <button type="submit" class="btn btn-primary">{% trans 'Import TLS Credential' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
