{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}

    {% if messages %}
        <div class="messages tp-messages text-center">
            {% for message in messages %}
                <div class="tp-message alert
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                            alert-danger
                        {% else %}
                            alert-{{ message.tags }}
                        {% endif %}
                    {% endif %} d-flex" role="alert">

                    <svg class="bi flex-shrink-0 tp-msg-icon-margin" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                        <use xlink:href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"></use></svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card tp-card-setup-wizard text-center">
        <div class="card-header">
            <h1>{% trans "Trustpoint - Setup Wizard" %}</h1>
        </div>
        <div class="card-body pt-3 pb-4">
            <h2>{% trans 'Configure TLS-Server Credential' %}</h2>
            <hr class="mb-4">
            <a href="{% url 'setup_wizard:generate_tls_server_credential' %}" class="btn btn-primary d-flex justify-content-center">{% trans 'Generate Self-Signed TLS-Server Credential' %}</a>
            <br>
            <a href="#" class="btn btn-secondary d-flex justify-content-center disabled" aria-disabled="true"
               style="pointer-events: none; cursor: not-allowed;">
                {% trans 'Import TLS-Server Credential From File' %}
            </a>
        </div>
    </div>

{% endblock content %}