pre {
  background-color: #333;
  padding: 10px 0px;
}

code {
  padding: 10px;
}

.breathing-anim {
  animation: breathing 1.8s 0s infinite ease;
}

@keyframes breathing {
  0% {filter: saturate(100%);}
  50% {filter: saturate(30%);}
  0% {filter: saturate(100%);}
}