pre {
  background-color: var(--bs-secondary-bg);
  padding: 10px 0px;
  text-align: left;
}

code {
  padding: 10px;
  tab-size: 4;
}

.breathing-anim {
  animation: breathing 1.8s 0s infinite ease;
}

@keyframes breathing {
  0% {filter: saturate(100%);}
  50% {filter: saturate(30%);}
  0% {filter: saturate(100%);}
}