/* ----- Global ----- */
@font-face {
    font-family: 'tpQuicksand';
    src: url('/static/css/fonts/Quicksand.woff2') format('woff2');
}

:root {
    --trustpoint-ci: #014bad;
    --trustpoint-dark-test: #0a74ff;
    --tp-font-weight: 550;
    --tp-font-weight-h: 600; /* Used for headers and buttons */
}

body {
    font-family: 'tpQuicksand', sans-serif;
    font-weight: var(--tp-font-weight);
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

.body-users {
    overflow-y: auto;
}

a {
    text-decoration: none !important;
}

h1, h2, h3 {
    font-weight: var(--tp-font-weight-h);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

/* Parent grid layout */
.tp-content-wrapper {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header main"
    "sidenav main";
    grid-template-columns: 15rem auto;
    grid-template-rows: auto 1fr;
    padding: 0;
    margin: 0;
}

/* ----- Header (logo) ----- */

.tp-page-header {
    grid-area: header;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.75rem 0.5rem 1.75rem;
    margin: 0;
    height: 5rem;
    background-color: var(--bs-tertiary-bg);
}

.tp-page-header-users {
    padding: 0 1.125rem;
    height: 4rem;
}

.tp-page-header > div > .navbar-brand {
    width: 16rem;
}

#tp-logo {
    width: 180px;
}

/* alt text of logo */
.tp-primary, a.tp-primary {
    color: rgba(var(--bs-link-color-rgb)) !important;
}

.tp-btn-link {
    color: var(--bs-body-color);
    text-decoration: none;
}

a.tp-primary:focus, a.tp-primary:hover, a.tp-primary:active,
.tp-btn-link:hover, .tp-btn-link:focus, .tp-btn-link:active, .theme-toggle-icon:hover {
    color: rgba(var(--bs-link-hover-color-rgb)) !important;
    background: transparent;
}

.theme-toggle-icon {
    display: flex;
    align-items: center;
    padding-left: 6px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 0.5rem;
}

.bi-size100 {
    width: 100%;
    height: 100%;
}

/* ----- Side navigation menu ----- */

.tp-sidenav {
    grid-area: sidenav;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bs-tertiary-bg);
    overflow-y: auto;
}

.tp-sidenav .tp-menu-group {
    margin-bottom: 1rem;
    --tp-menu-head-padding: 0.875rem;
}

.tp-menu-group > a {
    /* color: var(--bs-emphasis-color); */
}

.tp-menu-group > * {
    display: grid;
    align-items: center;
}

.tp-menu-group .tp-menu-item {
    padding: 0.5rem 0 0 calc(2rem + var(--tp-menu-head-padding)*2);
    color:rgba(var(--bs-emphasis-color-rgb), .6)
}

.tp-menu-item:hover, .tp-menu-item:focus, .tp-menu-item:active, .tp-menu-item.tp-menu-active {
    color: rgba(var(--bs-emphasis-color-rgb), 1);
}

.tp-menu-head {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 1.1rem;
    font-weight: var(--tp-font-weight);
    background-color: transparent;
    border-radius: 0.5rem;
    border: 0 solid black;
    color: var(--bs-emphasis-color);
    text-decoration: none;
    text-align: left;
    align-items: center;
    padding: 0;
    width: 100%;
}

.tp-menu-head.tp-menu-active {
    background-color: var(--bs-border-color);
}

.tp-menu-head > .bi {
    margin: var(--tp-menu-head-padding);
    width: 1.5rem;
    height: 1.5rem;
}

.tp-menu-head:hover, .tp-menu-head:focus {
    background-color: var(--bs-secondary-bg);
}

.tp-menu-head.tp-menu-active:hover, .tp-menu-head.tp-menu-active:focus {
    background-color: var(--bs-border-color);
}

.btn-collapse { /* expand arrow */
    padding: .3rem var(--tp-menu-head-padding) .3rem .3rem;
    color: var(--bs-body-color);
    background-color: transparent;
    align-content: center;
    display: inline-flex;
}

.btn-collapse:hover, .btn-collapse:focus {
    /* TODO this does not work as svg loaded as image cannot be styled */
    color: rgba(var(--bs-emphasis-color-rgb), 1);
}

.btn-collapse::before {
    width: 16px;
    line-height: 0;
    stroke: var(--bs-body-color);
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transform-origin: .5em 50%;
    align-self: flex-end;
    transition: inherit;
}


[data-bs-theme="dark"] .btn-collapse::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-collapse[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-collapse[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.tp-menu-collapse {
    height: 0;
    overflow: hidden;
}

.collapse-transition {
    transition-property: height, transform;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}

.tp-menu-collapse.show {
    height: auto;
}

.tp-menu-footer {
    margin-top: auto;
}

#tp-version {
    display: flex;
    justify-content: center;
}

/* ----- Main content and cards ----- */

.tp-main {
    grid-area: main;
    padding: 2.34rem;
    overflow-y: auto;
}

.card-header, .card-footer {
    min-height: 2.5rem;
    padding: 0.5rem;
    flex-shrink: 0;
}

.tp-card-centered-content {
    /*
        This class is part of detail/KVP list/download etc. views.
        TODO: Currently, we are using the full width.
        Depending on screen size, it may look better to limit the width of the content
        and / or to center it.
    */
    margin: 0 auto;
    /* max-width: 67rem; */
}

.tp-card-btn-footer {
    display: flex;
}

.tp-card-split { /* unused class */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tp-card-btn-footer > * {
    /*
        TODO: Flex grow buttons look really good on small screens
        On wide screens, they look out of place.
        Perhaps consider keeping secondary buttons to the left and one primary action to the right
    */
    flex-grow: 1;
    margin: 0 0.5rem;
}

.tp-card-btn-footer > *:first-child {
    margin-left: 0;
}

.tp-card-btn-footer > *:last-child {
    margin-right: 0;
}

.tp-kvp-list {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.3rem;
    grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr);
    max-width: 65rem;
    margin: 0 1rem 1.2rem 1rem;
    padding-left: 0;
}

.tp-kvp-list > div {
    /* Treat children of this div as direct grid items */
    display: contents;
}
  
.tp-kvp-list > div > div:nth-child(1),
.tp-kvp-list > li > div:nth-child(1) {
    font-weight: bold; /* Style for keys */
}

.tp-kvp-list > li {
    display: contents;
    list-style-type: none;
    text-align: left;
}

.tp-kvp-list hr {
    grid-column: 1 / -1; /* Make the <hr> span across both columns */
    margin: 0.25rem 0;
  }
  
/*.tp-kvp-list > div > div:nth-child(2) {
    text-align: left; /* Style for values 
} */

.tp-row-br::before {
    content: "";
    grid-column: 1 / -1;
    margin-top: 1rem;
    /* border:1px solid #f90; */
}

.tp-indent {
    padding: 0 1rem 1.2rem 1rem;
}

.tp-sticky-footer {
    position: sticky;
    bottom: 0;
    min-height: 55px;
    z-index: 5;
}
/* .tp-sticky-footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    right: -2px;
    height: 55px;
    background: #f00;
    background-size: cover;
    z-index: -1;
    background-color: var(--bs-body-bg);
    overflow: hidden;
  } */

.tp-main-users {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tp-card-users {
    width: 90vw;
    max-width: 25rem;
}

.tp-card-setup-wizard {
    min-width: 50rem;
}

hr.hr-m {
    margin: 0.6rem -0.125rem 0.6rem -0.125rem;
}

/* ----- Input and elements ----- */

#bs-override .btn
{
    font-weight: var(--tp-font-weight-h);
}

#bs-override .form-select, #bs-override .form-control {
    font-weight: var(--tp-font-weight);
}

.cursor, .cursor:hover {
    cursor: pointer;
}

.btn-wizard {
    width: 10rem;
}

.btn-form {
    width: 100%;
}

/* ----- Forms ----- */

.tp-form-group-grid {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    justify-items: start;
}

.tp-form-group-grid > hr {
    width: 100%;
    grid-column: 1/3;
    margin: 0.5rem 0;
}

.tp-form-group-grid > h2 {
    grid-column: 1/3;
    margin: 0.5rem 0;
}

.tp-form-group > div > label {
    display: flex;
}

.tp-form-btn-group {
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
}

.tp-form-btn-group > * {
    flex-grow: 1;
    flex-basis: 0;
}

.tp-form-grid-2 > li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tp-form-grid-2-2 > li {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

input, select {
    max-width: 42rem;
}

/* ----- Tables ----- */

/* .table-container {
    overflow-x: auto;
} */

table .tp-table-btn {
    padding: 0.2rem 0.8rem;
    min-width: 5rem;
}

table .tp-onboarding-btn {
    padding: 0.2rem 0.8rem;
    width: 12rem;
}

.row_checkbox {
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

tr.text-muted td {
    color: inherit;
}

td {
    vertical-align: middle;
}

.middle {
    vertical-align: middle;
    text-align: center;
}

.tp-table-footer-btn-group {
    display: grid;
    grid-template-columns: repeat(5, 15rem) auto;
    column-gap: 1rem;
}

.card-footer a, .card-footer button {
    width: 15rem;
}

.card-footer .btn-half {
    width: 7.5rem;
}

/* ----- General layout utility classes ----- */

.tp-d-none {
    display: none;
}

.tp-px-2 { /* unused class */
    padding: 0 2rem;
}

.tp-px-4 { /* unused class */
    padding: 0 4rem;
}

/* ----- Dev Utils ----- */

.b-green {
    border: 1px solid green;
}

.b-blue {
    border: 1px solid blue;
}

.b-white {
    border: 1px solid white;
}

.b-red {
    border: 1px solid red;
}

/* ----- Messages ----- */

.tp-messages {
    margin-top: -1.0rem;
    margin-bottom: 1.5rem;
}

.tp-message {
    margin-bottom: 0.5rem;
    padding: 0.7rem 0.8rem;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: 1fr;
}

.tp-msg-icon-margin {
    margin-top: 0.1rem;
    margin-right: 0.5rem;
}

/* ----- Theme ----- */

html[data-bs-theme="light"] {
    /* Contrast is higher in light mode, so font would look too bold */
    --tp-font-weight: 450;
}

html[data-bs-theme="dark"] .light-only {
    display: none;
}

html[data-bs-theme="light"] .dark-only {
    display: none;
}

svg.theme-icon {
    display: inline;
    color: var(--bs-body-color);
}

/* ----- Various ----- */

.btn-collapse-nav a { /* unused class */
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-collapse-nav a:hover, .btn-collapse-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.min-width-5 {
    min-width: 5rem;
}

.min-width-10 {
    min-width: 10rem;
}

.min-width-15 {
    min-width: 15rem;
}

.min-width-20 {
    min-width: 20rem;
}

.min-width-25 {
    min-width: 25rem;
}

.min-width-30 {
    min-width: 30rem;
}

.min-width-35 {
    min-width: 35rem;
}

.min-width-40 {
    min-width: 40rem;
}

.min-width-42 {
    min-width: 42rem;
}



.tp-grid { /* unused class */
    display: grid !important;
    grid-template-columns: 1fr;
    justify-items: start;
}

.nested-card-wrapper { /* unused class */
    padding: 2rem 0;
    display: grid;
    grid-template-columns: minmax(30rem, max-content);
    justify-content: center;
}


.bg-trustpoint { /* unused class */	
    background-color: #8BB9FE !important;
}

.text-trustpoint { /* unused class */
    color: #8BB9FE !important;
}

.link-mute { /* unused class */
    color: #adb5bd;
}

.link-mute:hover, .link-mute:focus {
    color: #6c757d;
}

.count:hover {
  transform: scale(1.025);
}


/* ----- Media queries for responsive design ----- */

@media (max-width: 992px) {
    /* permanent header bar with centered logo and hamburger menu button */
    .tp-content-wrapper {
        grid-template-areas:
        "header header"
        "main main";
    }

    .tp-sidenav {
        transition: transform 0.25s ease-in;
        transform: translateX(-101%);
        position: fixed;
        top: 4rem;
        bottom: 0;
        z-index: 10;
    }

    .tp-page-header {
        grid-column: 1 / 3;
        padding: 0 1.125rem;
        height: 4rem;
    }

    .tp-main {
        padding: 2rem;
    }

    .sidenav-show {
        transition: transform 0.25s ease-out;
        transform: translateX(0);
    }

    .menu-icon {
        display: flex;
    }
}

pre {
  background-color: var(--bs-secondary-bg);
  padding: 10px 0;
  text-align: left;
}

code {
    padding: 10px;
    tab-size: 4;
    color: inherit;
}

.breathing-anim {
  animation: breathing 1.8s 0s infinite ease;
}

@keyframes breathing {
  0% {filter: saturate(100%);}
  50% {filter: saturate(30%);}
  0% {filter: saturate(100%);}
}

.btn-blue {
  color: white;
  background-color: #0d6efd;

  &:hover {
    background-color: #0d6efd
  }
}

.text-blue {
  color: rgb(13, 110, 253) !important;
}

/* Custom Nav Bar */
.nav-tabs {
  :first-child .nav-link {
    border-top-left-radius: 0.375rem;
  }

  :last-child .nav-link {
    border-top-right-radius: 0.375rem;
  }

  .nav-link {
    color: #707070;
    background-color: white;
    border-color: white;
    padding: 8px 50px 8px 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0.375rem;
    box-shadow: 1px 0 5px 1px #cccccc;
    margin-right: -4px;

    &.active,
    &.show .nav-link {
      color: white;
      background-color: #0d6efd;
      border-color: #0d6efd;
      border-top-right-radius: 0.375rem;
      position: relative;
      &:hover {
        border-color: #0d6efd;
      }
    }

    &.disabled,
    &:disabled {
      color: #f5f5f5;
      background-color: white;
      border-color: white;
    }

    &:hover {
      border-color: white;
      isolation: unset;
    }
  }

  &.reversed {
    border-bottom: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    :first-child .nav-link {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0.375rem;
    }

    :last-child .nav-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0.375rem;
    }

    .nav-link {
      cursor: pointer;
      box-shadow: 1px 2px 5px 1px #cccccc;

      &.active,
      &.show .nav-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
      }
    }
  }
}


/* ----- Filter ----- */
.tags-column {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

.filter-label {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 0.25rem;
  }

.filter-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* ----- Notification dashboard view ----- */

.filter-button {
    padding: 2px 6px;          /* Smaller padding for a more compact size */
    margin: 3px;                /* Reduced space between buttons */
    border: none;               /* Remove default border */
    border-radius: 13px;        /* Rounded corners for a softer look */
    background-color: #e0e0e0;  /* Light gray background for default state */
    color: #333;                /* Darker text color for good contrast */
    cursor: pointer;            /* Pointer cursor on hover */
    font-size: 11px;            /* Smaller font size */
    transition: all 0.3s ease;  /* Smooth transition for hover and active effects */
}

/* Hover effect for all buttons */
.filter-button:hover {
    background-color: #c0c0c0;  /* Darken the background on hover */
    color: #000;                /* Darker text color on hover */
}

.filter-button.active {
    background-color: #0d6efd;  /* Darken the background on hover */
    color: #ffffff;                /* Darker text color on hover */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-container {
    white-space: nowrap; /* Ensure items stay on one line */
}

.filter-buttons {
    margin-right: 10px;
    margin-left: 10px;
}

.vertical-separator {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: #ccc; /* Light gray color for the separator */
    vertical-align: middle; /* Align vertically with the buttons */
}

.copy-container {
    background-color: var(--bs-secondary-bg);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
}

/* Style for the copy button */
.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.copy-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.copy-button:hover::after {
    opacity: 1;
}

.asteriskField {
    display: none;
}


/* ----- Testing ----- */