{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}

    {% if messages %}
        <div class="messages tp-messages text-center">
            {% for message in messages %}
                <div class="tp-message alert
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                            alert-danger
                        {% else %}
                            alert-{{ message.tags }}
                        {% endif %}
                    {% endif %} d-flex" role="alert">

                    <svg class="bi flex-shrink-0 tp-msg-icon-margin" width="20" height="20" fill="currentColor" role="img" aria-label="{{ message.tags }}:">
                        <use xlink:href="{% static 'img/icons.svg' %}#icon-{{ message.tags }}"></use></svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card tp-card-setup-wizard text-center">
        <div class="card-header">
            <h1>{% trans "Trustpoint - Setup Wizard" %}</h1>
        </div>
        <div class="card-body pt-3 pb-4">
            <h2>{% trans 'Download TLS-Server Trust-Store' %}</h2>
            <br>
            <p>We recommend importing the TLS-Server Trust-Store into your browser or operating system ca store.</p>
            <div class="pt-2 pb-4">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary min-width-15" href="{% url 'setup_wizard:tls_server_credential_apply' file_format='pem' %}">
                        Download as PEM
                    </a>
                    <a class="btn btn-primary min-width-15" href="{% url 'setup_wizard:tls_server_credential_apply' file_format='pkcs7_der' %}">
                        Download as PKCS#7 (DER)
                    </a>
                    <a class="btn btn-primary min-width-15" href="{% url 'setup_wizard:tls_server_credential_apply' file_format='pkcs7_pem' %}">
                        Download as PKCS#7 (PEM)
                    </a>
                </div>
            </div>
            <hr class="mb-4">
            <form method="POST" class="text-start">
                {% csrf_token %}
                <div class="tp-form-btn-group">
                    <a href="{% url 'setup_wizard:tls_server_credential_apply_cancel' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                    <button class="btn btn-primary w-100 mt-1" type="submit">{% trans 'Apply TLS-Configurations' %}</button>
                </div>
            </form>
    </div>

{% endblock content %}