{% extends 'trustpoint/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card card-main text-center">
            <div class="card-header d-flex">
                <h1>Confirm - Certificate revocation</h1>
            </div>
            <div class="card-body tp-main-centered pt-3 pb-4">


                <h2 class="pt-5 text-start">Device</h2>
                <hr>
                <ul class="list-group list-group-flush text-start tp-form-grid-2-2">
                    <li class="list-group-item"><span><strong>Device Name:</strong></span><span>{{ device.device_name }}</span></li>
                    <li class="list-group-item"><span><strong>Device serial number:</strong></span><span>{{ device.device_serial_number }}</span></li>
                    <li class="list-group-item"><span><strong>Certificate serial number:</strong></span><span>{{ device.ldevid.serial_number }}</span></li>
                    <li class="list-group-item"><span><strong>Device onboarding status:</strong></span><span>{{ device.get_device_onboarding_status_display }}</span></li>
                </ul>


                <hr>

                {% if onboarded %}
                <div class="tp-form-btn-group tp-form-btn-group pt-5">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Revoke certificate">
                </div>
                {% endif %}

            </div>
        </div>
    </form>
{% endblock content %}