{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header d-flex">
                <h1>{% trans 'Confirm certificate revocation' %}</h1>
            </div>
            <div class="card-body pt-3 pb-3">

                {% include 'devices/sub_details.html' %}

                <hr>

                <div class="form-group">
                    <label for="id_revocation_reason">{% trans 'Revocation Reason' %}</label>
                    <select id="id_revocation_reason" name="revocation_reason" class="form-control form-select">
                        {% for value, name in form.revocation_reason.field.choices %}
                            <option value="{{ value }}" {% if form.revocation_reason.value == value %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="tp-form-btn-group tp-form-btn-group pt-4">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-danger"
                    {% if not onboarded %}
                        disabled
                    {% endif %}
                    >
                        {% trans 'Revoke certificate' %}
                    </button>
                </div>

            </div>
        </div>
    </form>
{% endblock content %}
