{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h1>{% trans "Language Configuration" %}</h1>
    </div>
    <div class="card-body pt-4 pb-4">
        <form method="POST" action="{% url 'set_language' %}" enctype="multipart/form-data" id="language_configuration">
            {% csrf_token %}
            <fieldset class="form-group tp-form-group">
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language" class="select form-select">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </fieldset>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between tp-sticky-footer">
        <div class="tp-card-btn-footer m-1">
            <button class="btn btn-primary " type="submit" form="language_configuration">
                {% trans "Save" %}
            </button>
        </div>
    </div>
</div>
{% endblock content %}