{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}{% trans "Import CRL" %}{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Import CRL' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{% trans 'File Import' %}</h2>
                    <hr>
                    {{ form|crispy }}
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" value="Back" class="btn btn-secondary btn-half" onClick="history.back()">
                        {% trans 'Back' %}
                    </button>
                    <a href="{% url 'pki:crls' %}" class="btn btn-secondary btn-half">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-upload"></i> {% trans 'Import CRL' %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
