{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load render_table from django_tables2 %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Device" %} {{ device.unique_name }} - {% trans "Application Credentials" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h2>{% trans 'Download' %}{{ certificate_type }}{%  trans 'Credential' %}</h2>
                    <hr>
                    <button class="btn btn-primary mb-3 min-width-20" id="pkcs12-download-btn">Download as PKCS#12 File</button><br>
                    <button class="btn btn-primary mb-3 min-width-20" id="pem-zip-download-btn">Download as PEM Files (zip)</button><br>
                    <button class="btn btn-primary min-width-20" id="pem-tar-gz-download-btn">Download as PEM Files (tar.gz)</button><br>
                    <hr>
                </div>

                <div class="card-footer">
                    <div class="tp-card-btn-footer">
                        <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
{#                        <a href="{% url 'devices:configure' pk=device.pk%}" class="btn btn-secondary">{% trans 'Config' %}</a>#}
                        <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    </div>
                </div>
        </div>

    <script>
        document.getElementById('pkcs12-download-btn').addEventListener('click', () => {

            // File download URL
            const fileDownloadUrl = "{% url 'devices:download_issued_application_credential' pk=device.id common_name=common_name validity=validity format='pkcs12' %}";

            // Redirect URL
            const redirectUrl = "{% url 'devices:successful_application_issuance' pk=device.id %}"; // Replace with your actual redirect URL

            // Trigger file download
            const link = document.createElement('a');
            link.href = fileDownloadUrl;
            link.download = '{{ filename }}.p12'; // Optional: Suggest a filename
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

            // Redirect after a short delay
            setTimeout(() => {
                window.location.href = redirectUrl;
            }, 50); // Adjust the delay as needed
        });

        document.getElementById('pem-zip-download-btn').addEventListener('click', () => {
            // File download URL
            const fileDownloadUrl = "{% url 'devices:download_issued_application_credential' pk=device.id common_name=common_name validity=validity format='zip' %}";

            // Redirect URL
            const redirectUrl = "{% url 'devices:successful_application_issuance' pk=device.id %}"; // Replace with your actual redirect URL

            // Trigger file download
            const link = document.createElement('a');
            link.href = fileDownloadUrl;
            link.download = '{{ filename }}.zip'; // Optional: Suggest a filename
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

            // Redirect after a short delay
            setTimeout(() => {
                window.location.href = redirectUrl;
            }, 50); // Adjust the delay as needed
        });

        document.getElementById('pem-tar-gz-download-btn').addEventListener('click', () => {
            // File download URL
            const fileDownloadUrl = "{% url 'devices:download_issued_application_credential' pk=device.id  common_name=common_name validity=validity format='tar_gz' %}";

            // Redirect URL
            const redirectUrl = "{% url 'devices:successful_application_issuance' pk=device.id %}"; // Replace with your actual redirect URL

            // Trigger file download
            const link = document.createElement('a');
            link.href = fileDownloadUrl;
            link.download = '{{ filename }}.tar.gz'; // Optional: Suggest a filename
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

            // Redirect after a short delay
            setTimeout(() => {
                window.location.href = redirectUrl;
            }, 50); // Adjust the delay as needed
        });
    </script>

{% endblock content %}