{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load render_table from django_tables2 %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Device" %} {{ device.unique_name }} - {% trans "Application Credentials" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    {# DeviceModel.OnboardingStatus.NO_ONBOARDING = 0 #}
                    {% if device.onboarding_status == 0 %}
                        <h2>{% trans "Issue New Application Credentials" %}</h2>
                        <hr>
                        <a href="{% url 'devices:issue_tls_client_credential' pk=device.id %}" class="btn btn-primary tp-table-btn min-width-20">{% trans "Issue New TLS-Client Credential" %}</a><br>
                        <a href="#" class="btn btn-primary tp-table-btn min-width-20 mt-3">{% trans "Issue New TLS-Server Credential" %}</a>
                    {% else %}
                        <h2>{% trans "Issued Domain Credentials" %}</h2>
                        <hr>
                        {% render_table device_domain_credential_table %}
                    {% endif %}
                    <hr class="mb-5">
                    <h2>{% trans "Issued Application Certificates" %}</h2>
                    <hr>
                    {% render_table device_application_certificates_table %}
                </div>

                <div class="card-footer">
                    <div class="tp-card-btn-footer">
                        <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
{#                        <a href="{% url 'devices:configure' pk=device.pk%}" class="btn btn-secondary">{% trans 'Config' %}</a>#}
                        <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    </div>
                </div>
        </div>

{% endblock content %}