{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off" action="{% url 'devices:select_issued_application_tls_server_credential_format' pk=device.id%}">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Issue TLS-Server Credential' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{% trans 'Credential Certificate Configuration' %}</h2>
                    <hr>
                    {{ form|crispy }}
                </div>
            </div>
            <div class="card-footer">
                <div class="tp-card-btn-footer">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Issue TLS-Client Credential" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
