{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Add new Domain' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{% trans 'New Domain' %}</h2>
                    <hr class="hr-m">

                    {{ form|crispy }}
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center tp-sticky-footer">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'pki:domains' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-primary">{% trans 'Add new Domain' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}