{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="mb-1">
            {% trans 'Add New Domain' %}
        </h1>

        <p class="mb-0 text-muted">
            {% trans 'Create a new domain and define its initial configuration in Trustpoint.' %}
        </p>
    </div>

    <div class="card-body text-start">
        <div class="tp-card-centered-content">
            <form
                id="add-domain-form"
                method="post"
                autocomplete="off"
            >
                {% csrf_token %}

                {{ form|crispy }}
            </form>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center">
        <a
            href="{% url 'pki:domains' %}"
            class="btn btn-secondary"
        >
            {% trans 'Cancel' %}
        </a>

        <button
            type="submit"
            form="add-domain-form"
            class="btn btn-primary"
        >
            {% trans 'Create Domain' %}
        </button>
    </div>
</div>
{% endblock content %}