{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Confirm Domain Deletion' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    {% for domain in domains %}
                        <h2>({{ forloop.counter }}) {% trans 'Domain' %}: {{ domain.unique_name }}</h2>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Unique Name' %}</div>
                                <div>{{ domain.unique_name }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Issuing CA - Unique Name' %}</div>
                                <div>
                                {% if domain.issuing_ca %}
                                <a href="{% url 'pki:issuing_cas-detail' pk=domain.issuing_ca.id %}">
                                        {{ domain.unique_name }}
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            <div>
                                <div>{% trans 'Issuing CA Certificate' %}</div>
                                <div>
                                    {% if domain.issuing_ca %}
                                    <a href="{% url 'pki:certificate-detail' pk=domain.issuing_ca.credential.certificate.id %}">
                                        {% if domain.issuing_ca.credential.certificate.common_name %}
                                            CN: {{ domain.issuing_ca.credential.certificate.common_name }}
                                        {% else %}
                                            {% trans 'Issuing CA Certificate' %}
                                        {% endif %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if not forloop.last %}

                        {% endif %}
                    {% endfor %}


                </div>
            </div>
            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'pki:domains' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-danger">{% trans 'Delete selected Domains' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}