{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    {% load static %}
    <script src="{% static 'js/domains.js' %}"></script>
    <div class="card">
        <div class="card-header">
            <h1>{{ domain.unique_name }} {% trans "Configuration" %}</h1>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>General</h2>
                    <hr class="hr-m">
                    <div class="tp-kvp-list mb-5">
                        <div>
                            <div>{% trans 'Unique Name' %}</div>
                            <div> {{ domain.unique_name }} </div>
                        </div>


                        <div>
                            <div>{% trans '# Devices' %}</div>
                            <div>{{ domain.devices.count }}</div>
                        </div>


                        <div>
                            <div>{% trans 'Issuing CA' %}</div>
                            <div>
                                <a href="{% url 'pki:issuing_cas-config' pk=domain.issuing_ca.id %}">
                                    {{ domain.issuing_ca.unique_name }}
                                </a>
                            </div>
                        </div>

                        <div>
                            <div>{% trans 'Expiry Date' %}</div>
                            <div> {{ domain.issuing_ca.credential.certificate.not_valid_after }} </div>
                        </div>

                    </div>

                    <h2>{% trans 'Add New DevID Registration Pattern' %}</h2>
                    <hr>
                    <a href="{% url 'pki:devid_registration-method_select' pk=domain.id %}"
                           class="btn btn-primary tp-table-btn min-width-20">
                            {% trans 'Create new DevID Registration Pattern' %}
                    </a>

                    <h2 class="mt-5">{% trans 'DevID Registration Patterns' %}</h2>
                    <hr>

                    {% include 'pki/devid_registration/table.html' %}



                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" value="Back" class="btn btn-secondary btn-half" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:domains' %}" class="btn btn-secondary btn-half">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-primary disabled">{% trans "Save" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}