{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Domain - Details" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <h2>{% trans 'Domain' %}: {{ domain.unique_name }}</h2>
                        <hr class="hr-m">
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Unique Name' %}</div>
                                <div>{{ domain.unique_name }}</div>
                            </div>
                        </div>

                        <h2>Issuing CA</h2>
                        <hr class="hr-m">
                    {% if domain.issuing_ca %}
                        <div class="tp-kvp-list mb-0">
                            <div>
                                <div>{% trans 'Issuing CA - Unique Name' %}</div>
                                <div>
                                        <a href="{% url 'pki:issuing_cas-detail' pk=domain.issuing_ca.id %}">
                                            {{ domain.unique_name }}
                                        </a>
                                </div>
                            
                            </div>
                            <div>
                                <div>{% trans 'Issuing CA Certificate' %}</div>
                                <div>
                                    <a href="{% url 'pki:certificate-detail' pk=domain.issuing_ca.credential.certificate.id %}">
                                        {% if domain.issuing_ca.credential.certificate.common_name %}
                                            CN: {{ domain.issuing_ca.credential.certificate.common_name }}
                                        {% else %}
                                            {% trans 'Issuing CA Certificate' %}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="tp-kvp-list mb-0">
                            <div>
                                <div>{% trans 'No Issuing CA configured' %}</div>
                                <div></div>
                            </div>
                        </div>
                    {% endif %}

                    <br>

                    <h2>{% trans 'DevID Registration' %}</h2>
                    <hr class="hr-m">
                        {% include 'pki/devid_registration/table.html' %}
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="tp-card-btn-footer m-1">
                        <button type="button" value="Back" class="btn btn-secondary btn-half" onClick="history.back()">{% trans 'Back' %}</button>
                        <a href="{% url 'pki:domains' %}" class="btn btn-secondary btn-half">{% trans 'Cancel' %}</a>
                        <a href="{% url 'pki:domains-config' pk=domain.pk%}" class="btn btn-primary">{% trans 'Config' %}</a>
                    </div>
                </div>
        </div>

{% endblock content %}