{% extends 'trustpoint/base.html' %}
{% load i18n %}

{% block content %}

<div class="card" style="max-height: 100%; display: flex; flex-direction: column;">
    <div class="card-header">
        <h1>{% trans 'Domains' %}</h1>
    </div>

    <div class="card-body text-start" style="overflow-y: auto; flex-grow: 1; max-height: 90%;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th id="checkbox-column"><input type="checkbox"/></th>
            <th>
              <a href="?sort={% if current_sort == 'unique_name' %}-{% endif %}unique_name">
                Domain Name
              </a>
            </th>
            <th>
              <a href="?sort={% if current_sort == 'issuing_ca__unique_name' %}-{% endif %}issuing_ca__unique_name">
                Issuing CA Name
              </a>
            </th>
            <th>Details</th>
            <th>Config</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for domain in page_obj %}
          <tr>
            <td class="row_checkbox">
              <input type="checkbox" name="row_checkbox" value="{{ domain.id }}" />
            </td>
            <td>{{ domain.unique_name }}</td>
            <td>{{ domain.issuing_ca.unique_name }}</td>
            <td><a href="detail/{{domain.id}}/" class="btn btn-primary tp-table-btn">Details</a></td>
            <td><a href="config/{{domain.id}}/" class="btn btn-primary tp-table-btn">Config</a></td>
            <td><a href="delete/{{domain.id}}/" class="btn btn-secondary tp-table-btn">Delete</a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">No data available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
      {% include 'trustpoint/pagination.html' %}
    </div>

    <div class="card-footer d-flex justify-content-between tp-sticky-footer">
        <div>
            <button type="button" class="btn btn-secondary tp-table-select-btn" data-tp-url="delete">{% trans "Delete selected" %}</button>
        </div>
        <div>
            <a class="btn btn-primary" href="{% url 'pki:domains-add' %}">
                {% trans "Add new Domain" %}
            </a>
        </div>
    </div>

</div>

{% endblock content %}
