{% extends is_browser_dl|yesno:"users/base.html,trustpoint/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="POST" autocomplete="off">
    {% csrf_token %}

        <div class="card">
                <div class="card-header">
                    <div class="">
                        {% if issued_credential.issued_credential_type == 1 %}
                            <h1>{% trans 'Download Issued' %} {{ issued_credential.get_issued_credential_purpose_display }} {% trans 'Application Certificate' %}</h1>
                        {% else %}
                            <h1>{% trans 'Download Issued Domain Certificate' %}</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <h2>{{ credential_type }} {% trans 'Details' %}</h2>
                        <hr>
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Device' %}</div>
                                <div>{{ issued_credential.device.unique_name }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Domain' %}</div>
                                <div>{{ issued_credential.domain.unique_name }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Issuing CA' %}</div>
                                <div>{{ issued_credential.domain.issuing_ca.unique_name }}</div>
                            </div>
                        </div>
                        <hr>
                        <h2>Certificate Subject</h2>
                        <hr>
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Common Name' %}</div>
                                <div>{{ issued_credential.common_name }}</div>
                            </div>
                            {% if pseudonym %}
                                <div>
                                    <div>{% trans 'Pseudonym' %}</div>
                                    <div>{{ pseudonym }}</div>
                                </div>
                            {% endif %}
                            <div>
                                <div>{% trans 'Domain Component' %}</div>
                                <div>{{ domain_component }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ serial_number }}</div>
                            </div>

                        </div>
                        <hr class="mb-5">
                        <h2 class="mt-5">{% trans 'Download Certificate Only' %}</h2>
                        <hr>
                        <a class="btn btn-primary min-width-15 mb-3" href="{% url 'pki:certificate-file-download' pk=issued_credential.credential.certificate.id file_format='pem' %}">Download as PEM</a><br>
                        <a class="btn btn-primary min-width-15 mb-3" href="{% url 'pki:certificate-file-download' pk=issued_credential.credential.certificate.id file_format='der' %}">Download as DER</a><br>
                        <a class="btn btn-primary min-width-15 mb-3" href="{% url 'pki:certificate-file-download' pk=issued_credential.credential.certificate.id file_format='pkcs7_pem' %}">Download as PKCS#7 (PEM)</a><br>
                        <a class="btn btn-primary min-width-15" href="{% url 'pki:certificate-file-download' pk=issued_credential.credential.certificate.id file_format='pkcs7_der' %}">Download as PKCS#7 (DER)</a><br>
                        <hr>
                        <h2 class="mt-5">{% trans 'Download Certificate Chain Including End-Entity Certificate' %}</h2>
                        <hr>
                        TODO(AlexHx8472)
                        <hr>
                        <h2 class="mt-5">{% trans 'Download Certificate Chain Excluding End-Entity Certificate' %}</h2>
                        <hr>
                        TODO(AlexHx8472)

                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="tp-card-btn-footer m-1">
                        <a href="{% url 'devices:certificate_lifecycle_management' pk=issued_credential.device.id %}" class="btn btn-secondary">{% trans 'Back' %}</a>
                    </div>
                </div>
        </div>
    </form>

{% endblock %}
