{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Device" %} {{ device.unique_name }} - {% trans "Application Credentials" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    {% if device.onboarding_status == device.OnboardingStatus.NO_ONBOARDING %}
                        <h2>{% trans "Issue New Application Credentials" %}</h2>
                        <hr>
                        <a href="{% url 'devices:certificate_lifecycle_management-issue_tls_client_credential' pk=device.id %}" class="btn btn-primary tp-table-btn min-width-20">{% trans "Issue New TLS-Client Credential" %}</a><br>
                        <a href="{% url 'devices:certificate_lifecycle_management-issue_tls_server_credential' pk=device.id %}" class="btn btn-primary tp-table-btn min-width-20 mt-3">{% trans "Issue New TLS-Server Credential" %}</a>

                    {% else %}
                        <h2>{% trans "Issued Domain Credentials" %}</h2>
                        <hr>
                        <div>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <!-- <th id="checkbox-column"><input type="checkbox"/></th> -->
                                    <th>
                                      <a href="#" onclick="updateQueryParam(event, 'sort', 'domain')">
                                        {% trans 'Domain' %}
                                      </a>
                                    </th>
                                    <th>
                                      <a href="#" onclick="updateQueryParam(event, 'sort', 'common_name')">
                                        {% trans 'Common Name (CN)' %}
                                      </a>
                                    </th>
                                    <th>
                                      <a href="#" onclick="updateQueryParam(event, 'sort', 'created_at')">
                                        {% trans 'Issued at' %}
                                      </a>
                                    </th>
                                    <th>
                                      <a href="#" onclick="updateQueryParam(event, 'sort', 'expiration_date')">
                                        {% trans 'Expiration date' %}
                                      </a>
                                    </th>
                                    <th>
                                      <a href="#" onclick="updateQueryParam(event, 'sort', 'expires_in')">
                                        {% trans 'Expires in' %}
                                      </a>
                                    </th>
                                    <th>{% trans 'Download' %}</th>
                                    <th>{% trans 'Revoke' %}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for cred in domain_credentials %}
                                    <tr>
                                        <!-- <td class="row_checkbox"> -->
                                        <!--   <input type="checkbox" name="row_checkbox" value="{{ notification.id }}" /> -->
                                        <!-- </td> -->
                                        <td>{{ cred.domain }}</td>
                                        <td>{{ cred.common_name }}</td>
                                        <td>{{ cred.created_at }}</td>
                                        <td>{{ cred.expiration_date }}</td>
                                        <td>{{ cred.expires_in }}</td>
                                        <td><a href="{% url 'devices:domain_credential_download' cred.id %}" class="btn btn-primary tp-table-btn">
                                            {% trans 'Download' %}
                                        </a></td>
                                        <td>{{ cred.revoke }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="7" class="middle">{% trans 'No domain credential is issued to this device yet.' %}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'trustpoint/pagination.html' with page_obj=domain_credentials %}
                        </div>
                    {% endif %}
                    <div class="mb-5"></div>
                    {% if device.onboarding_protocol == device.OnboardingProtocol.NO_ONBOARDING %}
                        <h2>{% trans "Issued Application Credentials" %}</h2>
                    {% else %}
                        <h2>{% trans "Issued Application Certificates" %}</h2>
                    {% endif %}

                    <hr>

                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                <!-- <th id="checkbox-column"><input type="checkbox"/></th> -->
                                <th>
                                  <a href="#" onclick="updateQueryParam(event, 'sort', 'domain')">
                                    {% trans 'Domain' %}
                                  </a>
                                </th>
                                <th>
                                  <a href="#" onclick="updateQueryParam(event, 'sort', 'common_name')">
                                    {% trans 'Common Name (CN)' %}
                                  </a>
                                </th>
                                <th>
                                  <a href="#" onclick="updateQueryParam(event, 'sort', 'issued_credential_purpose')">
                                    {% trans 'Credential Purpose' %}
                                  </a>
                                </th>
                                <th>
                                  <a href="#" onclick="updateQueryParam(event, 'sort', 'created_at')">
                                    {% trans 'Issued at' %}
                                  </a>
                                </th>
                                <th>
                                  <!-- <a href="#" onclick="updateQueryParam(event, 'sort', 'expiration_date')"> -->
                                    {% trans 'Expiration date' %}
                                  <!-- </a> -->
                                </th>
                                <th>
                                  <!-- <a href="#" onclick="updateQueryParam(event, 'sort', 'expires_in')"> -->
                                    {% trans 'Expires in' %}
                                  <!-- </a> -->
                                </th>
                                <th>{% trans 'Download' %}</th>
                                <th>{% trans 'Revoke' %}</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for cred in application_credentials %}
                                <tr>
                                    <!-- <td class="row_checkbox"> -->
                                    <!--   <input type="checkbox" name="row_checkbox" value="{{ notification.id }}" /> -->
                                    <!-- </td> -->
                                    <td>{{ cred.domain }}</td>
                                    <td>{{ cred.common_name }}</td>
                                    <td>{{ cred.get_issued_credential_purpose_display }}</td>
                                    <td>{{ cred.created_at }}</td>
                                    <td>{{ cred.expiration_date }}</td>
                                    <td>{{ cred.expires_in }}</td>
                                    <td><a href="{% url 'devices:domain_credential_download' cred.id %}" class="btn btn-primary tp-table-btn">
                                        {% trans 'Download' %}
                                    </a></td>
                                    <td>{{ cred.revoke }}</td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="8" class="middle">{% trans 'No application credentials are issued to this device yet.' %}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'trustpoint/pagination.html' with page_param='-a' page_obj=application_credentials is_paginated=is_paginated_a %}
                    </div>
                </div>

                <div class="card-footer">
                    <div class="tp-card-btn-footer">
                        <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Back' %}</a>
                    </div>
                </div>
        </div>

{% endblock content %}