{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="">
                <h1>{% trans "Certificate Lifecycle Management" %}</h1>
            </div>
        </div>
        <div class="card-body">
            <h2>{% trans "Device" %} <a href="{% url details_url pk=device.id %}">{% trans "Details" %}</a></h2>
            <hr class="hr-m">
            <ul class="tp-kvp-list">
                <li>
                    <div>{% trans 'Device Name' %}</div>
                    <div>{{ device.common_name }}</div>
                </li>
                <li>
                    <div>{% trans 'Device Serial Number' %}</div>
                    <div>{{ device.serial_number }}</div>
                </li>
                <li>
                    <div>{% trans 'Domain Credential Onboarding' %}</div>
                    <div>
                        {% if device.onboarding_config %}
                            {% trans 'True' %}
                        {% else %}
                            {% trans 'False' %}
                        {% endif %}
                    </div>
                </li>
                {% if device.onboarding_config %}
                    <li>
                        <div>{% trans 'Onboarding Protocol' %}</div>
                        <div>{{ device.onboarding_config.get_onboarding_protocol_display }}</div>
                    </li>
                    <li>
                        <div>{% trans 'Onboarding Status' %}</div>
                        <div>{{ device.onboarding_config.get_onboarding_status_display }}</div>
                    </li>
                {% endif %}


                <li>
                    <div>{% trans 'Allowed PKI Protocols' %}</div>
                    <div>
                        {% if device.onboarding_config %}
                            {% for protocol in device.onboarding_config.get_pki_protocols %}
                                {{ protocol.label }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% elif device.no_onboarding_config %}
                            {% for protocol in device.no_onboarding_config.get_pki_protocols %}
                                {{ protocol.label }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            {% trans "No PKI Protocols Configured" %}
                        {% endif %}
                    </div>
                </li>


                <li>
                    <div>{% trans 'Domain' %}</div>
                    <div>
                        {% if device.domain %}
                            <a href="{% url 'pki:domains-detail' pk=device.domain.id %}">
                                {{ device.domain.unique_name }}
                            </a>
                        {% else %}
                            {% trans 'This device is not part of any domain.' %}
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div>{% trans 'Signature Suite' %}</div>
                    <div>{{ device.public_key_info }}</div>
                </li>
            </ul>
            <hr class="mb-5">
            {% if not device.onboarding_config %}
                {% if device.pki_protocol == device.PkiProtocol.MANUAL.value %}
                    <h2>{% trans "Issue new Application Credentials" %}</h2>
                    <hr>
                    <div class="d-flex flex-wrap align-items-start gap-2">
                        <a href="{% url issue_tls_client_cred_url pk=device.id %}"
                           class="btn btn-primary tp-table-btn min-width-20">{% trans "TLS-Client Credential" %}</a>
                        <a href="{% url issue_tls_server_cred_url pk=device.id %}"
                           class="btn btn-primary tp-table-btn min-width-20">{% trans "TLS-Server Credential" %}</a>
                    </div>
                    <br>
                    <div class="d-flex flex-wrap align-items-start gap-2">
                        <a href="{% url issue_opc_ua_client_cred_url pk=device.id %}"
                           class="btn btn-primary tp-table-btn min-width-20">{% trans "OPC UA Client Credential" %}</a>
                        <a href="{% url issue_opc_ua_server_cred_url pk=device.id %}"
                           class="btn btn-primary tp-table-btn min-width-20">{% trans "OPC UA Server Credential" %}</a>
                        <div class="mb-5"></div>
                    </div>
                    <br>
                {% endif %}
            {% else %}
                <h2 class="d-flex justify-content-between align-items-center">
                    <span>{% trans "Issued Domain Credentials" %}</span>
                    <a href="{% url help_dispatch_domain_url pk=device.pk %}" class="btn btn-primary"
                       style="width: 25rem;">
                        {% trans "Help - Issue new Domain Credentials" %}
                    </a>
                </h2>
                <hr>
                <div class="mb-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <!-- <th id="checkbox-column"><input type="checkbox"/></th> -->
                            <th>
                                <a href="#" onclick="updateQueryParam(event, 'sort', 'domain')">
                                    {% trans 'Domain' %}
                                </a>
                            </th>
                            <th>
                                <a href="#" onclick="updateQueryParam(event, 'sort', 'common_name')">
                                    {% trans 'Common Name (CN)' %}
                                </a>
                            </th>
                            <th>
                                <a href="#" onclick="updateQueryParam(event, 'sort', 'created_at')">
                                    {% trans 'Issued at' %}
                                </a>
                            </th>
                            <th>
                                <a href="#" onclick="updateQueryParam(event, 'sort', 'expiration_date')">
                                    {% trans 'Expiration date' %}
                                </a>
                            </th>
                            <th>
                                <a href="#" onclick="updateQueryParam(event, 'sort', 'expires_in')">
                                    {% trans 'Expires in' %}
                                </a>
                            </th>
                            <th>{% trans 'Download' %}</th>
                            <th>{% trans 'Revoke' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cred in domain_credentials %}
                            <tr>
                                <!-- <td class="row_checkbox"> -->
                                <!--   <input type="checkbox" name="row_checkbox" value="{{ notification.id }}" /> -->
                                <!-- </td> -->
                                <td>{{ cred.domain }}</td>
                                <td>{{ cred.common_name }}</td>
                                <td>{{ cred.created_at }}</td>
                                <td>{{ cred.expiration_date }}</td>
                                <td>{{ cred.expires_in }}</td>
                                <td><a href="{% url download_url cred.id %}" class="btn btn-primary tp-table-btn">
                                    {% trans 'Download' %}
                                </a></td>
                                <td>{{ cred.revoke }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7"
                                    class="middle">{% trans 'No domain credential is issued to this device yet.' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'trustpoint/pagination.html' with page_obj=domain_credentials %}
            {% endif %}

            {% if device.onboarding_config %}
                {% if device.onboarding_config.onboarding_protocol != 0 %}
                    <h2 class="d-flex justify-content-between align-items-center">
                        <span>{% trans "Issued Application Credentials" %}</span>

                        {% if device.onboarding_config.onboarding_status == 1 %}
                            <a href="{% url help_dispatch_device_type_url pk=device.pk %}"
                               class="btn btn-secondary pe-none"
                               style="width: 25rem;" aria-disabled="true">
                                {% trans "Help - Issue new Application Credentials" %}
                            </a>
                        {% else %}
                            <a href="{% url help_dispatch_device_type_url pk=device.pk %}" class="btn btn-primary"
                               style="width: 25rem;">
                                {% trans "Help - Issue new Application Credentials" %}
                            </a>
                        {% endif %}

                    </h2>
                {% else %}
                    <h2>{% trans "Issued Application Credentials" %}</h2>
                {% endif %}
            {% elif device.no_onboarding_config %}
                {% comment %}Check if any protocol other than MANUAL (16) is enabled{% endcomment %}
                {% if device.no_onboarding_config.pki_protocols != 16 and device.no_onboarding_config.pki_protocols != 0 %}
                    <h2 class="d-flex justify-content-between align-items-center">
                        <span>{% trans "Issued Application Credentials" %}</span>
                        <a href="{% url help_dispatch_device_type_url pk=device.pk %}" class="btn btn-primary"
                           style="width: 25rem;">
                            {% trans "Help - Issue new Application Credentials" %}
                        </a>
                    </h2>
                {% else %}
                    <h2>{% trans "Issued Application Credentials" %}</h2>
                {% endif %}
            {% else %}
                <h2>{% trans "Issued Application Credentials" %}</h2>
            {% endif %}

            <hr>

            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <a href="#" onclick="updateQueryParam(event, 'sort', 'domain')">
                                {% trans 'Domain' %}
                            </a>
                        </th>
                        <th>
                            <a href="#" onclick="updateQueryParam(event, 'sort', 'common_name')">
                                {% trans 'Common Name (CN)' %}
                            </a>
                        </th>
                        <th>
                            <a href="#" onclick="updateQueryParam(event, 'sort', 'issued_credential_purpose')">
                                {% trans 'Credential Purpose' %}
                            </a>
                        </th>
                        <th>
                            <a href="#" onclick="updateQueryParam(event, 'sort', 'created_at')">
                                {% trans 'Issued at' %}
                            </a>
                        </th>
                        <th>
                            {% trans 'Expiration date' %}
                        </th>
                        <th>
                            {% trans 'Expires in' %}
                        </th>
                        <th>{% trans 'Download' %}</th>
                        <th>{% trans 'Revoke' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cred in application_credentials %}
                        <tr>
                            <td>{{ cred.domain }}</td>
                            <td>{{ cred.common_name }}</td>
                            <td>{{ cred.get_issued_credential_purpose_display }}</td>
                            <td>{{ cred.created_at }}</td>
                            <td>{{ cred.expiration_date }}</td>
                            <td>{{ cred.expires_in }}</td>
                            <td><a href="{% url download_url cred.id %}" class="btn btn-primary tp-table-btn">
                                {% trans 'Download' %}
                            </a></td>
                            <td>{{ cred.revoke }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8"
                                class="middle">{% trans 'No application credentials are issued to this device yet.' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'trustpoint/pagination.html' with page_param='-a' page_obj=application_credentials is_paginated=is_paginated_a %}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="tp-card-btn-footer m-1">
                <a href="{% url main_url %}" class="btn btn-secondary">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>

{% endblock content %}