{% extends is_browser_dl|yesno:"users/base.html,trustpoint/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <form method="POST" autocomplete="off">
    {% csrf_token %}

        <div class="card">
                <div class="card-header">
                    <div class="">
                        <h1>{{ credential_type }} {% trans 'Download' %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <h2>{{ credential_type }} {% trans 'Details' %}</h2>
                        <hr>
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Device' %}</div>
                                <div>{{ issued_credential.device.unique_name }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Domain' %}</div>
                                <div>{{ issued_credential.domain.unique_name }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Issuing CA' %}</div>
                                <div>{{ issued_credential.domain.issuing_ca.unique_name }}</div>
                            </div>
                        </div>
                        <hr>
                        <h2>Certificate Subject</h2>
                        <hr>
                        <div class="tp-kvp-list">
                            <div>
                                <div>{% trans 'Common Name' %}</div>
                                <div>{{ issued_credential.common_name }}</div>
                            </div>
                            {% if pseudonym %}
                                <div>
                                    <div>{% trans 'Pseudonym' %}</div>
                                    <div>{{ pseudonym }}</div>
                                </div>
                            {% endif %}
                            <div>
                                <div>{% trans 'Domain Component' %}</div>
                                <div>{{ domain_component }}</div>
                            </div>
                            <div>
                                <div>{% trans 'Serial Number' %}</div>
                                <div>{{ serial_number }}</div>
                            </div>

                        </div>
                        <hr class="mb-5">
                        <h2>{{ credential_type }} {% trans 'Download' %}</h2>
                        <hr>
                        {{ form|crispy }}
                        <hr>
                        <button type="submit" class="btn btn-primary min-width-42 mb-3" name="file_format" value="{{ FileFormat.PKCS12.value }}">{% trans 'Download as PKCS#12' %}</button><br>
                        <button type="submit" class="btn btn-primary min-width-42 mb-3" name="file_format" value="{{ FileFormat.PEM_ZIP.value }}">{% trans 'Download as ZIP (PEM)' %}</button><br>
                        <button type="submit" class="btn btn-primary min-width-42" name="file_format" value="{{ FileFormat.PEM_TAR_GZ.value }}">{% trans 'Download as TAR.GZ (PEM)' %}</button>

                        {% if not is_browser_dl %}
                        <hr>
                            <a href="{% url 'devices:browser_otp_view' pk=issued_credential.id %}"  class="btn btn-primary min-width-42">{% trans 'Download on Device browser' %}</a>
                        {% endif %}
                    </div>
                </div>
            {% if not is_browser_dl %}
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'devices:certificate_lifecycle_management' pk=issued_credential.device.id %}" class="btn btn-secondary">{% trans 'Back' %}</a>
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </form>

{% endblock %}