{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
<form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="card">
        <div class="card-header"><h1>{% trans 'Sign Existing CSR' %}</h1></div>
        <div class="card-body">
            <div class="tp-card-centered-content">
                {{ form|crispy }}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a href="{% url method_url pk=device.pk profile_id=profile.pk %}" class="btn btn-secondary">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-primary">{% trans 'Issue Application Credential' %}</button>
        </div>
    </div>
</form>
{% endblock content %}