{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{{ heading }}</h1>
                </div>
            </div>
            <div class="card-body">
                {% for section in sections %}
                <div class="mb-5">
                    <h2>{{ section.heading }}</h2>
                    <hr>
                    <p>{{ section.description }}</p>
                    <a href="{% url section.url pk=device.pk %}" class="btn min-width-30{% if section.enabled == False %} btn-secondary disabled" disabled {% else %} btn-primary" {% endif %}>{{ section.heading }}</a>
                </div>
                {% endfor %}

            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url clm_url pk=device.pk %}" class="btn btn-secondary min-width-30">{% trans "Cancel" %}</a>
                </div>
            </div>
        </div>


{% endblock content %}