{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Manual Onboarding" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tp-card-centered-content">
                        <h2>Onboarding Summary</h2>
                        <hr>


                        <hr>
                        <div class="tp-card-btn-footer">
                            <a href="{% url 'devices:devices' %}" class="btn btn-success">{% trans 'Confirm' %}</a>
                        </div>
                    </div>
                </div>
        </div>

{% endblock content %}