
{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card card-main text-center">
        <div class="card-header d-flex">
            <h1>{% trans "Generate a local CA signed by a local Root CA" %}</h1>
        </div>
        <div class="card-body tp-main-centered pt-3 pb-4">

            <div class="alert alert-info" role="alert">
                {% trans "The Issuing CA to be created will use the same algorithm as the selected Root CA." %}
            </div>
            <form method="POST" class="tp-main-form text-start" id="add-est-request-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="tp-form-btn-group tp-form-btn-group mt-5">
                    <a href="{% url 'pki:issuing_cas' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                    <button class="btn btn-primary w-100 mt-1" type="submit" name="add-local-signed-ca">{% trans "Generate locally signed CA" %}</button>
                </div>
            </form>

        </div>

    </div>
{% endblock content %}