{% load i18n %}
{% block key_usage_extension %}

        <h2>{% trans 'Key Usage Extension' %}</h2><hr class="hr-m">
        {% if cert.key_usage_extension %}
<div class="tp-kvp-list">

            <div>
                <div>{% trans 'Extension OID' %}</div>
                <div>{{ cert.key_usage_extension.extension_oid }}</div>
            </div>
            <div>
                <div>{% trans 'Critical' %}</div>
                <div>{{ cert.key_usage_extension.critical }}</div>
            </div>
            <hr>
            <div>
                <div>{% trans 'Digital Signature' %}</div>
                <div>{{ cert.key_usage_extension.digital_signature }}</div>
            </div>
            <div>
                <div>{% trans 'Content Commitment' %}</div>
                <div>{{ cert.key_usage_extension.content_commitment }}</div>
            </div>
            <div>
                <div>{% trans 'Key Encipherment' %}</div>
                <div>{{ cert.key_usage_extension.key_encipherment }}</div>
            </div>
            <div>
                <div>{% trans 'Data Encipherment' %}</div>
                <div>{{ cert.key_usage_extension.data_encipherment }}</div>
            </div>
            <div>
                <div>{% trans 'Key Agreement' %}</div>
                <div>{{ cert.key_usage_extension.key_agreement }}</div>
            </div>
            <div>
                <div>{% trans 'Key Cert Sign' %}</div>
                <div>{{ cert.key_usage_extension.key_cert_sign }}</div>
            </div>
            <div>
                <div>{% trans 'CRL Sign' %}</div>
                <div>{{ cert.key_usage_extension.crl_sign }}</div>
            </div>
            <div>
                <div>{% trans 'Encipher Only' %}</div>
                <div>{{ cert.key_usage_extension.encipher_only }}</div>
            </div>
            <div>
                <div>{% trans 'Decipher Only' %}</div>
                <div>{{ cert.key_usage_extension.decipher_only }}</div>
            </div>
        </div>
             {% else %}
<div class="tp-kvp-list">
            <div>
                <div>{% trans 'No Key Usage Extension' %}</div>

                </div>
        </div>

    {% endif %}
{% endblock key_usage_extension %}