{% block key_usage_extension %}
    {% if cert.key_usage_extension %}
        <h2>Key Usage Extension</h2><hr class="hr-m">
        <div class="tp-kvp-list">
            <div>
                <div>Extension OID</div>
                <div>{{ cert.key_usage_extension.extension_oid }}</div>
            </div>
            <div>
                <div>Critical</div>
                <div>{{ cert.key_usage_extension.critical }}</div>
            </div>
            <hr>
            <div>
                <div>Digital Signature</div>
                <div>{{ cert.key_usage_extension.digital_signature }}</div>
            </div>
            <div>
                <div>Content Commitment</div>
                <div>{{ cert.key_usage_extension.content_commitment }}</div>
            </div>
            <div>
                <div>Key Encipherment</div>
                <div>{{ cert.key_usage_extension.key_encipherment }}</div>
            </div>
            <div>
                <div>Data Encipherment</div>
                <div>{{ cert.key_usage_extension.data_encipherment }}</div>
            </div>
            <div>
                <div>Key Agreement</div>
                <div>{{ cert.key_usage_extension.key_agreement }}</div>
            </div>
            <div>
                <div>Key Cert Sign</div>
                <div>{{ cert.key_usage_extension.key_cert_sign }}</div>
            </div>
            <div>
                <div>CRL Sign</div>
                <div>{{ cert.key_usage_extension.crl_sign }}</div>
            </div>
            <div>
                <div>Encipher Only</div>
                <div>{{ cert.key_usage_extension.encipher_only }}</div>
            </div>
            <div>
                <div>Decipher Only</div>
                <div>{{ cert.key_usage_extension.decipher_only }}</div>
            </div>
        </div>

    {% endif %}
{% endblock key_usage_extension %}