{% load i18n %}
{% block subject_alternative_name_extension_content %}
    {% if cert.subject_alternative_name_extension and cert.subject_alternative_name_extension.subject_alt_name %}
        <div class="tp-kvp-list">
            {% if cert.subject_alternative_name_extension.subject_alt_name.rfc822_names.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'RFC822 Names (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.rfc822_names.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if cert.subject_alternative_name_extension.subject_alt_name.dns_names.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'DNS Names (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.dns_names.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if cert.subject_alternative_name_extension.subject_alt_name.directory_names.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'Directory Names (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.directory_names.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if cert.subject_alternative_name_extension.subject_alt_name.uniform_resource_identifiers.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'Uniform Resource Identifiers (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.uniform_resource_identifiers.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if cert.subject_alternative_name_extension.subject_alt_name.ip_addresses.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'IP Addresses (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.ip_addresses.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if cert.subject_alternative_name_extension.subject_alt_name.registered_ids.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'Registered IDs (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.registered_ids.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if cert.subject_alternative_name_extension.subject_alt_name.other_names.all %}
                <div class="tp-kvp">
                    <div class="tp-key">{% trans 'Other Names (SAN)' %}</div>
                    <div class="tp-value">
                        {% for entry in cert.subject_alternative_name_extension.subject_alt_name.other_names.all %}
                            {{ entry }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock subject_alternative_name_extension_content %}
