{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load render_table from django_tables2 %}

{% block content %}

        <div class="card">

                <div class="card-header">
                    <div class="">
                        <h1>{% trans "Device" %} {{ device.unique_name }} - {% trans "Application Credentials" %}</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h2>{% trans 'Download' %}{{ certificate_type }}{%  trans 'Credential' %}</h2>
                    <hr>
                    <button class="btn btn-primary mb-3 min-width-20" name="action" value="pkcs12">Download as PKCS#12 File</button><br>
                    <button class="btn btn-primary mb-3 min-width-20" name="action" value="pkcs12">Download as PEM Files (zip)</button><br>
                    <button class="btn btn-primary min-width-20" name="action" value="pkcs12">Download as PEM Files (tar.gz)</button><br>
                    <hr>
                </div>

                <div class="card-footer">
                    <div class="tp-card-btn-footer">
                        <a href="{% url 'devices:devices' %}" class="btn btn-danger">{% trans 'Cancel Issuance' %}</a>
                        <a href="{% url 'devices:devices' %}" class="btn btn-primary">{% trans 'Confirm Successful Download' %}</a>
                    </div>
                </div>
        </div>

{% endblock content %}