{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <h1>{% trans 'Confirm Truststore Deletion' %}</h1>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    {% if truststores %}
                        {% for truststore in truststores %}
                            <h2>({{ forloop.counter }}) {% trans 'Truststore' %}: {{ truststore.unique_name }}</h2>
                            <hr class="hr-m">
                            {% include 'pki/truststores/sub_details.html' with truststore=truststore %}
                            <input type="hidden" name="truststore_ids" value="{{ truststore.id }}">
                        {% empty %}
                            <p>{% trans 'No Truststores selected.' %}</p>
                        {% endfor %}
                    {% else %}
                        <p>{% trans 'No Truststores found.' %}</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <button type="button" class="btn btn-secondary btn-half" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'pki:truststores' %}" class="btn btn-secondary btn-half">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-danger">{% trans 'Delete Truststores' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
