{% load i18n %}
{% block sub_details %}
    <div>
        <div>
            {% for context in cert_context %}
                <div>
                    <a href="{% url 'pki:certificate-detail' pk=context.certificate.id %}" class="btn btn-primary">
                        {{ context.certificate.common_name }}
                    </a>
                </div>
                <br>

                <div class="tp-kvp-list">
                    <div>
                        <div>Subject</div>
                        <div>
                            {% include 'pki/truststores/subject_table.html' with entries=context.subject_entries %}
                        </div>

                    </div>

                    <div>
                        <div>Issuer</div>
                        <div>
                        {% include 'pki/truststores/subject_table.html' with entries=context.issuer_entries  %}
                    </div>

                    </div>
                    <div>
                        <div>{% trans 'Serial Number' %}</div>
                        <div>{{ context.certificate.serial_number }}</div>
                    </div>
                    <div>
                        <div>Fingerprint (SHA256)</div>
                        <div>{{ context.certificate.sha256_fingerprint }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock sub_details %}
