{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="card card-main text-center">
        <div class="card-header d-flex">
            <h1>Add Device</h1>
        </div>
        <div class="card-body tp-main-centered py-3">

            <form method="POST" class="tp-main-form text-start" id="add-device-form">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <div class="tp-form-btn-group">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" class="btn btn-primary" value="{% trans 'Add Device' %}">
                </div>
            </form>

        </div>


    </div>
{% endblock content %}