{% extends 'trustpoint/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card card-main text-center">
            <div class="card-header d-flex">
                <h1>Confirm Delete - Devices</h1>
            </div>
            <div class="card-body tp-main-centered py-3">

                {% for object in objects %}
                    {% include 'devices/sub_details.html' with device=object %}
                {% endfor %}

                <div class="alert alert-info d-flex align-items-center mt-1" role="alert">  
                    <svg class="bi flex-shrink-0 me-2" width="20" height="20" fill="currentColor" role="img" aria-label="State: "><use xlink:href="{% static 'img/icons.svg' %}#icon-info"/></svg>
                    <div>{% trans "Deletion will revoke any certificates issued to devices with reason code 'Cessation of Operation'" %}</div>
                </div>

                <hr>
                <div class="tp-form-btn-group tp-form-btn-group">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Confirm Delete">
                </div>
            </div>
        </div>
    </form>

{% endblock content %}