{% extends 'trustpoint/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card card-main text-center">
            <div class="card-header d-flex">
                <h1>Confirm Delete - Devices</h1>
            </div>
            <div class="card-body tp-main-centered pt-3 pb-4">

                {% for object in objects %}
                    {% include 'devices/sub_details.html' with device=object %}
                {% endfor %}

                <hr>
                <div class="tp-form-btn-group tp-form-btn-group pt-5">
                    <a href="{% url 'devices:devices' %}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Confirm Delete">
                </div>

            </div>
        </div>
    </form>

{% endblock content %}