{% extends 'trustpoint/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card card-main text-center">
            <div class="card-header d-flex">
                <h1>Details - Device</h1>
            </div>
            <div class="card-body tp-main-centered pt-3 pb-4">

                <h2 class="pt-5 text-start">Device</h2>
                <hr>
                <ul class="list-group list-group-flush text-start tp-form-grid-2-2">
                    <li class="list-group-item"><span><strong>Device Name:</strong></span><span>{{ object.device_name }}</span></li>
                    <li class="list-group-item"><span><strong>Serial Number:</strong></span><span>{{ object.serial_number }}</span></li>
                </ul>

                <div class="tp-form-btn-group tp-form-btn-group mt-5">
                    <a href="{% url 'devices:devices' %}" class="btn btn-primary">Back</a>
                </div>

            </div>
        </div>
    </form>

{% endblock content %}