{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header d-flex">
                <h1>{% trans 'Details - Device' %} {{ device.device_name }}</h1>
            </div>
            <div class="card-body py-3">

                {% include 'devices/sub_details.html' %}

                <div class="tp-form-btn-group tp-form-btn-group mt-3">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <a href="{% url 'devices:devices-config' device.pk %}" class="btn btn-primary tp-table-btn">{% trans 'Edit' %}</a>
                    <!-- {{ onboarding_button|safe }} -->
                </div>
            </div>
        </div>
    </form>

{% endblock content %}
