{% block sub_details %}
    <h2 class="text-start">{{ device.device_name }}</h2>
    <hr class="hr-m">
    <ul class="tp-kvp-list">
        <li>
            <div>Serial Number</div>
            <div>{{ device.device_serial_number }}</div>
        </li>
        <li>
            <div>Domain</div>
            <div>
                {% if device.domain %}
                    <a href="{% url 'pki:domains-detail' pk=device.domain.id %}">
                        {{ device.domain.unique_name }}
                    </a>
                {% else %}
                    This device is not part of any domain.
                {% endif %}
            </div>
        </li>
        <li>
            <div>Certificate serial number</div>
            <div>
                {% if device.ldevid %}
                    <a href="{% url 'pki:certificate-detail' pk=object.ldevid.id %}">
                        {{ device.ldevid.serial_number }}
                    </a>
                {% else %}
                    No certificate associated with this device.
                {% endif %}
            </div>
        </li>
        <li>
            <div>Device onboarding status</div>
            <div>{{ device.get_device_onboarding_status_display }}</div>
        </li>
    </ul>
{% endblock sub_details %}