{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}
<form method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <div>
                <h1>{% trans 'Create Pending Rollover Credential' %}</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="tp-card-centered-content">
                <h2>{% trans 'Rollover Credential Details' %}</h2>
                <hr>
                <p>{% trans 'The active Issuing CA remains unchanged until rollover activation.' %}</p>
                {{ form|crispy }}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="tp-card-btn-footer m-1">
                <a href="{% url 'pki:issuing_cas-rollover-method-select' pk=issuing_ca.pk %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-primary">{% trans 'Continue' %}</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
