{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}

    <div class="card card-main text-center">
        <div class="card-header tp-card-header">
            <h1>{% trans "Endpoint Profiles" %}</h1>
            <div></div>
            <!-- Button trigger modal -->
            <a id="tp-table-add-endpoint-profile" type="button" class="btn btn-primary" href="{% url 'pki:endpoint_profiles-add' %}">
                {% trans "Add new Endpoint Profile" %}
            </a>
        </div>
        <div class="card-body text-start">

            {% render_table table %}

        </div>
        <div class="card-footer tp-table-footer-btn-group">
            <button id="tp-table-delete-selected" type="button" class="btn btn-secondary">{% trans "Delete selected" %}</button>
        </div>


    </div>
{% endblock content %}