{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card card-main text-center">
        <div class="card-header d-flex">
            <h1>Add local root CA</h1>
        </div>
        <div class="card-body tp-main-centered pt-3 pb-4">


            <form method="POST" class="tp-main-form text-start" id="add-root-ca-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="tp-form-btn-group tp-form-btn-group mt-5">
                    <a href="{% url 'pki:root_cas' %}" class="btn btn-secondary">Cancel</a>
                    <button class="btn btn-primary w-100 mt-1" type="submit" name="add-root-ca">Add local root CA</button>
                </div>
            </form>

        </div>


    </div>
{% endblock content %}