{% extends 'trustpoint/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="card card-main text-center">
            <div class="card-header d-flex">
                <h1>Details - Root CA - {{ object.unique_name }}</h1>
            </div>
            <div class="card-body tp-main-centered pt-3 pb-4">

                {% for cert in certs %}

                    <h2 class="{% if not forloop.first %}pt-5{% endif %} text-start">{{ cert.heading }}</h2>
                    <hr>
                    <ul class="list-group list-group-flush text-start tp-form-grid-2-2">
                        {% for key, val in cert.items %}
                            {% if key != 'heading' and key != 'Extensions' %}
                                <li class="list-group-item"><span><strong>{{ key }}:</strong></span><span>{{ val }}</span></li>
                            {% endif %}
                        {% endfor %}


                    {% if cert.Extensions %}
                        <li class="list-group-item"></li>
                        {% for key, val in cert.Extensions.items %}
                            <li class="list-group-item"><span><strong>{{ key }}:</strong></span><span>{{ val }}</span></li>
                        {% endfor %}
                    {% endif %}
                    {{ cert.Extensions }}
                    </ul>

                {% endfor %}

                <div class="tp-form-btn-group tp-form-btn-group mt-5">
                    <a href="{% url 'pki:root_cas' %}" class="btn btn-primary">Back</a>
                </div>

            </div>
        </div>
    </form>

{% endblock content %}