{% extends 'trustpoint/base.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block content %}
    <div class="card card-main text-center">
        <div class="card-header tp-card-header">
            <h1>{% trans "Root CAs" %}</h1>
            <div></div>
            <a id="modal-button" type="button" class="btn btn-primary" href="{% url 'pki:root_cas-add' %}">
                {% trans "Add new local Root CA" %}
            </a>
        </div>
        <div class="card-body text-start">

            {% render_table table %}

        </div>
        <div class="card-footer tp-table-footer-btn-group">
            <button id="tp-table-delete-selected" type="button" class="btn btn-secondary">{% trans "Delete selected" %}</button>
        </div>

    </div>
{% endblock content %}