{% extends 'trustpoint/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <form action="{% url cred_revoke_url pk=issued_credential.pk %}" method="post" style="display: inline;">
        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <div>
                    <h1>{% trans 'Confirm Credential Revocation' %}</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="tp-card-centered-content">
                    <h2>{% trans 'Revoke Credential' %}</h2>
                    <hr class="hr-m">
                    <div class="tp-kvp-list">
                        <div>
                            <div>{% trans 'Common Name' %}</div>
                            <div>
                                {% if cert %}
                                <a href="{% url 'pki:certificate-detail' pk=cert.pk %}">
                                    {{ issued_credential.common_name }}
                                </a>
                                {% else %}
                                {{ issued_credential.common_name }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if cert %}
                {% with cert=cert %}
                {% include 'pki/certificates/components/subject_and_names.html' %}
                {% include 'pki/certificates/components/hierarchy.html' %}
                {% include 'pki/certificates/components/validity.html' %}
                {% include 'pki/certificates/components/subject_public_key_info.html' %}
                {% include 'pki/certificates/components/signature.html' %}
                {% endwith %}
                {% endif %}

                <hr>
                {{ revoke_form.revocation_reason | as_crispy_field }}

            </div>
            <div class="card-footer d-flex">
                <div class="tp-card-btn-footer m-1">
                    <a href="{% url 'pki:owner_credentials-clm' pk=issued_credential.owner_credential.pk %}"
                       class="btn btn-secondary">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn btn-danger">
                        {% trans 'Revoke Credential' %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
