{% block basic_constraints_extension %}
    {% if cert.basic_constraints_extension %}
        <br><br><h3>Basic Constraints Extension</h3><hr>
        <div class="tp-card-split">
            <div>Extension OID</div>
            <div>{{ cert.basic_constraints_extension.extension_oid }}</div>
        </div>
        <div class="tp-card-split">
            <div>Critical</div>
            <div>{{ cert.basic_constraints_extension.critical }}</div>
        </div>
        <hr>
        <div class="tp-card-split">
            <div>CA</div>
            <div>{{ cert.basic_constraints_extension.ca }}</div>
        </div>
        <div class="tp-card-split">
            <div>Path Length Constraint</div>
            <div>{{ cert.basic_constraints_extension.path_length_constraint }}</div>
        </div>
    {% endif %}
{% endblock basic_constraints_extension %}