{% block subject_alternative_name_extension %}
    {% if cert.subject_alternative_name_extension %}
        <br><br><h3>Subject Alternative Name (SAN) Extension</h3><hr>
        <div class="tp-card-split">
            <div>Extension OID</div>
            <div>{{ cert.subject_alternative_name_extension.extension_oid }}</div>
        </div>
        <div class="tp-card-split">
            <div>Critical</div>
            <div>{{ cert.subject_alternative_name_extension.critical }}</div>
        </div>
        {% include 'pki/certificates/components/extensions/subject_alternative_name_extension_content.html' %}
    {% endif %}
{% endblock subject_alternative_name_extension %}