{% block subject_alternative_name_extension_content %}
    {% if cert.subject_alternative_name_extension %}
        {% if cert.subject_alternative_name_extension.rfc822_names and cert.subject_alternative_name_extension.rfc822_names.all %}
            <div class="tp-card-split">
                <div>RFC822 Names (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.rfc822_names.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if cert.subject_alternative_name_extension.dns_names and  cert.subject_alternative_name_extension.dns_names.all %}
            <div class="tp-card-split">
                <div>DNS Names (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.dns_names.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if cert.subject_alternative_name_extension.directory_names and  cert.subject_alternative_name_extension.directory_names.all %}
            <div class="tp-card-split">
                <div>Directory Names (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.directory_names.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if cert.subject_alternative_name_extension.uniform_resource_identifiers and  cert.subject_alternative_name_extension.uniform_resource_identifiers.all %}
            <div class="tp-card-split">
                <div>Uniform Resource Identifiers (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.uniform_resource_identifiers.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if cert.subject_alternative_name_extension.ip_addresses and  cert.subject_alternative_name_extension.ip_addresses.all %}
            <div class="tp-card-split">
                <div>Uniform Resource Identifiers (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.ip_addresses.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if cert.subject_alternative_name_extension.registered_ids and  cert.subject_alternative_name_extension.registered_ids.all %}
            <div class="tp-card-split">
                <div>Uniform Resource Identifiers (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.registered_ids.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if cert.subject_alternative_name_extension.other_names and  cert.subject_alternative_name_extension.other_names.all %}
            <div class="tp-card-split">
                <div>Other Names (SAN)</div>
                <div>
                    {% for entry in cert.subject_alternative_name_extension.other_names.all %}
                        {{ entry }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% endif %}
{% endblock subject_alternative_name_extension_content %}