{% load i18n %}

{% block table_filter %}
  <div class="mb-3">
    <div class="card-body pb-0">
      <button
        class="btn btn-sm btn-outline-secondary mb-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#filterCollapse"
        aria-expanded="{% if request.GET %}true{% else %}false{% endif %}"
        aria-controls="filterCollapse"
      >
        {% trans 'Filters' %}
      </button>
    </div>

    <div class="collapse{% if request.GET %} show{% endif %}" id="filterCollapse">
      <div class="card-body">
        <form method="get" class="row gx-3 gy-2 align-items-end">

          <div class="col-md-3">
            <label for="{{ filter.form.device_name.id_for_label }}" class="form-label">
              {{ filter.form.device_name.label }}
            </label>
            {{ filter.form.device_name }}
          </div>

          <div class="col-md-3">
            <label for="{{ filter.form.domain.id_for_label }}" class="form-label">
              {{ filter.form.domain.label }}
            </label>
            {{ filter.form.domain }}
          </div>

          <div class="col-md-2">
            <label for="{{ filter.form.protocol.id_for_label }}" class="form-label">
              {{ filter.form.protocol.label }}
            </label>
            {{ filter.form.protocol }}
          </div>

          <div class="col-md-2">
            <label for="{{ filter.form.workflow.id_for_label }}" class="form-label">
              {{ filter.form.workflow.label }}
            </label>
            {{ filter.form.workflow }}
          </div>

          <div class="col-md-2">
            <label for="{{ filter.form.workflow.id_for_label }}" class="form-label">
              {{ filter.form.state.label }}
            </label>
            {{ filter.form.state }}
          </div>

          <div class="col-md-4 mt-2">
            <label class="form-label d-block">
              {% trans 'Requested between' %}
            </label>
            <div class="d-flex gap-2">
              {{ filter.form.requested_from }}
              {{ filter.form.requested_to }}
            </div>

            <div class="mt-2 text-start">
              <button type="submit" class="btn btn-sm btn-primary me-2">
                {% trans 'Apply' %}
              </button>
              <a href="{% url table_url %}" class="btn btn-sm btn-outline-secondary">
                {% trans 'Reset' %}
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock table_filter %}
