{% extends 'trustpoint/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header d-flex">
            <h1>{% trans 'Edit Device' %}</h1>
        </div>
        <div class="card-body py-3">
            <form method="POST" id="edit-device-form">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <div class="tp-form-btn-group">
                    <button type="button" value="Back" class="btn btn-secondary" onClick="history.back()">{% trans 'Back' %}</button>
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Apply Changes' %}
                    </button>
                </div>
            </form>
        </div>


    </div>
{% endblock content %}