name: R_006

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      backup_name:
        description: 'Name for the backup (without .dump.gz)'
        required: false
        default: 'ci_backup'

jobs:
  backup-and-restore:
    uses: ./.github/workflows/backup-restore.yml
    with:
      artifact_name: ${{ inputs.backup_name }}
