name: R_103

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/behave-test-template.yml
    permissions:
      contents: read
    with:
      feature_file: R_103_domain_management
