name: R_104

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/behave-test-template.yml
    permissions:
      contents: read
    with:
      feature_file: R_104_truststore_management
