name: Ruff

on: [ pull_request ]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install and run ruff
        uses: astral-sh/ruff-action@v3