name: ZAP Baseline Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  release:
    types: [published]

jobs:
  zap-baseline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Start Trustpoint via docker-compose
        run: |
          docker compose -f docker-compose.yml up -d
          # give the app time to start
          sleep 60

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://localhost:80"
          fail_action: true                 # fail on medium/high alerts
          cmd_options: "-a"
          artifact_name: "zap-scan-results"

      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.yml down
